<div class="row">
	<% 3.times do |i| %>
		<div class="4u">
			<%= erb :'items/gemas/calibre', locals: { i: i } %>
		</div>
	<% end%>
</div>
<div class="row">
	<% 3.times do |i| %>
		<div class="4u">
			<%= erb :'items/gemas/calibre', locals: { i: i+3 } %>
		</div>
	<% end%>
</div>