<header>
	<h2>Calibre de gemas</h2>
</header>
<a href='/gemas' class='feature-image'>
	<img src='/images/nav/gemas.png' alt='Gemas'/>
</a>
<p>
	Mide la calidad de la gema.
	Cuánto mayor es su calibre, mayor es su precio
	y mejores son sus propiedades mágicas.
</p>
<ul class="link-list">
		<li><a href='/calibre/1'>Gemas Comunes</a></li>
		<li><a href='/calibre/2'>Gemas Infrecuentes</a></li>
		<li><a href='/calibre/3'>Gemas Valiosas</a></li>
		<li><a href='/calibre/4'>Piedras Preciosas</a></li>
		<li><a href='/calibre/5'>Piedras de Poder</a></li>
		<li><a href='/calibre/6'>Gemas Legendarias</a></li>
</ul>