<table>
	<thead>
		<th>Posición</th>
		<th>Bonificación</th>
	</thead>
	<tbody>
		<% g.fits.keys.each_with_index do |posicion, i| %>
			<tr>
				<td><%= posicion %></td>
				<td><%= g.fits.values[i] %></td>
			</tr>
		<% end %>
	</tbody>
</table>