<header>
	<h2>Reglas de combate</h2>
</header>
<a href='/dado/4' class="feature-image">
	<img src='/images/nav/combate.png' alt='Combate' /, id='box'>
</a>
<ul class="link-list">
	<li><a href='/estados'>Estados de combate</a></li>
	<li><a href='/posiciones'>Posiciones</a></li>
	<li><a href='/resistencias'>Resistencias</a></li>
	<li><a href='/fases'>Fases del Juego</a></li>
	<li><a href='/sigilo'>Sigilo</a></li>
	<li><a href='/locura'>Locura</a></li>
</ul>