<header>
	<h2>Lanzar Dados</h2>
</header>
<ul class="link-list">
	<li><a href="/dado/4">Tiradas de combate</a></li>
	<li><a href="/tesoro">Tiradas de tesoro</a></li>
	<li><a href="/tarot">El Tarot Maligno</a></li>
</ul>