<header>
	<h2>El Personaje</h2>
</header>
<ul class="link-list">
	<li><a href="/personajes">Sobre los personajes</a></li>
	<li><a href="/razas">Las razas del Viejo Mundo</a></li>
	<li><a href="/mapa">El mapa del Viejo Mundo</a></li>
	<li><a href="/descendientes">Descendientes</a></li>
	<li><a href="/test/0">Descubre tu héroe ideal</a></li>
	<li><a href="/profesiones">Profesiones</a></li>
	<li><a href="/maestrodearmas">Maestro de Armas</a></li>
	<li><a href="/magister">Maestros arcanos</a></li>
	<li><a href="/camino">Los caminos de un héroe</a></li>
</ul>