<header>
	<h2>Estadísticas</h2>
</header>
<h3>Iniciales de cada raza</h3>
<table>
	<thead>
		<tr>
			<th>Raza</th>
			<th>PC</th>
			<th>PM</th>
			<th>Mov</th>
		</tr>
	</thead>
	<tbody>
		<% razas.each do |raza| %>
			<tr>
				<td><%= raza.first %></td>
				<td><%= raza.last[0] %></td>
				<td><%= raza.last[1] %></td>
				<td><%= raza.last[2] %></td>
			</tr>
		<% end %> 
	</tbody>
</table>
<br>
<h3>Humanos sin parangón</h3>
<table>
	<thead>
		<tr>
			<th>Clase</th>
			<th>PC</th>
			<th>PM</th>
			<th>Mov</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mago</td>
			<td>4</td>
			<td>6</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Bárbaro</td>
			<td>8</td>
			<td>2</td>
			<td>7</td>
		</tr>
	</tbody>
</table>