En el lenguaje de los ancestros, representa los himnos,
el estruendo y las canciones.<br/>
<br/>
En el lenguaje enano, está prohibido su uso cotidiano,
ya que ensombrecería las verdaderas hazañas de los héroes legendarios.
Se utiliza únicamente para el <a href='http://dirae.es/palabras/tratamiento' target='blank'>tratamiento</a>
al referirse a héroes gloriosos de sus anales. 
Para un uso común se debe emplear la palabra "Skaud"<br/>
</br>
En los sepulcros de los <a href='/fama/matador' target='blank'>matadores</a>, 
se utiliza esta runa acompañada de la lista de gestas acometidas,
para que sirva de inspiración a generaciones posteriores.