<form action="/buscar" method="POST">
	<select name="criteria">
	  <option value="renegado">Renegados</option>
	  <option value="jugador">Jugadores</option>
	  <option value="raza">Raza</option>
	  <option value="mascota">Familiar</option>
	</select>
	<input type="text" name="nombre">
	<input type="submit" value="buscar">
</form>