<header>
	<h2>Listas de Renegados</h2>
</header>
<a href=<%= '/heroes' %> class='feature-image'>
	<img src='../images/nav/razas.png' alt='héroes'/>
</a>
<ul class="link-list">
	<li><a href="/renegados">Renegados</a></li>
	<li><a href="/muertos">Libres</a></li>
</ul>
<header>
	<h2>Trasfondo</h2>
</header>
<ul class="link-list">
	<li><a href="/jugadores">Lista de Jugadores</a></li>
	<li><a href="/historias">Historias de los Renegados</a></li>
	<li><a href="/familiares">Familiares (Mascotas)</a></li>
</ul>