<table>
	<thead>
		<th width=25%>Clase</th>
		<th>Descripción</th>
	</thead>
	<tbody>
		<tr>
			<td>Inicial</td>
			<td>
				Son las habilidades de nivel 1, no se pueden elegir y dependen
				de del personaje elegido.
			</td>
		</tr>
		<tr>
			<td>Épica</td>
			<td>
				Son habilidades que solo se pueden coger en niveles múltiplos de 10.
				Sus efectos son muy potentes y marcan un hito en la jugabilidad
				del personaje.
			</td>
		</tr>
		<tr>
			<td>La Gloria del héroe</td>
			<td>
				Se trata de una habilidad global, común a todos los personajes,
				que podrán elegirla en nivel 6. Es una habilidad única,
				que permite al héroe ignorar cualquier fastidio
				hasta que le vuelva a tocar. Lo mejor es que la definición de "fastidio"
				la elige el propio héroe, y no el Malvado Brujo.
			</td>
		</tr>
		<tr>
			<td>Maestrías</td>
			<td>
				Se adquieren generalmente comprándolas con dinero bien en
				el maestro de armas, magisters, etc. También pueden ser
				adquiridas en profesiones. (Ej: ¡Cuidado señor!)
			</td>
		</tr>
	</tbody>
</table>