<header>
	<h2>Reglas sobre las habilidades</h2>
	<p>
		Si echas de menos el viejo casillero,
		<a href='/habs'>haz click aquí</a>
	</p>
</header>

<p>
	<h3>Definición</h3>
	Las habilidades representan poderes, rituales, entrenamientos y aptitudes
	que los héroes esgrimen durante la partida para obtener ventaja en el juego.
	Las tablas de habilidades corresponden a las diferentes especializaciones
	que los héroes pueden elegir. Un héroe, recién creado tendrá únicamente
	las habilidades inciales de su personaje. Sin embargo, en nivel 2, 
	debe elegir su especialización "desbloqueando" las habilidades
	que le correspondan, según su especialización.
	<a href='http://localhost:9292/personajes'>Pulsa aquí</a> para obtener
	más información sobre los personajes y las especializaciones.
</p>

<p>
	<h3>Tipos de habilidades (según su mecánica)</h3>
	<%= erb :'personaje/habilidades/tipos' %>
</p>

<p>
	<h3>Clases de habilidades (según su adquisición)</h3>
	<%= erb :'personaje/habilidades/clases' %>
</p>

<p>
	<h3>La Gloria del Héroe</h3>
	Se trata de una habilidad global, común a todos los personajes,
	que podrán elegirla en nivel 6. Es una habilidad única,
	que permite al héroe ignorar cualquier fastidio hasta que le vuelva a tocar.
	Lo mejor es que la definición de "fastidio" la elige el propio héroe,
	y no el Malvado Brujo.
</p>