<table>
	<thead>
		<th width=25%>Tipo</th>
		<th>Descripción</th>
	</thead>
	<tbody>
		<tr>
			<td>Pasiva</td>
			<td>
				No requiere ninguna decisión por parte del jugador,
				su efecto siempre está activo
			</td>
		</tr>
		<tr>
			<td>Activa</td>
			<td>
				Son habilidades que requieren un coste.
				Si consume un tipo de puntos de determinado (ej. cuerpo)
				se puede pagar tantas veces como puntos se disponga.
			</td>
		</tr>
		<tr>
			<td>Disparada</td>
			<td>
				Tiene efecto cuando sucede un evento, de forma inmediata.
				En el caso de que se produzcan varias simultáneas,
				el orden de ejecución es por iniciativa de la ronda.
			</td>
		</tr>
		<tr>
			<td>Única</td>
			<td>
				Solo se puede usar una vez por reto. Todas las habilidades
				únicas tienen rango 6, por lo que se podrían usar más de una vez.
				Además las habilidades reactivas, podrían permitir recuperarlas.
			</td>
		</tr>
		<tr>
			<td>Reactiva</td>
			<td>
				Similar a las disparadas, pero el efecto siempre supone
				la recuperación de un punto o habilidad única.
			</td>
		</tr>
		<tr>
			<td>Declarativa</td>
			<td>
				Supone declarar (durante el turno del jugador) una habilidad
				que tendrá bien un efecto disparado, reactivo o bien un coste.
			</td>
		</tr>
		<tr>
			<td>Invocación</td>
			<td>
				Una habilidad que invoca un aliado para luchar junto con el personaje.
			</td>
		</tr>
	</tbody>
</table>