<link rel="stylesheet" href="css/bravo.css" />
<table id='tresp'>
	<thead>
		<tr>
			<th>Jugador</th>
			<th>Personajes</th>
		</tr>
	</thead>
	<tbody>
		<% jugadores.each do |j| %>
		<tr>
			<td><%= j %></td>
			<td>
				<table>
					<tbody>
						<tr>
							<% heros.each do |hero| %>
								<% if hero.jugador == j %>
									<td>
										<%= erb :'display/portrait', :locals => { :h => hero } %>
										<%= hero.nivel %>
									</td>
								<% end %>
							<% end %>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>