<header>
	<h2>Ancestrales</h2>
</header>
<a href='/magisters' class='feature-image'>
	<img src='../images/magia/ancestrales.png' alt='Magisters'/>
</a>
<p>
	Solo están disponibles para los Magos. Otros usuarios de la magia,
	enloquecerían al intentar comprender sus misterios.
</p>
<h3>Ardid</h3>
<p>
	Permite aprender el ardides.<br/>
	(Coste: 1000 piezas de oro)
</p>
<h3>Optimus</h3>
<p>
	Permite al mago eliminar un único detrimento de escuela,
	tras especializarse en otra.<br/>
	(Coste: 100 piezas de oro)
</p>
<h3>Sanguinis</h3>
<p>
	Se podrá sustituir una escuela por el elemento sangre.<br/>
	(Coste: 250 piezas de oro)
</p>
<h3>Umbrae</h3>
<p>
	Se podrá sustituir una escuela por el elemento sombra.<br/>
	(Coste: 250 piezas de oro)
</p>