<header>
	<h2>Magia</h2>
</header>
<a href='/torre' class='feature-image'>
	<img src='../images/nav/magias.png' alt='Magia'/>
</a>
<ul class="link-list">
	<li><a href="/torre">Reglas Básicas</a></li>
	<li><a href="/tipos">Tipos de hechizo</a></li>
	<li><a href="/escuelas">Escuelas de Magia</a></li>
	<li><a href="/vientos">El poder mágico</a></li>
	<li><a href="/magia">Historia de la magia</a></li>
	<li><a href="/magisters">Magisters</a></li>
	<li><a href="/magister">Maestro Arcano</a></li>
</ul>