<div id="banner">
	<div class="container">
		<div class="row">
			<div class="6u">
				<p>
					Web oficial del proyecto HeroSheet.<br>
					Basado en el juego de mesa RevengeQuest.
				</p>
				<a href="renegados" class="button-big">Ver renegados</a>
			</div>
			<div class="6u">
				<a href="/" class="bordered-feature-image"><img src="images/revenge/banner.png" alt="RevengeQuest" /></a>
			</div>
		</div>
	</div>
</div>