<header>
	<h3>La misión de la manzana dorada</h3>
</header>
<p>
	Lo primero que vio Savra al abrir los ojos fue la cabeza de un enano a unos pocos palmos de su rostro. 
	Lo apartó, venciendo su natural repugnancia, y se levantó apoyándose en la pared de madera. 
	Tardó unos segundos en darse cuenta de que no estaba tan mareada como se pensaba, 
	sino que, en realidad, la habitación se estaba moviendo. Comenzó a recordar. 
	El emperador les había mandado a conseguir una manzana dorada que otorgaba la eterna juventud, 
	y de paso que quemasen el árbol que las otorgaba para que nadie más disfrutase de ese privilegio. 
	Menudo idiota, de no ser por el aviso de que los dioses se enfadarían si cogiesen más de una manzana 
	Savra hubiese comido hasta no poder más. De camino a la isla donde se hallaba el árbol, 
	un barco pirata cargadito de Drows les asaltó y les capturó.
</p>
<p>
	El resto de sus compañeros se fueron despertando. Estaban en una mazmorra sin vigilancia, 
	ya conocéis a los drow, una capacidad asombrosa de evitar golpes, unos venenos increíbles pero poco cerebro, 
	así que el primer reto con el que nos encontramos era ¿cómo salir de ahí? Savra suspiró al ver que sus compañeros
	parecían querer que ella les liderase, por lo visto alguien había corrido el rumor de su nivel de poder y era superior al resto. 
	Un par de humanos bárbaros, un elfo y un enano. Savra echó de menos su libro malvado, 
	al menos con él podía tener conversaciones entretenidas. 
</p>
<p>
	El elfo decidió descolocarse algunos huesos para poder salir de la celda y abrirnos, 
	si la llave estaba cerca ¿veis lo que os decía de los drow?. 
	Los primeros enemigos salieron a darnos la bienvenida y Savra nunca se alegró tanto de ser maga. 
	Los fuegos de ira iluminaron el barco hasta que no quedó nada más que drows calcinados. 
	Poco a poco, el equipo consiguió recuperar su equipo, el libro malvado estaba en manos de una sacerdotisa drow, 
	aseguraba estar muy cómodo ahí, pero se retracto al ver a su nueva poseedora calcinada 
	y tras ser amenazado con usar sus páginas para envolver pescado. De hecho, jamás se portó tan “bien” como aquel día. 
	El tarot ayudaba cada vez que se le consultaba, sin embargo nada pudo hacer ante la muerte del elfo. 
	“Bueno” pensó Savra “mejor él que yo”.
<p>
	Encontraron a un enano, el cual destruyó el equipo de uno de nuestros bárbaros demostrándole a Savra que, 
	efectivamente, estaba rodeado de imbéciles. Demostrando de nuevo el nivel de inteligencia enana, 
	nos mandó a hacer labores sin sentido. Lejos de analizar nuestros puntos fuertes y asignarnos trabajos acordes a éstos, 
	nos mandó aleatoriamente a cumplir misiones sin ton sin son. Savra se encargó a la perfección de atrancar la puerta, 
	el analfabeto del bárbaro tuvo la enorme suerte de acertar con dos de las tres runas que le hicieron buscar pero, 
	por lo visto, el orín de la bárbara no fue suficientemente puro como para no molestar al Kraken que invocó el enano.
</p>
<p>
	A base de violencia, la forma favorita de Savra de hacer las cosas, calmaron al Kraken y, 
	de hecho, el libro malvado volvió a no hacer honor a su nombre y decidió revivir al elfo caído 
	gracias a su tarot mágico. El enano mandó al kraken a que nos llevase a la isla donde se encontraba
	el árbol de las manzanas doradas. Al llegar ahí nos encontramos con un gran minotauro enfrentándose a una horda de drows. 
	Savra usó a sus compañeros y al minotauro como cebo mientras se encargaba de volatilizar a los elfos oscuros 
	mediante un despliegue de magia de fuego como jamás se había visto en aquella isla. 
	El minotauro decidió otorgarles una de las manzanas. Mientras Savra cavilaba cómo prenderle fuego al árbol
	y salir viva del lugar, el enano les avisó que se quedaban sin tiempo, ya que no podía contener mucho más tiempo al kraken, 
	así que lo dejó intacto. Quizás algún día volviese a por su manzana. 
</p>
<p>
	La vuelva en barco fue horrible y casi acaba loca por el hambre, aunque consiguieron llegar vivos y reclamar su recompensa. 
	Un bonito corcel, en su caso. ¿Qué si se arrepiente de algo? Sí, de no haber tenido tiempo ni oro suficiente 
	como para envenenar la manzana. Lo que se hubiese reído contándole al libro que ella mató al emperador. 
	Otra vez será, aún hay tiempo.
</p>