<p>
	Esta noche, en nuestra presencia,<br>
	<center><h3>
		se cantan hoy los relatos de batallas,<br>
		de épica y conflictos.<br>
		Hazañas de grandes héroes,<br>
		de nuestro tiempo y del pasado.
	</h3></center>
</p> 
	He aquí la historia de uno de aquellos que ya no están entre nosotros, 
	pero cuyo legado perdura aún hoy, extendiéndose a través de las mareas del tiempo.
</p>
<p>
	Surgido de un linaje de embrujo y encantamiento. En él, 
	los vientos elementales de la magia confluían como en pocos lo hacen. 
	Su alma era como una llama ardiente, un faro que llamaba al poder arcano.
	En la misteriosa <a href='/torre'>Torre de Magia</a>, allí donde la realidad
	cambia acorde a los deseos de los que la habitan, fue donde se dio forma a la figura de este héroe. 
	Su nombre fue <a href='/hero/20'>Xavier Umbradrack</a>.
</p>
<p>
	Con estudio y con orgullo, con trabajo y con fuerza, dominó los caminos del saber mágico.
	Sabed que hay magos que conjuran la magia en forma de hechizos. 
	Pero él no se limitaba a realizar sortilegios.<br>
	Él llamaba a los mismísimos poderes de los elementos para que se manifestasen y acudiesen en su ayuda, 
	doblegando al <a href='/fuego/1'>fuego</a>, al <a href='/aire/1'>aire</a>, al <a href='/agua/1'>agua</a>
	y a la <a href='/tierra/1'>tierra</a> dándoles forma para que le sirviesen.
</p>
<p>¿Pero cómo? ¿Quién puede realizar tales actos? 
	¿Quién posee el poder de hacer que las encarnaciones de los elementos, 
	los extraños y poderosos elementales, se arrodillen ante su poder?
</p>
<p>
	Solo un <a href='/habilidad/invocador'>invocador</a>.
	Solo aquellos que abren sus oídos y su corazón a los demás,
	pueden escuchar a los <a href='/criatura/elementales'>elementales</a>, hablar con ellos 
	y llamarles para que acudan a la invocación desde sus hogares en la Disformidad.
</p>
<p>
	<center>
		Solo aquellos con una mente afilada como el viento,<br>
		un corazón puro como las aguas,<br>
		un cuerpo fuerte como la tierra<br>
		y un espíritu indómito como el fuego<br>
		hallan la armonía con los elementos y sus guardianes.<br>
	</center>
</p>
<p>
	Una armonía brillante como un diamante perfecto,
	se halla al combinar estos cuatro elementos: mente, corazón, cuerpo y espíritu. 
	La armonía para invocar a otra realidad.
</p>
<p>
	Pielesverdes y drows, skavens y demonios, 
	duergars y espíritus, dragones y cultistas, bestias y no muertos, 
	a todos los combatió él. Misiones ante las cuales jamás titubeó, 
	búsquedas incesantes de riqueza, gloria y poder. 
</p>
<p>
	Junto a sus infatigables compañeros, miró cara a cara a la Muerte en su última hazaña,
	y sin miedo aceptó su destino. Se sacrificó para permitir que su misión tuviese éxito,
	el portal al reino del Caos fuese sellado, y los otros valientes héroes,
	pudiesen salir vivos de aquella aventura. 
	<h3>
		<center>Por ello es recordado.<br>Y por ello es llamado héroe.</center>
	</h3>
</p>
<p>
	Yo conozco su historia mejor que nadie.
	Porque yo fui el compañero más íntimo que tuvo jamás. 
	Yo compartí mente y corazón con él, y fui parte de su misma alma.
</p>
<p>
	Mi nombre es <strong>Owlowiscious</strong>, sabio búho místico.<br>
	Soy el <a href='/familiares'>familiar</a> de <a href='/hero/20'>Xavier Umbradrack</a>.
</p>
<p> 
	Hablo aún pese a que aquel quien me dio la existencia ya no se encuentra aquí. 
	Estoy solo, pero me acompaña su recuerdo. Y en esta última noche, 
	antes de reunirme de nuevo con él, os cuento su historia.
</p>	
<center><h3>
	La historia de batallas,<br>
	de épica y conflictos.<br>
	Hazañas de grandes héroes,<br>
	de nuestro tiempo y del pasado.
</h3></center>