<p>
	La cierva blanca era rápida, astuta, imposible de alcanzar. 
	No podías perseguirla, ni tratar de seguir sus confusas huellas. 
	Atraparla era sólo un sueño, una ilusión, 
	como la de querer aferrar el propio Destino con tus manos. 
</p>
<p>
	Eso le había dicho su padre, en sus historias, 
	cuando ella no era más que una tierna infante que cazaba luciérnagas en el bosque, 
	y batallaba contra imaginarios dragones. 
	Sangre de héroes corría por sus venas, ¡heroína debía ser ella! 
	Pero nadie marchaba del poblado elfo, sin la bendición de los <a href='/habilidad/druida'>druidas</a>.
</p>
<p>
	Y fuerte era la competencia cuando llegaba el día de la Sagrada Cacería. 
	Decenas de jóvenes <a href='/raza/elfos'>silvanos</a> pintaban sus rostros y los cubrían con máscaras animales, 
	internándose en la espesura y perdiéndose durante días, 
	tratando de dar caza a la mítica cierva blanca, hija de la misma Luna.
</p>
	Aquel año, <a href='/hero/44'>Zurda</a> había logrado pasar las pruebas, 
	en las que había entregado mente, 
	cuerpo y corazón al fuerte deseo de seguir los pasos de sus padres, 
	y sus ancestros. Y allí se encontraba, apostada entre las ramas
	y las hojas de la maleza del bosque. 
	Sus compañeros y rivales en aquella prueba recorrían el bosque corriendo, 
	de arriba a bajo, armando ruido, delatando sus pasos, espantando a los seres.
</p>
<p> 
	Mas así, no lograrían encontrarla, nunca. 
	La sabiduría de <a href='/hero/47'>su padre</a> se lo había revelado: el Destino se persigue, 
	pero no se alcanza, nunca. Los seres de este mundo esperaban y hacían lo que podían, 
	hasta que éste decidía revelarse ante ellos. Y así lo hizo Zurda. 
	Si la cierva blanca había de aparecer ante ella, ella misma se presentaría. 
</p>
<p>
	Portando la armadura y el arco mágico de <a href='/hero/4'>Indra</a>, su antepasada; 
	Zurda pacientemente esperaba. Sus ojos carmesí oteaban los alrededores
	bajo una máscara de plumas de lechuza. Pues eso era ella: un cazador paciente,
	silencioso, certero.
</p>
<p>
	Esperó. Y esperó. El día se convirtió en noche.
	La noche, en día. Y el día de nuevo en noche. La tercera noche de luna llena, 
	entonces, un destello blanco alertó su sagaz mirada imperturbable.
	Y en la orilla del riachuelo, apreció sus etéreos pasos. 
	La cierva blanca había bajado a saciar su sed.
</p>
<p> 
	El arco se tensó, silenciosamente. La flecha apuntó al corazón, 
	oculto bajo el hermoso y brillante pelaje plateado, moteado. 
	Las plumas de la saeta rozaron su mejilla izquierda. 
	Las pupilas se contrajeron un momento, centrando el objetivo.
	Un golpe seco, el de la cuerda al soltarse de los dedos. 
	Un zumbido rasgando el aire. Un chillido agónico en la oscuridad.
</p>
<h3>Y luego, silencio.</h3>
<p>
	Zurda salió de su escondite, y se aproximó al blanco y puro cuerpo caído
	e inerte de la cierva. Se acuclilló a su lado, y con un gentil gesto, 
	le cerró los ojos. Dio las gracias a la Diosa Luna, 
	por entregarle la victoria esa noche. 
	Lloró aún supiera que no debía, pues aunque la Luna menguara en el cielo
	y dejara oscuridad, las estrellas guardarían el luto, 
	hasta que volviera a renacer de entre las sombras. 
</p>
<p>
	Así pues, cargó su presa al hombro, y regresó junto a los suyos. 
	Festejaron y celebraron, alzaron las copas y las hogueras hasta el cielo, 
	cuando la llegada del cazador con la cierva blanca dio por finalizada la cacería.
</p>
<p>
	-"¿Quién es nuestro campeón?" – preguntaban, inquietos, curiosos.
</p>
<p>
	La máscara cayó, así como el misterio, revelando el rostro.<br>
	-"Soy Zurda Amarie, hija de <a href='/hero/47'>Elros</a>. 
	Y como campeona de la Sagrada Cacería, reclamo la bendición de Luna y Estrellas,
	para ir en busca de mi Destino."
</p>
<p>Los <a href='/habilidad/druida'>druidas</a> hablaron, debatieron y asintieron. 
	El ritual dio comienzo, y la sangre plateada de la cierva, 
	tiñó también los cabellos oscuros de la elfa de un tono platino,
	cuando derramaron ésta sobre su cabeza, y una marca lunar apareció en su frente.
</p>
<p>
	-"Celebra tu justa victoria, Zurda Amarie, hija de <a href='/hero/47'>Elros</a>. 
	Mañana partirás hacia <a href='/city/Jadessvärd'>Jadessvärd</a>, como un de los héroes elegidos por nuestro pueblo,
	para que puedas perseguir tu Destino." - Entonaron al terminar.
</p>
<p>
	-"No se puede perseguir lo que no quiere ser encontrado. 
	Si entre los héroes hay un Destino para mi, 
	entonces espero que así me sea revelado." - sonrió Zurda.
</p>
<p>
	Los festejos continuaron. Y ella también formó parte del jolgorio, 
	hasta que el sol despuntó en el horizonte. Partió, sin demora 
	y sin miedo, sabedora de que volvería a los suyos envuelta en gloria.
	O que, tal vez, no volvería.
</p>