<header>
	<h2>La Tragedia de Favule</h2>
</header>
<p>
	Gracia Favule, llamado así de forma irónica por sus padres, 
	los cuáles no desearon tener más hijos que Eyleen y Astora, 
	las hermanas mayores de Gracia, vivió una vida dura y breve para ser <a href='/raza/elfos'>elfo</a>.
</p>
<p>
	Tras una infancia difícil, en la cual recibió insultos y vejaciones
	por no ser lo suficientemente hábil, valiente y bello (importante entre los <a href='/raza/elfos'>elfos</a>),
	Gracia fue enviado a la <a href='/city/Jadessvärd'>ciudad de Jadessvärd</a> para realizar tareas forzosas,
	impropias de un <a href='/raza/elfos'>elfo</a>, y así ganar dinero para su familia y según su padre,
	ser <i>"alguien"</i> útil para la sociedad.
</p>
<p>
	Pero de no ser por ello, <a href='/pnj/mentor'>Mentor, el aclamado y sabio mago</a>, no le habría encontrado. 
	<a href='/pnj/mentor'>Mentor</a> extrañado al ver a un elfo realizar tareas físicas, propias de los toscos bárbaros, 
	se quedó a examinarle. Llegó a la conclusión de que no era el elfo más hábil, 
	ni el mas listo, pero era fuerte y decidido.<br>Tras pasar toda su vida recibiendo abucheos e insultos, 
	el elfo había fortalecido su carácter y se había vuelto muy aplicado, y eso es lo que destacaba en él.
</p>
<p>
	Así pues, Gracia fue instruido en el combate y en la táctica
	y fue contratado como mercenario del Imperio, 
	lo que en <a href='/city/Jadessvärd'>Jadessvärd</a> se conoce como "Héroe".
</p>
<p>
	Fue incluido  en un pequeño grupo donde, por primera vez en su vida, fue aceptado. 
	Para Gracia esto supuso una nueva experiencia, pues conoció el valor de la amistad y el cariño,
	y en cierto modo, sintió por primera vez lo que era formar parte de una familia.
</p>
<p>
	Pero se refleja en muchas ocasiones que la vida es injusta y cruel,
	y el caso de Gracia no fue para menos. En una de sus salidas, 
	con el propósito de salvar a la hija de un mercader que había sido raptada por un grupo de sanguinarios vampiros,
	las cosas se torcieron demasiado para su querido grupo:
</p>
<p>
	Los héroes se enfrentaron a una amenaza la cual no pudieron afrontar,y uno a uno, fueron cayendo. 
	Dadas las circunstancias Gracia consiguió escapar de tal carnicería y alcanzó una zona segura, dejando atrás el peligro.
</p>
<p>
	Pero entonces el resto de sus compañeros, 
	Ana, la hoplita y líder del grupo
	y Elhlebeyo, el brujo, 
	fueron acorralados por el enemigo.
</p>
<p>
	Y ahí estaban, las dos personas que más habían querido y cuidado de él, 
	a punto de ser masacrados por una turba de espíritus y fuerzas del mal. 
	No, Gracia no podia permitirlo, tenía que devolverles el favor, 
	tenía que devolverles todo ese afecto que tanto había recibido. 
	Y sin dudarlo ni un solo segundo más, agarró un escudo y se quedó atrancando la puerta,
	permitiendo a sus amigos ganar el tiempo justo como para poder escapar. 
	El valiente elfo no dejó discutir a sus compañeros por tal repentina deicisión,
	y solo miró hacia atrás para dedicarles unas últimas palabras:
</p>
<p>	
	<h3><center>-"Gracias, amigos."</center></h3>
</p>
<p>
	El sacrificio de Gracia por sus compañeros no fue olvidado, 
	y sirvió de ejemplo más adelante para todos los  veteranos y futuros miembros  grupo, 
	que le llevarán siempre en su memoria.
</p>
<p>
	Así concluye la Tragedia de Favule, un elfo cuya vida fue injusta 
	y aun así ello no le impidió llegar a ser un héroe, un título del que no pudo disfrutar.
</p>