<p>
	Donde surgen las cascadas del río Trin.	Muy por encima de las cárcavas, 
	en el nacimiento de las montañas Hendidas, reside una tribu conocida como los Akidais.
	Formada por gente salvaje y recia, aún reverenciaban la disciplina en el combate.
	Abrazaban la guerra como la forma de arte definitiva. 
</p>
<p>
	-"Pasos con fuerza. Pisadas hacia la gloria. 
	Filas de hoplitas y un entrenamiento regular para poder efectuar 
	las maniobras en formación daban lugar a que el polvo se levantara 
	al avance de unos pasos rítmicos, constantes e igualados en el tiempo..."-
</p>
<h3><center>¡clin!</center></h3>
<p>
	-"...Un ejército de cascos, grebas y corazas hechas a medida
	mostraban la no existencia de un equipo común para una defensa perfecta. 
	Las espadas, lanzas, y escudos con los símbolos familiares, 
	el orgullo de una infantería y una caballería preparada para la guerra...”
</p>
<h3><center>¡clin!¡clin!</center></h3>
<p>
	-"Loca. Volvió loca." - La gente la miraba de reojo, entristecida.
	-"Aún recita las antiguas batallas..."<br>
	Los campesinos y guerreros tiraban monedas a la mujer
	que se postraba en cuclillas en la pared de su casa, agarrándose las rodillas, 
	con los ojos abiertos de par en par. Como si pudiera ver fantasmas donde ellos no lo veían. 
	Sus ropas estaban sin lavar, con su lanza y escudo al lado, 
	y el casco que tenía ante sus pies estaba medio lleno de monedas. 
	No parecía tener mucho interés en ellas.
</p>
<p>
	La puerta de su casa se abrió y salió <a href='/pnj/mentor'>Mentor</a> con cara preocupada. 
	Miró a la gente frunciendo el ceño. Un niño agarraba su mano mientras miraba a su madre. 
	El <a href='/pnj/mentor'>mago</a> se agachó frente a la guerrera y mirándola fijamente, la sonrió.<br>
	-"Ana..." - susurró.
</p>
<p>
	La guerrera seguía mirando a la nada. Los vendajes que cubrían sus manos y tobillos
	tapaban numerosas picaduras de alacranes procedentes del Desierto Prohibido.
	El enfrentamiento a la magia, el dolor de las heridas, el sol del desierto,
	el interminable camino hasta casa, la soledad y la ausencia de agua, la habían vuelto loca de su última salida.
	Volvió victoriosa con sus compañeros al dar muerte al antiguo mago de la luz,
	<a href='/pnj/Zharakarías'>Zharakarías</a>. Habían salvado el mundo. Acabaron con su magia y sus espectros.
</p>
<p>
	Pero a un alto precio. Con un compañero caído en batalla, otro enloquecido, 
	y ella arruinada por la maldición del Gran Caballero, 
	su estancia en la Torre que cambiaba el espacio y el tiempo
	fue más de lo que su mente pudo soportar. Había sido un duro golpe tras otro.
</p>
<p>
	<a href='/pnj/mentor'>Mentor</a> la agarró de la mano y lo volvió a intentar:<br>
	- "Ana Killarney, ¿Recuerdas quién eres?" - Hizo un movimiento con la mano
	y la mente de la guerrera pareció ser consciente de sí misma por primera vez desde hacía días.<br>
	- "¿Cuál es el lema de tu pueblo?"<br>
	- "Vuelve con tu escudo o sobre él." - contestó Ana mientras agarraba su escudo con fuerza inconscientemente.
	- "Y yo he vuelto con mi escudo."<br>
	Parpadeó varias veces mientras asimilaba sus propias palabras. 
</p>
<p>
	Se frotó los llorosos ojos, se levantó debilitada por los días que llevaba sin comer,
	y besando las manos de <a href='/pnj/mentor'>Mentor</a>, agradecida, abrazó a su hijo.
</p>
<center>
	- "Me había hundido en la oscuridad, perdóname.<br>
	Aprende esta lección, hijo mío.<br>
	Un guerrero puede cambiar sus armas, pero no su corazón.<br>
	Lo recuperaremos todo."
</center>