<p>
	Ahora escucha la historia de mi vida<br>
	Y de cómo el destino, cambió mi movida,<br>
	Sin comerlo ni beberlo llegué a ser,<br>
	El héroe del reino, junto a <a href='/hero/53'>Garnier</a><br>
	<br>
	Al oeste de Altdorf, crecía y vivía,<br>
	Sin hacer mucho caso a la minería<br>
	Blandía mi hacha sin cansarme demasiado<br>
	Porque por las noches me bañaba en el pantano<br>
	<br>
	Cierto día cepillando la barba a un amigo,<br>
	Unos tipos del reino me metieron en un lío<br> 
	Y Don <a href='/pnj/mentor'>Mentor</a> me decía una y otra vez:<br> 
	<i>"¡A los <a href='/raza/elfos'>Altos Elfos</a> irás a ver!"</i><br>
	<br>
	Grité a un pony, cuando se acercó.<br>
	Su molonga testa, me fascinó.<br>
	Quería reventar a la clase de bribones,<br>
	que me esperan en el reino pa’ tocarme los cojones!<br>
	<br>
	A las siete llegué, a la Posada<br>
	y me zampé, una fabada, de una sentada.<br>
	Estaba en <a href='/city/Jadessvärd'>Jadessvärd</a> y la cosa cambiaba,<br>
	mi cueva me esperaba, Filomeno llegaba ...<i>¡Ha!</i><br>
<p>