<header>
	<center>
		<h2>Hoja de reclamaciones de la oficina de Mentor</h2>
		<h3>(Mentor lee)</h3>
	</center>
</header>
<p>
	Querido <a href='/pnj/mentor'>Mentor</a>:<br>
	<br>
	Con esta carta, te escribo por vigésimo sexta vez esta semana,
	para recordarte de nuevo mi problema. La vida de un elfo como yo
	está repleta de muchos recuerdos, historias y anécdotas.
	Como ser eterno que soy, contarlas todas me llevaría una eternidad, 
	por lo que nadie quiere escucharme, y para mis más efímeros amigos, 
	he de contar aquellas que puedo compartir con ellos y ante lo cual, 
	surge la frustración que me acompaña en todas mis aventuras.
</p>
<p>
	-"¿Qué sabes de los <a href='/raza/elfos'>elfos</a>?", acostumbro preguntar a mis compañeros guerreros.<br>
	Y ellos me responden con aire fascinado:<br>
	-"¡Lo ágiles que son! ¡Oh! Ligeros espadachines, malabaristas afilados cuando en liviana acrobacia,
	aciertan a su enemigo, que muere tres veces antes de caer al suelo.<br>
	-"¡Lo listos que son! ¡Oh! Audaces estrategas, no caen en emboscada, 
	que con resplandecientes reflejos no dudan en su táctica 
	y antes de vencer ya anticipan la victoria.<br>
	-"¡Lo rápidos que son!" ¡Oh! Fugaces tiradores, cuya precisión no conoce distancia alguna, 
	cargan y sueltan mil flechas en lo que cualquier otro si quiera avista ningún peligro.
</p>
<p>
	Mira <a href='/pnj/mentor'>Mentor</a>, macho... No aguanto a los pelotas.
	¿¡Tú te crees que se puede hacer una misión con tal séquito de merluzos!?
	¡Es que nadie me entiende! Primero no puedo contarles cosas que no sean de su siglo
	o se ponen a bostezar, después empiezan a flipar de cómo eres tan rápido matando peña
	y cuando les dices que es porque llevas siglos practicando te llaman, soberbio,
	orgulloso, con el ego por las nubes, estiraos, que estamos muy subiditos.
	Claro, y de ahí vienen los <a href='/raza/elfos'>Altos Elfos</a>, ¡¿No te jode?!
</p>
	¡No no, espera!, ¡Que es mejor! Encima, cuando les enseñas cosas de tu cultura,
	el fino detalle de las prendas, la estilizada forma de las armas,
	la perfección en los movimientos de lucha, la poesía escrita junto estrellas tan viejas como nosotros,
	las canciones tan antiguas como las eras del mundo, nuestro legado, nuestra vida,
	nuestro arte...
</p>
<p>
	¿¡Qué te llaman!? ¿¡Lo sabes Mentor!? Porque por supuesto, de maricón "pa'bajo" no pasan los muy cabrones.
	¿¡Te puedes poner en mi lugar!? ¡Soy un ser eterno! ¡Y por lo único que se me ha admirado toda mi vida
	es por cosas que pasan en menos de un segundo! ¡No duran una mierda y me importan otra mierda!
	Y cuando intento aportarles y compartir conocimientos cultivados durante milenios
	que para mí son importantes porque es la puta historia de <a href='/raza/elfos'>mi raza</a> y del <a href='/mapa'>Viejo Mundo</a>,
	me toman por un “Manolo” del puti-barrio de <a href='/city/Jadessvärd'>Jadessvärd</a>. 
	¿¿¡¡Pero tú entiendes lo frustrante que resulta eso para un ser inmortal??!! ¡¡Voy a vivir con ello para siempre!!
</p>
<p>
	Me dice alguno: "Léete este libro de autoayuda, si tienes tiempo." ¿¡Tiempo!? ¡Qué cachondo!
	Claro, como yo me muero en 80 años... ¿No? Ése es mi problema, hay muchos libros sobre la gestión del tiempo y estrés,
	¡Para mortales! ¿Y para los inmortales qué? ¿¡Eh!? ¡Si tenemos más tiempo que ninguno!
</p>
<p>
	En fin, voy a disparar unas cuantas flechas, que es lo único que a mí me relaja,
	aunque tuve que haberme metido a <a href='/habilidad/druida'>druida</a> como mi prima, ahí tranquilito en el bosque.
	Disparar flechas me gusta, cada disparo me libera y concentrarme me enfoca, 
	es un momento al que siempre vuelvo, allí soy eterno, y a la vez dura un instante...
</p>
<p>
	Fíjate <a href='/pnj/mentor'>Mentor</a>, eso sí es bonito...
</p>