<header>
	<h3>La historia de Elhlebeyo</h3>
</header>
<p>
	Soy un afortunado. Rico dices? No, eso no. Simplemente afortunado.
</p>
<p>
	Entiendo que no te alegres. Ni me desees buena suerte, no la necesito.
</p>
<p>
	Tampoco es que la deprecie y por eso estoy aquí. Una oportunidad única? Sí, estaría bien.<br/> 
	Tesoros ocultos, piedras preciosas, bellas damas en apuros dispuestas a dar una buena recompensa. 
	Bien pues, entonces recibid y deleitaros con la mía.
</p>
<p>
	Gloria se llamaba? Sí, Gloria.</br>
	Recuerdo el fuego en su cuello. </br>
	El temblor de sus piernas.
</p>
<p>
	Un sabio dijo una vez:</br>
	Dame una funda y guardaré mi sable.</br>
	Una cartuchera y guardarÈ mi pistola.</br>
	Pero recuerda, ten siempre listo el silenciador.
</p>
<p>
	Mi nombre.</br>
	Elhlebeyo.
</p>