<header>
	<h2>Notaría</h2>
</header>
<a href=<%= '/ayuntamiento' %> class='city-image'>
	<img src='../images/ciudad/ayuntamiento.png' alt='Ayuntamiento'/>
</a>

<p>
	La paciencia es la mejor de las notables virtudes.
</p>