<div id="content-wrapper">
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="4u">

					<!-- Box #1 -->
						<section>
							<header>
								<h2>La Ciudad de Jadessvärd</h2>
								<h3>Un lugar de encuentro de aventureros</h3>
							</header>
							<a href="#" class="feature-image"><img src="images/pic05.jpg" alt="" /></a>
							<p>
								La ciudad fue edificada entre las viejas ruinas de una ciudad mercantil
								edificada por los antiguos pobladores humanos del valle, con el objetivo
								de comerciar con los elfos de Jadesia y los enanos de la montaña Svärd.
							</p>
						</section>

				</div>
				<div class="4u">

					<!-- Box #2 -->
						<section>
							<header>
								<h2>Manuales de Juego</h2>
								<h3>Para consultar las reglas de forma rápida</h3>
							</header>
							<ul class="check-list">
								<li>Tiradas aleatorias de Tesoro</li>
								<li>Tiradas aleatorias de combate</li>
								<li>Estados de combate y resistencias</li>
								<li>Bestiario de criaturas del juego</li>
								<li>Personajes, habilidades y poderes</li>
							</ul>
						</section>

				</div>
				<div class="4u">
					
					<!-- Box #3 -->
						<section>
							<header>
								<h2>Personajes Ilustres</h2>
								<h3>Principales personajes no-jugador</h3>
							</header>
							<ul class="quote-list">
								<li>
									<img src="images/pic06.jpg" alt="" />
									<p>"Bastará el honor de servir"</p>
									<span>Magnus III, el Emperador</span>
								</li>
								<li>
									<img src="images/pic07.jpg" alt="" />
									<p>"No te olvides de volver con vida"</p>
									<span>Mentor, tutor de aventureros</span>
								</li>
								<li>
									<img src="images/pic08.jpg" alt="" />
									<p>"¡Svärd ufd arthruax Luria!"</p>
									<span>Luria BattleAxe, reina de Ébano</span>
								</li>
							</ul>
						</section>

				</div>
			</div>
		</div>
	</div>
</div>