<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Herosheet Server Error Page" />
		<meta name="keywords" content="heroquest" />
	</head>
	<body><center>
		<header>
			<h1>Oops, he pulsado la tecla que no es</h1>
		</header>
		<p>
			Con dramáticas consecuencias.<br/>
			Por lo visto...
		</p><br/>
		 <img src="http://www.gucomics.com/comics/2011/gu_20110808.jpg" alt="coward mage" style="width:401px;height:301px;"> 
	</center></body>
</html>