<header id="header" class="container">
	<div class="row">
		<div class="12u">
			<!-- Logo -->
				<h1><a href="" id="logo"><%= title %></a></h1>	
			<!-- Nav -->
				<nav id="nav">
					<a href="/">Inicio</a>
					<a href="/heroes">Héroes</a>
					<a href="/objetos">Objetos</a>
					<a href="/torre">Hechizos</a>
					<a href="/manuales">Manuales</a>
					<a href="/habilidades">Habilidades</a>
				</nav>
		</div>
	</div>
</header>