<header id="header" class="container">
	<div class="row">
		<div class="12u">
			<h1><a href="" id="logo"><%= title %></a></h1>	
			<nav id="nav">
				<% if title.include?('Re') %>
					<a href="/revenge">Inicio</a>
					<a href="/renegados">Renegados</a>
				<% else %>
					<a href="/">Inicio</a>
					<a href="/heroes">Héroes</a>
				<% end %>
				<a href="/objetos">Objetos</a>
				<a href="/torre">Hechizos</a>
				<a href="/manuales">Manuales</a>
				<a href="/city/Jadessvärd">Ciudad</a>
				<% if title.include?('Re') %>
					<a href="/dones">Dones</a>
				<% else %>
					<a href="/habilidades">Habilidades</a>
				<% end %>
			</nav>
		</div>
	</div>
</header>