<section>
	<header>
		<h2>Objetos</h2>
	</header>
	<ul class="link-list">
		<li><a href="/armas">Armas</a></li>
		<li><a href="/armaduras">Armaduras</a></li>
		<li><a href="/protecciones">Protecciones</a></li>
		<li><a href="/miscelaneas">Misceláneas</a></li>
		<li><a href="/piezas">Pertrechos</a></li>
		<li><a href="/gemas">Tesoros</a></li>
	</ul>
</section>