<section>
	<header>
		<h2>Objetos</h2>
	</header>
	<ul class="link-list">
		<li><a href="/items/armas">Armas</a></li>
		<li><a href="/items/armaduras">Armaduras</a></li>
		<li><a href="/items/protecciones">Protecciones</a></li>
		<li><a href="/items/miscelaneas">Misceláneas</a></li>
		<li><a href="/items/piezas">Pertrechos</a></li>
		<li><a href="/items/gemas">Tesoros</a></li>
	</ul>
</section>