/* 
Displaying Info as original
*/
#icon {
	padding: 2px;
	weight: 40px;
	height: 40px;
}
#icon2 {
	padding: 2px;
	weight: 60px;
	height: 60px;
}
#icon3 {
	padding: 2px;
	weight: 80px;
	height: 80px;
}
#icon4 {
	padding: 2px;
	weight: 130px;
	height: 130px;
}
#portrait {
	padding: 2px;
	weight: 204px;
	height: 321px;
}
#tier {
	border: 0px solid #ffffff;
    width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
 	vertical-align: middle;
}

div.information_popup_container {
	/* Position Information */
	/* Appearance Information */
}
div.information_popup_container > div.information {
	/* Position Information */
	/* Appearance Information */
}
div.information_popup_container > div.popup_information {
	position:   absolute;
	visibility: hidden;
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:   14px;
	color: #CBCBCB;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background-color: #222;
	padding: .1em 1em 1em 1em;
	text-align: left;
	/* Position Information */
	/* Appearance Information */
}
div.information_popup_container > div.information:hover + div.popup_information {
	visibility: visible;
	z-index:    200;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%; 
  border-collapse: collapse; 
  margin-left:auto; 
  margin-right:auto;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  vertical-align: middle;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  text-align: center; 
  vertical-align: middle;
}

#table-2 {
    width: 100%;
 	vertical-align: middle;
    margin-left:auto; 
    margin-right:auto;
}
#table-2 td, #table-2 th {
	text-align:center;
 	vertical-align: middle;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the main data
	*/
	td:nth-of-type(1):before { content: "Retrato"; }
	td:nth-of-type(2):before { content: "Héroe"; }
	td:nth-of-type(3):before { content: "Personaje"; }
	td:nth-of-type(4):before { content: "Nivel"; }
	td:nth-of-type(5):before { content: "Familiar"; }
	td:nth-of-type(6):before { content: "Profesión"; }
	td:nth-of-type(7):before { content: "Armas"; }
	td:nth-of-type(8):before { content: "Armaduras"; }
	td:nth-of-type(9):before { content: "Reputación"; }
	
	td td:nth-of-type(1):before { content: "Principal"; }
	td td:nth-of-type(2):before { content: "Secundaria"; }
}

/* 
concurso de literatura, ribetes de esquina para ganadores
*/
.wrapper {
    margin: 50px auto;
    position: relative;
    z-index: 90;
}

.ribbon-wrapper-silvered {
  width: 70px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-silvered {
  font: bold 12px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(35deg);
  -moz-transform:    rotate(35deg);
  -ms-transform:     rotate(35deg);
  -o-transform:      rotate(35deg);
  position: relative;
  padding: 7px 0;
  left: -25px;
  top: 8px;
  width: 150px;
  background-color: gold;
  background-image: -webkit-gradient(linear, left top, left bottom, from(silver), to(#CACACA)); 
  background-image: -webkit-linear-gradient(top, silver, #CACACA); 
  background-image:    -moz-linear-gradient(top, silver, #CACACA); 
  background-image:     -ms-linear-gradient(top, silver, #CACACA); 
  background-image:      -o-linear-gradient(top, silver, #CACACA); 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-silvered:before, .ribbon-silvered:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-silvered:before {
  left: 0;
}
.ribbon-silvered:after {
  right: 0;
}

.ribbon-wrapper-golden {
  width: 70px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-golden {
  font: bold 12px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(35deg);
  -moz-transform:    rotate(35deg);
  -ms-transform:     rotate(35deg);
  -o-transform:      rotate(35deg);
  position: relative;
  padding: 7px 0;
  left: -25px;
  top: 8px;
  width: 150px;
  background-color: gold;
  background-image: -webkit-gradient(linear, left top, left bottom, from(gold), to(#ACAC45)); 
  background-image: -webkit-linear-gradient(top, gold, #ACAC45); 
  background-image:    -moz-linear-gradient(top, gold, #ACAC45); 
  background-image:     -ms-linear-gradient(top, gold, #ACAC45); 
  background-image:      -o-linear-gradient(top, gold, #ACAC45); 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-golden:before, .ribbon-golden:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-golden:before {
  left: 0;
}
.ribbon-golden:after {
  right: 0;
}

/*
Generador de mazmorras aleatorio
*/

.mazmorra {
	width: 90%;
}