#tablaengarces {
    width: 96%;
    margin-left:auto; 
    margin-right:auto;
	margin-bottom:auto;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
#tablaengarces tr {
	background-color: transparent;
}
#tablaengarces td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color:  ;
}
#tablaengarces th {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
#tablaengarces #engarce {
	width: 10%;
}
#tablaengarces #nombre {
	width: 30%;
	color: white;
}
#tablaengarces #descriptor {
    color: white;
}