.mapamundi {
  height: 500px;
}
div.mapa_imagen {
  position: relative;
}
ul.notas li {
  list-style: none;
  display: none;
  position: absolute;
  text-align: center;
  
  border: medium solid white;
  background: url("esta_imagen_no_existe");
}
div.mapa_imagen:hover ul.notas li {
  display: block;
}
ul.notas li p {
  margin: 10px 0 0 0;
  padding: .3em;
  display: none;
  background: #FFF;
  opacity: 0.65;
  position: absolute;
  top: 100%;
}
ul.notas li:hover p {
  display: block;
  
}
 
ul.notas .nota1 {
  width: 140px; height: 110px; top: 130px; left: 345px;
}
ul.notas .nota2 {
  width: 30px; height: 200px; top: 10px; left: 10px;
}
ul.notas .nota3 {
  width: 60px; height: 60px; top: 200px; left: 150px;
}
ul.notas .nota4 {
  width: 60px; height: 60px; top: 300px; left: 350px;
}