<div id="banner">
	<div class="container">
		<div class="row">
			<div class="6u">
				<p>
					Web oficial del proyecto HeroSheet.<br>
					Basado en el juego de mesa HeroQuest.
				</p>
				<a href="heroes" class="button-big">Ver héroes</a>
			</div>
			<div class="6u">
				<a href="/revenge" class="bordered-feature-image">
					<img src="images/inicio/banner.png" alt="banner" />
				</a>
			</div>
		</div>
	</div>
</div>