<div id="content-wrapper">
	<div id="content">
		<div class="container">
			<div class="row">
				<% 3.times do |i| %>
					<div class="4u">
						<%= erb :"index/contents/content#{i+1}" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>