<header>
	<h2>Las 4 razas</h2>
</header>
<a href=<%= '/razas' %> class='feature-image'>
	<img src='../images/razas.jpg' alt='razas'/>
</a>
<ul class="link-list">
	<li><a href="/raza/enanos">Enanos</a></li>
	<li><a href="/raza/humanos">Humanos</a></li>
	<li><a href="/raza/elfos">Elfos</a></li>
	<li><a href="/raza/tieflings">Tieflings</a></li>
</ul>