<header>
	<h2>Las <%= total_razas %> razas</h2>
</header>
<a href=<%= '/razas' %> class='feature-image'>
	<img src='../images/nav/razas.png' alt='razas'/>
</a>
<h3>Razas Iniciales</h3>
<ul class="link-list">
	<li><a href="/raza/enanos">Enanos</a></li>
	<li><a href="/raza/humanos">Humanos</a></li>
	<li><a href="/raza/elfos">Elfos</a></li>
</ul>
<h3>Razas Especiales</h3>
<ul class="link-list">
	<li><a href="/raza/tieflings">Tieflings</a></li>
	<li><a href="/raza/rakshasas">Rakshasas</a></li>
	<li><a href="/raza/elohims">Elohim</a></li>
</ul>