<header><h2>Elementales</h2></header>
<a href='/escuelas' class='feature-image'>
	<img src='/images/nav/elementales.png' alt='Elementales'/>
</a>
<p>
	Recogen su poder de los vientos elementales de la magia.
	Combinados se definen como <strong>Alta Magia</strong> en su versión armónica,
	o bien <strong>Magia del Caos</strong>, en su versión distorsionada.							
</p>
<ul class="link-list">
	<li><a href="/hechizos/1">Elementales de nivel 1</a></li>
	<li><a href="/hechizos/2">Elementales de nivel 2</a></li>
	<li><a href="/hechizos/3">Elementales de nivel 3</a></li>
	<li><a href="/hechizos/4">Elementales de nivel 4</a></li>
</ul>