<header>
	<h2>Enseñanzas</h2>
</header>
<a href=<%= '/magisters' %> class='feature-image'>
	<img src='../images/magia/magisters1.png' alt='Magisters'/>
</a>
<h3>Nueva Escuela</h3>
<p>
	Permite al aprendiz aprender los secretos de los magisters,
	y girar el sentido del flujo mágico. Podrá escoger 
	los 3 últimos hechizos de un elemento en lugar
	de los 3 primeros.<br/>
	(Coste: 100 piezas de oro)
</p>
<h3>Maestría</h3>
<p>
	Gracias a la comprensión fundamental de los vientos de la magia,
	el aprendiz obtiene +1 de maestría en una única escuela.<br/>
	(Coste: 1000 piezas de oro)
</p>  
<h3>Dominium</h3>
<p>
	El aprendiz puede utilizar ambos flujos de los vientos mágicos.
	Podrá escoger 2 sets de magia de la misma escuela.<br>
	(Coste 1200 oros)
</p>