<section>
	<header>
		<h2>Elementales</h2>
	</header>
	<p>
		Recogen su poder de los vientos elementales de la magia.
		Combinados se definen como <strong>Alta Magia</strong> en su versión armónica,
		o bien <strong>Magia del Caos</strong>, en su versión distorsionada.							
	</p>
	<ul class="link-list">
		<li><a href="magia/hechizos"  >Hechizos Elementales de nivel 1</a></li>
		<li><a href="magia/hechizos/2">Hechizos Elementales de nivel 2</a></li>
		<li><a href="magia/hechizos/3">Hechizos Elementales de nivel 3</a></li>
		<li><a href="magia/hechizos/4">Hechizos Elementales de nivel 4</a></li>
	</ul>
</section>

<section>
	<header>
		<h2>Plegarias Sagradas</h2>
	</header>
	<ul class="link-list">
		<li><a href="/elficas">Hechicería Silvana</a></li>
		<li><a href="/plegarias">Plegarias</a></li>
		<li><a href="/sombras">Magia de las Sombras</a></li>
		<li><a href="/sangre">Magia de la Sangre</a></li>
	</ul>
</section>