<header>
	<h2>Plegarias Sagradas</h2>
</header>
<ul class="link-list">
	<li><a href="/elficas">Hechicería Silvana</a></li>
	<li><a href="/plegarias">Plegarias</a></li>
	<li><a href="/sombras">Magia de las Sombras</a></li>
	<li><a href="/sangre">Magia de la Sangre</a></li>
</ul>