<header>
	<h2>Plegarias Sagradas</h2>
</header>
<a href='/escuelas' class='feature-image'>
	<img src='images/nav/sagradas.png' alt='Sagradas'/>
</a>
<ul class="link-list">
	<li><a href="/elficas">Hechicería Silvana</a></li>
	<li><a href="/plegarias">Plegarias</a></li>
	<li><a href="/sombras">Magia de las Sombras</a></li>
	<li><a href="/sangre">Magia de la Sangre</a></li>
	<li><a href="/arenas">Magia de las Arenas</a></li>
	<li><a href="/hielos">Magia de Hielo</a></li>
</ul>