<header>
	<h2>Plegarias Sagradas</h2>
</header>
<a href='/escuelas' class='feature-image'>
	<img src='/images/nav/sagradas.png' alt='Sagradas'/>
</a>
<p>
	<ul class="link-list">
		<li><a href="/elficas">Hechicería Silvana</a></li>
		<li><a href="/plegarias/1">Plegarias</a></li>
		<li><a href="/execraciones/1">Execraciones</a></li>
		<li><a href="/sombra/1">Magia de las Sombras</a></li>
		<li><a href="/sangre/1">Magia de la Sangre</a></li>
		<li><a href="/arena/1">Magia de las Arenas</a></li>
		<li><a href="/hielo/1">Magia de Hielo</a></li>
	</ul>
</p>