<header>
	<h2>Las Fases del Juego</h2>
</header>

<h3>Retos y campañas</h3>
<p>
	Un reto, es una sesión de juego completa. Para que sea satisfactoria,
	debería durar de media entre 1 y 2 horas. A veces las aventuras se componen
	de varios retos, y reciben el nombre de <strong>campañas</strong>.
	Lo importante, es que salvo que el "lore" del reto lo especifique,
	los héroes al finalizar, pasarán por su <a href='/mapa'>ciudad</a>,
	recuperando sus puntos gastados, habilidades y accediendo a los mercaderes.
	El <a href='/archivo'>cronista</a>, guarda un detallado registro de
	<a href='/archivo'>los retos completados</a>.
</p>

<h3>Rondas y turnos</h3>
<p>
	La ronda comienza por el jugador de la derecha del "Malvado Brujo" 
	y sigue en el sentido antihorario hasta finalizar en el "Malvado Brujo".
	Si no hubiera ningún evento ni enemigo visible que deba ser contabilizado,
	se considera "ronda libre" (ver más adelante).
</p>
<p>
	La ronda va pasando por los diferentes jugadores. Esto

<h3>El turno del Jugador</h3>
<p>
	Durante el turno de un jugador "personaje", este podra moverse y realizar una acción,
	o a la inversa. Las acciones disponibles en el juego son las siguientes:
</p>
<ul>
	<li>Atacar</li>
	<li>Lanzar un hechizo (sólo personajes mágicos)</li>
	<li>Buscar tesoros</li>
	<li>Buscar puertas secretas</li>
	<li>Buscar trampas</li>
	<li>Desactivar trampas</li>
	<li>Cambiar/equipar/quitar objetos puestos</li>
	<li>Correr</li>
</ul>

<h3>El turno del Malvado Brujo (MB)</h3>
+ NPCS
<p>
	Antes de que el MB ejecute su turno normal, hay una fase previa llamada "Fase de instintos".
	Los jugadores deberán interrumpir al MB en caso de que no declare esta fase, para poder pagar
	los costes de las habilidades/hechizos de esta fase. Si un jugador no pagara el coste
	de su habilidad de instintos y deseara usarla posteriormente, podrá hacerlo por el doble de su coste.
</p>
<p>
	Durante el turno del "Malvado Brujo", este podrá mover y/o realizar una acción
	o a la inversa, con cada uno de los monstruos que hayan sido ya descubiertos por los jugadores.
	El "Malvado Brujo" dispone de dos acciones diferentes: Atacar y Hechizar (con criaturas mágicas).
	Recordad que los enemigos (salvo excepciones) son inmunes a las trampas de escenario,
	y que siempre que tengan PM, podrán abrir puertas como acción gratuita de movimiento.
</p>

<h3>La fase trepidante</h3>
<p>
	Conforme se mueven por el tablero los "personajes" desvelan el tablero.
	El MB colocará sobre el tablero cualquier cosa que los otros jugadores puedan ver.
	Por tanto, cuando otro jugador abre una puerta cerrada debe esperar para dar al MB
	la oportunidad de consultar el mapa de retos y colocar monstruos y escenografía.
	Hay que aclarar que al abrir una puerta siempre (que sea posible) se avanza una casilla
	en la sala/pasillo desvelado.
</p>
<p>
	Si la puerta la abre un jugador, desvela una sala y hay enemigos visibles, se dispara
	una fase especial llamada "trepidante". En esta fase participan todos aquellos
	jugadores que se encuentren en la misma sala del personaje que abrió la puerta.
	(Y solamente ellos). Al final de la fase trepidante, siempre será el turno del MB.
	Además, es posible concatenar fases trepidantes, mediante este sistema.
</p>
<p>
	La fase trepidante se divide en: declaraciones (y efectos de fase trepidante),
	y ejecución. Los jugadores que busquen, ejecutarán las búsquedas inmediatamente.
	Posteriormente, ejecutarán su turno los jugadores que decidieron combatir.
</p>

<header>
	<h2>Mejorar la experiencia de juego</h2>
</header>
<h3>Turnos negros, turnos grises, turnos blancos</h3>
<p>
	Parece obvio, pero a veces un personaje no puede hacer nada. Bien porque esté muriendo,
	aturdido, bloqueado, o bajo algún condicionante o hechizo. Lo ideal es pasar de turno,
	rápidamente, para que tus camaradas puedan continuar. (turno blanco)
</p>
<p>
	No es obligatorio, pero durante la colocación de escenografía del MB,
	los jugadores pueden decidir qué hacer, para que la estrategia no sea un desastre
	(turno negro). Al menos, es buena idea que antes de que sea su turno,
	tengan claro lo que hacer, en lugar de pensarlo justo cuando la ronda llega
	hasta ellos. (Relentizando la experiencia de juego del grupo, o turno gris)
</p>
<p>
	Cuando el MB declara ronda libre, los jugadores podrán moverse librevemente
	por el tablero, sin restricciones de movimiento, orden de juego, etc.
	Es recomendable, ser laxos en la secuencias de juego en aras de la agilidad.
</p>