<header>
	<h2>El Reglamento</h2>
</header>
<h3>La norma de oro</h3>
<p>
	El Malvado Brujo siempre tiene la última palabra.
</p>
<h3>Combatir</h3>
<p>
	Combatir es una de las dos opciones básicas que tienen los héroes durante su turno.
	(Junto con buscar) Si un héroe elige combatir, tendrá dos fases: movimiento y combate
	(podrá ejecutar hechizos o usar sus armas para golpear a los enemigos). Los héroes podrán decidir
	cuál de estas dos fases realizarán primero.
</p>
<p>
	Aquí podrás ver cómo afectan las <a href='/posiciones'>posiciones de combate</a> a las tiradas,
	hacer tus <a href="/dado/4">propias tiradas de combate</a>, o consultar los efectos de los distintos
	<a href='/estados'>estados</a> en los que un personaje puede caer.
</p>
<h3>Buscar</h3>
<p>
	Buscar es la otra opción básica que puede hacer un héroe durante el turno. Al contrario
	que combatir, buscar no dispone de fase de movimiento. (Aunque hay excepciones). Principalmente,
	se pueden buscar: trampas, puertas secretas y tesoros. (Aunque los tesoros más bien "se generan".
	<a href='/tesoro'>Aquí puedes generar tesoros aleatoriamente</a>)
</p>
<p>
	Los enemigos ocultos (emboscando), serán inmediatamente detectados con una tirada de buscar
	(excepto tesoros), siempre que la dificultad de su sigilo sea alcanzada. Los héroes que localicen
	puertas secretas o trampas, podrán disponer de movimiento + acción, siempre que interactuen
	con el objetivo descubierto. (Ejemplo: Se puede mover y desmantelar una trampa, en el turno que se localiza)
</p>
<h3>El personaje</h3>
<p>
	Reto tras reto, los personajes ganarán experiencia, con la que subirán de nivel,
	consiguiendo <a href='/habilidades' target='blank'>habilidades</a>
	y capacidades. También tendrán un inventario de objetos, mejoras en sus
	<a href='/torre' target='blank'>hechizos</a>, etc.
</p>
<p>
	Consulta la sección: <a href='/personajes' target='blank'>personajes</a>
	para obtener más información sobre los distintos personajes a elegir.
</p>