<header>
	<h2>Sobre los reglamentos</h2>
</header>
<h3>Aplicación de las normas</h3>
<p>
	El Malvado Brujo siempre tiene la última palabra.
</p>
<h3>Sobre el combate</h3>
<p>
	Para descubrir más sobre los estados
	del combate: <a href='/estados'>Haz click aquí</a><br/>
	Para descubrir más sobre las posiciones
	del combate: <a href='/posiciones'>Haz click aquí</a><br/>
</p>