<header>
	<h2>El Reglamento</h2>
</header>
<h3>Aplicación de las normas</h3>
<p>
	El Malvado Brujo siempre tiene la última palabra.
</p>
<h3>Sobre el combate</h3>
<p>
	Para descubrir más sobre los estados
	del combate: <a href='/estados'>Haz click aquí</a><br/>
	Para descubrir más sobre las posiciones
	del combate: <a href='/posiciones'>Haz click aquí</a><br/>
</p>
<h3>Sobre el personaje</h3>
<p>
	A la hora de decidir el personaje, los jugadores deberán elegir
	<ul>
		<li>Personaje: (o pueden hacer <a href='/test/0'>este test</a>)</li>
		<li>Nombre: El nombre del héroe al que interpretan</li>
		<li>Ciudad: Es la ciudad arbitrada por el Malvado Brujo (<a href='/mapa'>ver mapa</a>)
	</ul>
</p>