<section>	
	<header>
		<h2>Especializaciones</h2>
	</header>
	<p>
		Trucos y estrategias mágicas que todo mago puede aprender... 
		Siempre que pague cien piezas de oro.							
	</p>
	<ul class="link-list">
		<li>Diabluras</li>
		<li>Especialidad en escuela</li>
		<li>Eliminación del detrimento</li>
	</ul>
</section>