<section>
	<header>
		<h2>Plegarias Sagradas</h2>
	</header>
	<ul class="link-list">
		<li><a href="magia/elficas">Hechicería Silvana</a></li>
		<li><a href="magia/plegarias">Plegarias</a></li>
		<li><a href="magia/sombras">Magia de las Sombras</a></li>
		<li><a href="magia/sangre">Magia de la Sangre</a></li>
	</ul>
</section>