<% h = hero(params[:param].to_i) %>
<table>
	<tdead>
		<tr><th colspan=2>Amuletos</th></tr>
		<tr>
			<td widtd='80%'>Amuleto Izquierdo</td>
				<td>
					<% if a = h.amuletos.first %>
						<%= erb :'display/item', locals: { item: a } %></td>
					<% else %>
						<%= erb :'display/ranura' %>
					<% end %>
				</td>
			</td>
		</tr>
		<tr>
			<td widtd='80%'>Amuleto Derecho</td>
				<td>
					<% if a = h.amuletos[1] %>
						<%= erb :'display/item', locals: { item: a } %></td>
					<% else %>
						<%= erb :'display/ranura' %>
					<% end %>
				</td>
			</td>
		</tr>
	</tdead>
</table>