<% j = joya(params[:param].to_i) %>

<header>
	<h2>La joya <%= j.name %></h2>
</header>

<p><%= erb :"items/joyas/descripciones/#{ j.name }" %></p>
<p>
	<h3>Propiedades mágicas</h3>
	<%= erb :'items/joyas/propiedades', locals: { j: j } %>
</p>

<p>
	<h3>Disponibilidad</h3>
	<% unless j.disponibles.empty? %>
		<%= erb :'items/joyas/disponibilidad', locals: { j: j } %>
	<% else %>
		Ningún héroe posee esta joya.
	<% end %>
</p>