<a href="/objetos" class="bordered-feature-image">
	<img src="images/inicio/features/objetos.jpg" alt="Objetos" />
</a>
<h2>Objetos y equipamiento</h2>
<p>
	La mayoría de renegados comprenden
	que deben ir bien pertrechados a la batalla.<br/>
	Descubre cuáles son los mejores <a href='/objetos'>objetos</a>.
</p>