<a href="/mapa" class="bordered-feature-image">
	<img src="images/inicio/features/lore.jpg" alt="Lore" />
</a>
<h2>Descubre la leyenda</h2>
<p>
	Todo lo que querías saber sobre el lore: <a href="/historias">historias de los personajes</a>,
	<a href="/mapa">mapa del mundo</a>, <a href="/criaturas">bestiario de criaturas</a>
	y personajes ilustres.
</p>