<a href="/habilidades" class="bordered-feature-image">
	<img src="images/inicio/features/habilidades.jpg" alt="habilidades" />
</a>
<h2>Consulta tus habilidades</h2>
<p>
	En la sección de <a href="/manuales">reglamentos</a>, 
	puedes consultar las <a href="/habilidades">habilidades</a>
	de cada clase de personaje, tirar <a href="/dado/4">dados de combate</a>
	y <a href="/tesoro">tesoros</a>.
</p>