<header>
	<h2>Thorek Cejohierro</h2>
</header>
<p>
	Thorek Cejohierro es un Señor de las Runas de leyenda. Las guerras constantes
	han provocado que gran parte del conocimiento de las runas se haya perdido,
	al ir cayendo cada vez más fortalezas bajo el poder de los pieles verdes y otros enemigos. 
	No obstante, Thorek es uno de los mejores Señores de las Runas que existen
	y hay quien dice que es el mejor de todos los tiempos. 
</p>
<h3>Un carácter temible</h3>
<p>
	Thorek ha gobernado desde hace siglos sobre las fraguas y armerías de Karak-Azul
	y cuando está de buen humor es ferozmente iracundo y una pesadilla viviente
	para sus aprendices y oficiales, quienes temen su desdén casi tanto
	como admiran su maestría y sabiduría. Ni siquiera los hijos de los reyes
	se atreven a entrar en los talleres sin el consentimiento de Thorek,
	y más de un jovenzuelo con aspiraciones de llegar a convertirse en Herrero Rúnico,
	se ha visto reasignado al trabajo en las minas al no cumplir
	con los exigentes y tradicionales requisitos de Thorek. 
</p>
<p>
	Thorek Cejohierro es un Herrero Rúnico de la vieja escuela.
	Es tradicionalista en todos los aspectos, no tolera las nuevas tecnologías
	y aprovecha cada oportunidad para dar su opinión sobre los "nuevos inventos".
	Afortunadamente, no solo presta a <a href="/pnj/luria">Luria BattleAxe</a> sus consejos,
	sino también su recio brazo. Igual que su Gran Reina, Thorek anhela reclamar el Imperio Enano de antaño, 
	pero además tiene una cruzada personal: buscar reliquias perdidas de los días de sus ancestros.
	Con ese fin, Thorek mantiene una actividad febril y suele vérsele ayudando
	a los ejércitos de distintos clanes y fortalezas.
</p>
<h3>Firmes convicciones</h3>
<p>
	Aunque Thorek tiene tareas de sobra a las que dedicarse en las forjas,
	siempre está preparado para aventurarse al exterior de la fortaleza
	y combatir en el campo de batalla. Últimamente, las expediciones Enanas han conseguido
	recuperar multitud de antiguos tesoros de fortalezas perdidas.
	Recientemente Thorek ha estado bajo tierra, socorriendo las líneas de batallas Enanas
	y desatando la furia de su Yunque Rúnico sobre los Skavens que infestan los salones subterráneos.
	Además de ayudar a <a href="/pnj/luria">Luria BattleAxe</a>, busca las cámaras del tesoro selladas
	que no se han vuelto a encontrar. Cada nuevo hallazgo de artefactos rúnicos antiguos,
	ayuda a conservar la preciosa artesanía rúnica de sus ancestros
	y mantener vivos los valiosos conocimientos de los antepasados, cosa que, a su vez,
	sirve para garantizar que no se pierda ninguna fortaleza más. De hecho,
	Thorek está seguro de que, junto con las empresas la Gran Reina y otros Enanos de la misma índole,
	puede que aún sea posible reconquistar parte de todo lo que los Enanos han perdido. 
</p>
<h3>El Yunque Rúnico</h3>
<p>
	Por todo lo dicho, no podía ser más lógico que Thorek sea el guardián del Yunque Rúnico.
	Thorek, que es el mayor Señor de las Runas que queda con vida, comprende a la perfección todos sus secretos y,
	pese a que siente un profundo respeto por el poder del yunque, no le tiene ningún miedo,
	pues para él es una herramienta sobre la que crear y dar forma a la magia como un herrero corriente
	forjaría el hierro, el oro y el mithril. Nunca se ve a Thorek sin su Yunque Rúnico ni su ayudante más capaz,
	un Enano sumamente abnegado llamado Kraggi. La mayoría de las veces, Kraggi es una gran ayuda para Thorek,
	pero ocasionalmente su inexperiencia (solo lleva un siglo forjando) trae problemas.
	Cuando Kraggi pone la debida atención a las hoscas instrucciones de su maestro,
	no hay Herrero Rúnico vivo capaz de igualar la destreza de Thorek. Con un tañido resonante de su yunque,
	Thorek desbarata hechizos y destruye a todo el que ose oponerse al creciente poder de los Enanos. 
</p>