<header>
	<h2>Luria BattleAxe</h2>
</header>

<h3>El alzamiento de la Reina</h3>
<p>
	Durante muchos años los enanos de las colinas han vivido con una creencia;
	Su raza, estaba compuesta <strong>únicamente por varones</strong>.
	Sin embargo, hace algunas lunas, ocurrió un evento inesperado.
</p>
<p>
	Como surgida de la nada, una reina enana, se alzó sobre la Colina Oriental
	de <a href='city/Jadessvärd'>la ciudad de Jadessvärd</a> y pronunció una arenga
	de guerra a todos los habitantes del valle: 
</p>

<p><i>
	"¡Enanos de Jadessvärd! ¡Vuestro tiempo de vergüenza y maldición ha finalizado!
	Es ante vosotros, que yo, la reina Luria BattleAxe, declaro como legítima mi soberanía
	sobre esta montaña y todos los vasallos que sobre ella rinden pleitesía!"
</i></p>
<p><i>
	"¡El reinado de los enanos ha resurgido! ¡Reniego los derechos imperiales sobre lo
	que una vez fue de nuestra soberanía y hoy por fin retorna a nuestro poder indiscutible!"
</i></p>
<p><i>
	"¡Svärd ufd arthruax Luria!""
</i></p>

<h3>El Juramento de los Enanos</h3>
<p>
	Tras pronunciar estas palabras, la Reina conmovió muchos de los corazones desilusionados
	de los enanos, otorgándoles de nuevo un motivo por el que luchar. ¡El Reino Enánico!
	Y la Reina, no venía sola. Centenares de enanos de las Montañas de Ébano, los ancestrales
	Guerreros de Obsidiana, portaban el regio estandarte negro y azul de la reina.
</p>
<p>
	Y una promesa. La promesa del oro. La reina cubriría de oro, a cualquier enano dispuesto a
	ayudarla con sus pretensiones de conquista de lo que se autodesignaba como legítima heredera.
</p>
<p>
	Muchos se unieron. Quizás por el nuevo adalid de patriotismo, quizás por las riquezas prometidas,
	por el honor o por el simple deseo de amor hacia su Reina Madre.
</p>
<p>
	La única enana mujer, en toda la faz del <a href='/mapa'>Viejo Mundo</a>
</p>