<header>
	<h2>Su Majestad Imperial</h2>
</header>

<p>
	El emperador es el líder y gobernante de El Imperio, la nación humana más poderosa del Viejo Mundo. 
	El nuevo emperador es elegido entre los Condes Electores entre los 15 electores y coronado por el Gran Teogonista. 
	El primer emperador fue Sigmar con su coronación comenzó el año 0 del Calendario Imperial. 
	El actual Emperador, Magnus el Último, que fue coronado en 2502 CI.
</p>

<h3>La muerte de un Emperador</h3>
<p>
	A la muerte de un emperador, el trono no pasan automáticamente a su heredero,
	si no que se lleva a cabo un concilio para elegir a un nuevo gobernante
	entre los candidatos que se presenten al trono. 
	Este concilio es llevado a cabo por los 15 electores, los cuales 10 son Condes Electores,
	el Gran Teogonista y dos Archilectores del culto de Sigmar, el Ar-Ulric y el 
	<a href='/pnj/mentor'>Anciano de la Asamblea</a>. Frecuentemente, el heredero del emperador fallecido
	se suele presentar como candidato al trono, por lo tanto, 
	siempre hay posibilidades de que se produzca una sucesión dinástica en el trono.
	Esto suele depender de cómo fuera el gobierno y las relaciones de su predecesor con los electores. 
</p>