<header>
	<h2>Shezz'al Ursh, archinigromantee</h2>
</header>
<h3>Comerte tu propia comida de perro</h3>
<p>
	La muerte, un tema serio. Y a veces se me olvidaba.
	Recuerdo darle de comer a mi perro, los huesos de mis esclavos.
	Entiéndeme es un buen chucho, fiel, aunque hula algo raro.
	Quizás a podrido. Pero un buen perro. Yo no valoraba
	la cantidad de desprecio con la que trataba los restos
	de carne muerta con los que trabajaba. Es como si nada imporara.
</p>
	Pero no todo es trabajar, operar. Dignididad y decencia.
	"Respeto". Yo no lo entendía, hasta que tras años de prácticas
	nigrománticas, mi carne, inexorablemente, envejeció.
</p>
<p>
	Qué mal, hacerse viejo. Un día te ves en el espejo
	y te das cuenta de la mala gestión de tu juventud.
	Un simple sortilegio de vampirismo y eres joven eternamente.
	¡Ah, pero esclavo! Claro, eres esclavo... Siempre hay un amo.
	Recuerdo darle a mi becario sangre de un vampiro viejo,
	tras drenarle la suya.
</p>
<p>
	Error. El viejo manda sobre el novato.
	Parece que la sangre, importa.
</p>
<p>
	Maté al maestro y al aprendiz, en el proceso
	de liberarle.
</p>