<header>
	<h2>Vhezkos Yadelokj, dragón de jade</h2>
</header>
<h3>Los esclavos drow</h3>
<p>
	Vinieron de más allá del mar, sobre las Arcas Negras.
	Fiel a su conquista sin escrúpulos, sometieron la tierra.
	Sometieron las aguas, los espíritus. Y especialmente a los nuestros.
	Algunos simplemente eran carcasas inánimes, desprovistas de vida.
	Cumplían órdenes, entregando su libertad por un puñado de monedas
	en el mejor caso, o por un puñado de promesas, que es peor.
</p>
<p>
	Las promesas de victoria, si se rendían. Promesas de supervivencia,
	si morían primero. Promesas de liderazgo de sus semejantes,
	a cambio de su propia libertad, sometida. Perdimos nuestra identidad.
</p>
<p>
	Elegí la caverna de Varnungorn, como refugio. Quizás las aguas
	tranquilas, inocentes, superan sanar mi nostalgia de libertad.
	Quizás pudiera dormirme eternamente, soñar un infinito.
</p>
<p>
	Pero entonces comprendí mi error. El oasis en el desierto,
	es el coto de caza del león. Me transformé en la presa,
	y aunque mi cuerpo no entrara en un Arca Negra,
	supieron lo que debían hacer. Comprometer mi esencia,
	volverme frágil, desprendiéndome de mi forma dracónica.
</p>
<p>
	Me asaltaron con lanzas, gujas y arpones. Armas de cobardes,
	para ....
</p>