<header>
	<h2>El Tarot Maldito</h2>
</header>
<a href=<%= '/tarot' %> class='feature-image'>
	<img src='../images/items/tarot.png' alt='Tarot Maligno'/>
</a>
<center>
	<a href='/tarot'>Barajar el tarot</a>
</center>