<% mapa = rand(4)  %>
<% tirada = tarot[rand(22)] %>
<% arcano = tirada.keys.first %>
<% cardinal = tirada.values.first %>

<header>
	<h2><%= arcano %>
		<%= ["del Norte", "del Sur", "Occidental", "Oriental"][mapa] %>
	</h2>
</header>
<h3><%= tirada[arcano][mapa] %></h3>