<header>
	<h2>Información útil</h2>
</header>
<a href="/personaje/bárbaro" class="feature-image">
	<img src="/images/nav/bárbaro.png" alt='Bárbaro'/>
</a>
<ul class="link-list">
	<li><a href="/raza/humanos">La raza de los humanos</a></li>
	<li><a href="/locura">Reglas sobre la locura</a></li>
</ul>