<header>
	<h2>Información útil</h2>
</header>
<a href="/personaje/elfo" class="feature-image">
	<img src="/images/nav/elfo.png" alt='Elfo'/>
</a>
<ul class="link-list">
	<li><a href="/elficas">Hechicería Silvana</a></li>
	<li><a href="/raza/elfos">La raza de los elfos</a></li>
</ul>