<header>
	<h2>Información útil</h2>
</header>
<a href="/personaje/elfo" class="feature-image">
	<img src="/images/nav/elfo.png" alt='Elfo'/>
</a>
<p>
	<h3>Elfos en combate</h3>
	<ul class="link-list">
		<li><a href="/maestrodearmas">El Maestro de Armas</a></li>
		<li><a href="/elficas">Hechicería Silvana</a></li>
		<li><a href="/hechizos/1">Magia Elemental</a></li>
	</ul>
</p>
<p>
	<h3>Contexto y ambientación</h3>
	<ul class="link-list">
		<li><a href="/raza/elfos">La raza de los elfos</a></li>
		<li><a href="http://es.warhammerfantasy.wikia.com/wiki/Eltharin">
					La lengua Eltharin
				</a>
		</li>
	</ul>
</p>
<p>
	<h3>Personajes Ilustres</h3>
	<ul class="link-list">
		<li><a href="/pnj/zenarius">Furestes Zenarius (por completar)</a></li>
	</ul>
</p>