<header>
	<h2>Información útil</h2>
</header>
<a href="/personaje/elohim" class="feature-image">
	<img src="/images/nav/elohim.png" alt='elohim'/>
</a>
<ul class="link-list">
	<li><a href="/plegarias/1">Plegarias</a></li>
</ul>