<header>
	<h2>Información útil</h2>
</header>
<a href="/personaje/enano" class="feature-image">
	<img src="/images/nav/enano.png" alt='Enano'/>
</a>
<ul class="link-list">
	<li><a href="/raza/enanos">La raza de los enanos</a></li>
	<li><a href="/pnj/luria">La reina Luria</a></li>
</ul>