<header>
	<h2>Información útil</h2>
</header>
<a href="/personaje/enano" class="feature-image">
	<img src="/images/nav/enano.png" alt='Enano'/>
</a>
<p>
	<h3>Enanos en combate</h3>
	<ul class="link-list">
		<li><a href="/maestrodearmas">El Maestro de Armas</a></li>
		<li><a href="/armaduras">Piezas de Armadura</a></li>
		<li><a href="/runas">Las Runas mágicas</a></li>
		<li><a href="/tierra/1">Magia de Tierra</a></li>
	</ul>
</p>
<p>
	<h3>Contexto y ambientación</h3>
	<ul class="link-list">
		<li><a href="/raza/enanos">La raza de los enanos</a></li>
		<li><a href="http://es.warhammerfantasy.wikia.com/wiki/Khazalid">
					La lengua Khazalid
				</a>
		</li>
	</ul>
</p>
<p>
	<h3>Personajes Ilustres</h3>
	<ul class="link-list">
		<li><a href="/pnj/luria">La reina Luria</a></li>
		<li><a href="/pnj/borin">Borin</a></li>
		<li><a href="/pnj/cejohierro">Thorek Cejohierro</a></li>
	</ul>
</p>