<header>
	<h2>Información útil</h2>
</header>
<a href="/personaje/ladrón" class="feature-image">
	<img src="/images/nav/ladrón.png" alt='ladrón'/>
</a>
<ul class="link-list">
	<li><a href="/sigilo">Reglas sobre el sigilo</a></li>
	<li><a href="/sombra/1">Hechizos de sombras</a></li>
	<li><a href="/sangre/1">Hechizos de sangre</a></li>
</ul>