<header>
	<h2>Información útil</h2>
</header>
<a href="/personaje/mago" class="feature-image">
	<img src="/images/nav/magias.png" alt='Magos'/>
</a>
<ul class="link-list">
	<li><a href="/hechizos/1">Hechizos elementales</a></li>
	<li><a href="/magisters">Magisters</a></li>
	<li><a href="/magister">Maestro Arcano</a></li>
</ul>