<header>
	<h2>Información útil</h2>
</header>
<a href="/personaje/rakshasa" class="feature-image">
	<img src="/images/nav/rakshasa.png" alt='Rakshasa'/>
</a>
<p>
	<h3>Rakshasas en combate</h3>
	<ul class="link-list">
		<li><a href="/maestrodearmas">El Maestro de Armas</a></li>
		<li><a href="/armaduras">Piezas de Armadura</a></li>
		<li><a href="/arena/1">Magia de Arena</a></li>
		<li><a href="/plegarias/1">Plegarias</a></li>
	</ul>
</p>