<table>
	<thead>
		<th colspan='2'>Hechizo</th>
		<th>Descripción</th>
	</thead>
	<tbody>
		<% elficas.each do |e| %>
			<tr style=<%= e.color %>>				
				<td><%= erb :'display/spell', locals: { spell: e } %></td>
				<td><%= e.name.capitalize %></td>
				<td><%= e.efecto %></td>
			</tr>
		<% end %>
	</tbody>
</table>