<header>
	<h2>
		Hechizos
		<% if params[:view] == 'hechizos' %>
			elementales
		<% else %>
			de <%= params[:view] %>
		<% end %>
		de nivel <%= params[:param].to_i || 1 %>
	</h2>
</header>

<p>
	<table class='tspells'>
		<thead>
			<th>Icono</th>
			<% unless %w(aire tierra fuego agua).include?(params[:view]) %>
				<th>Elemento</th>
			<% end %>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Potencia</th>
		</thead>
		<tbody>
			<%= erb :'magia/hechizos/elemental' %>
		</tbody>
	</table>
</p>