<header>
	<h2><% if params[:view] == 'hechizos' %>
			Hechizos elementales de nivel <%= params[:param].to_i || 1 %>
		<% else %>
			Hechizos de <%= params[:view] %> de nivel <%= params[:param].to_i || 1 %>
		<% end %>
	</h2>
</header>
<table class='tspells'>
	<thead>
		<th>Icono</th>
		<% unless %w(aire tierra fuego agua sangre sombra hielo arena).include?(params[:view]) %>
			<th>Elemento</th>
		<% end %>
		<th>Nombre</th>
		<th>Descripción</th>
		<% if params[:param].to_i == 1 %>
			<th>Diablura</th>
			<th>Ardid</th>
		<% end %>
		<% if params[:param].to_i == 1 %>
			<th>Maestría</th>
		<% end %>
		<th>Potencia</th>
	</thead>
	<tbody>
		<%= erb :'magia/hechizos/elemental' %>
	</tbody>
</table>