<header>
	<h2>
		<% if params[:view] == 'hechizos' %>
			Hechizos elementales
			de nivel <%= params[:param].to_i || 1 %>
		<% else %>
			Hechizos de <%= params[:view] %>
			de nivel <%= params[:param].to_i || 1 %>
		<% end %>
	</h2>
</header>
<p>
	<table class='tspells'>
		<thead>
			<th>Icono</th>
			<% unless %w(aire tierra fuego agua).include?(params[:view]) %>
				<th>Elemento</th>
			<% end %>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Potencia</th>
		</thead>
		<tbody>
			<%= erb :'magia/hechizos/elemental' %>
		</tbody>
	</table>
</p>