<header>
	<h2>
		<%= params[:view].capitalize %>
		de nivel <%= params[:param].to_i %>
	</h2>
</header>

<p>
	<table>
		<thead>
			<th colspan='2'>Plegaria</th>
			<th>Efecto</th>
			<th>summun</th>
			<th>chakra</th>
		</thead>
		<tbody>
			<%= erb :'magia/hechizos/plegarias' %>
		</tbody>
	</table>
</p>