<table>
	<thead>
		<th colspan='2'>Plegaria</th>
		<th>Efecto</th>
	</thead>
	<tbody>
		<% plegarias.each do |p|%>
			<tr style=<%= p.color %>>
				<td><%= erb :'display/spell', locals: { spell: p } %></td>
				<td><%= p.name.capitalize %></td>
				<td><%= p.efecto %></td>
			</tr>
		<% end %>
	</tbody>
</table>