<header>
	<h2>Personajes Ilustres</h2>
</header>
<h3>El Imperio</h3>
<ul class="link-list">
	<li><a href="/pnj/mentor">Mentor</a></li>
	<li><a href="/pnj/ragnar">Sir Ragnar</a></li>
	<li><a href="/pnj/magnus">Magnus IV</a></li>
	<li><a href="/pnj/sigmar">Sigmar</a></li>
	<li><a href="/pnj/gilgamesh">Gilgamesh</a></li>
</ul>
<h3>La corte de Ébano</h3>
<ul class="link-list">
	<li><a href="/pnj/luria">Luria BattleAxe</a></li>
	<li><a href="/pnj/borin">Borin</a></li>
	<li><a href="/pnj/cejohierro">Thorek Cejohierro</a></li>
</ul>	
<h3>El Caos y las Tinieblas</h3>
<ul class="link-list">
	<li><a href="/pnj/morcar">Morcar</a></li>
	<li><a href="/pnj/averkram">Averkram</a></li>
	<li><a href="/pnj/Zharakarías">Zharakarías</a></li>				
</ul>