<table>
	<thead>
			<th>Dato</th>
			<th>Descripción</th>
		</tr>		
	</thead>
	<tbody>
		<tr>
			<td>Nombre</td>
			<td>El nombre del héroe al que interpretan</td>
		</tr>
		<tr>
			<td>Sexo</td>
			<td>
				Hombre / Mujer<br/>
				(Los enanos solo pueden ser varones)
			</td>
		</tr>
		<tr>
			<td>Jugador</td>
			<td>La persona que decide por el personaje</td>
		</tr>
		<tr>
			<td>Nivel</td>
			<td>1 (Como regla general)</td>
		</tr>
		<tr>
			<td>Ciudad</td>
			<td>
				Es la ciudad arbitrada por el Malvado Brujo
				(<a href='/mapa'>ver mapa</a>)
				Dependiendo de sus características
				(comerciantes, gremios, etc)
				Los personajes tendrán acceso a diferentes campañas,
				objetos, entrenamientos...
			</td>
		</tr>
		<tr>
			<td>Personaje</td>
			<td>
				Cualquiera de las <a href='/razas' target='blank'>disponibles</a><br/>
				(o pueden hacer <a href='/test/0'>este test</a>)
			</td>
		</tr>
		<tr>
			<td>Raza</td>
			<td>Viene determinada por el personaje que escojan.</td>
		</tr>
	</tbody>
</table>