<table>
	<thead>
		<th colspan='2'>Personaje</th>
		<th>Raza</th>
	</thead>
	<tbody>
		<tr>
			<td>
				<img src='images/personajes/mago.png' alt="mago" /, id='icon'>
				<img src='images/personajes/maga.png' alt="maga" /, id='icon'>
			</td>
			<td><a href="/personaje/mago">Mag@</a></td>
			<td><a href="/raza/humanos">Humana</a></td>
		</tr>
		<tr>
			<td>
				<img src='images/personajes/elfo.png' alt="elfo" /, id='icon'>
				<img src='images/personajes/elfa.png' alt="elfa" /, id='icon'>
			</td>
			<td><a href="/personaje/elfo">Elf@</a></td>
			<td><a href="/raza/elfos">Elfa</a></td>
		</tr>
		<tr>
			<td>
				<img src='images/personajes/enano.png' alt="enano" /, id='icon'>
			</td>
			<td><a href="/personaje/enano">Enano</a></td>
			</td>
			<td><a href="/raza/enanos">Enana</a></td>
		</tr>
		<tr>
			<td>
				<img src='images/personajes/b치rbaro.png' alt="mago" /, id='icon'>
				<img src='images/personajes/b치rbara.png' alt="maga" /, id='icon'>
			</td>
			<td><a href="/personaje/b치rbaro">B치rbar@</a></td>
			<td><a href="/raza/humanos">Humana</a></td>
		</tr>
	</tbody>
</table>