<header>
	<h2>Personajes</h2>
</header>
<a href=<%= '/razas' %> class='feature-image'>
	<img src='../images/nav/razas.png' alt='razas'/>
</a>
<h3>Personajes iniciales</h3>
<ul class="link-list">
	<li><a href="/personaje/enano">Enano</a></li>
	<li><a href="/personaje/mago">Mago</a></li>
	<li><a href="/personaje/elfo">Elfo</a></li>
	<li><a href="/personaje/bárbaro">Bárbaro</a></li>
</ul>
<h3>Descendientes</h3>
<ul class="link-list">
	<li><a href="/personaje/ladrón">Ladrón</a></li>
	<li><a href="/personaje/clérigo">Clérigo</a></li>
</ul>

<h3>Personajes especiales</h3>
<ul class="link-list">
	<li><a href="/personaje/tiefling">Tiefling</a></li>
	<li><a href="/personaje/rakshasa">Rakshasa</a></li>
	<li><a href="/personaje/elohim">Elohim</a></li>
</ul>