<header>
	<h2>Pagar el precio del poder</h2>
	<h3>Resuelve la adivinanza:</h3>
</header>
<center>
	<% pregunta_id = rand(1..total_adivinanzas) %>
	<p><%= erb :"items/espadaroja/adivinanzas/#{pregunta_id}" %></p>
</center>
<br/>
<p>De lo contrario, deberás pagar el precio de sangre..</p>
<a href="/solve/<%= pregunta_id %>">Descubre la solución</a>