<section>
	<header>
		<h2>Pagar el precio del poder</h2>
		<h3>Resuelve la adivinanza:</h3>
	</header>
	<center>
		<%= erb :"items/espadaroja/adivinanzas/#{rand(1..6)}" %>
	</center>
	<br/>
	<p>De lo contrario, deberás pagar el precio de sangre..</p>
	<a href="/error">Descubre la solución</a>
</section>