<header>
	<h2>La Espada Roja</h2>
</header>
<a href=<%= '/espadaroja' %> class='feature-image'>
	<img src='../images/nav/espadaroja.png' alt='Espada Roja'/>
</a>
<p>
	Este taimado objeto, tiene personalidad propia.
	Cada turno que sea empuñada, somete a su portador
	a una adivinanza, que si no	lograra resolver,
	le causa 4 daños.
</p>
<p>
	Tira 2d6 cada reto.
	Hasta que no resuelvas esos enigmas,
	de entre 12 posibles, la espada no quedará
	saciada.
</p>