<header>
	<h2>Artefactos</h2>
</header>
<a href='/objetos' class="feature-image">
	<img src='/images/nav/artefactos.png' alt='Artefactos' /, id='box'>
</a>
<p>
	Son piezas de artesanía, muchas veces dotadas de magia,
	de origen legendario.
</p>
<ul class="link-list">
	<li><a href="/tarot">El tarot maldito</a></li>
	<li><a href="/espadaroja">La espada roja</a></li>
	<li><a href="/listanegra">La lista negra</a></li>
</ul>