<header>
	<h2>Contenedores</h2>
	<h3>Más es menos</h3>
</header>
<p>
	Son objetos que aunque consumen casillas de inventario,
	permiten llevar en su interior otros objetos.
</p>
<ul class="link-list">
	<% ["pociones","piezas","abalorios","materiales"].each do |obj| %>
		<li><a href='/<%= obj %>'><%= obj.capitalize %></a></li>
	<% end %>
</ul>