<header>
	<h2>Inventario</h2>
	<h3>La ley del 3x3</h3>
</header>
<p>
	Los héroes pueden llevar un número limitado de objetos en el inventario,
	según su nivel de héroe. El número de objetos máximo es 3 y se incrementa
	en uno cada 3 niveles.						
</p>