<section>
	<header>
		<h2>Contenedores</h2>
		<h3>Más es menos</h3>
	</header>
	<p>
		Son objetos que aunque consumen casillas de inventario,
		permiten llevar en su interior otros objetos.
	</p>
</section>