<section>
	<header>
		<h2>Contenedores</h2>
		<h3>Más es menos</h3>
	</header>
	<p>
		Son objetos que aunque consumen casillas de inventario,
		permiten llevar en su interior otros objetos.
	</p>
	<ul class="link-list">
		<li><a href="/piezas">Piezas</a></li>
		<li><a href="/abalorios">Abalorios</a></li>
		<li><a href="/materiales">Materiales</a></li>
	</ul>
</section>