<section>
	<header><h2>Contenedores</h2></header>
	<ul class="link-list">
		<li><a href="#">Ligula non varius</a></li>
		<li><a href="#">Dis parturient montes</a></li>
		<li><a href="#">Nascetur ridiculus</a></li>
	</ul>
</section>