<header>
	<h2>Lista de nombres</h2>
</header>
<a href=<%= '/listanegra' %> class='feature-image'>
	<img src='/images/nav/listanegra.png' alt='La Lista Negra'/>
</a>
<ul class="link-list">
	<li><a href='/'><strike>Capitán Skal (perla negra)</strike></a></li>
	<li><a href='/'><strike>Thobb, el alquimista</strike></a></li>
	<li><a href='/'><strike>Thobb, el alquimista</strike></a></li>
	<li><a href='/'><strike>Thobb, el alquimista</strike></a></li>
	<li><a href='/'>Thobb, el alquimista</a></li>
</ul>