<header>
	<h2>Biblioteca</h2>
</header>
<a href=<%= '/biblioteca' %> class='city-image'>
	<img src='../images/ciudad/torre de magia.png' alt='Biblioteca'/>
</a>
<p>
	Después de cada reto, los personajes agotados, pueden relajarse en la biblioteca,
	para recuperar los puntos de mente que les falten. !Salvo los forajidos!
</p>