<header>
	<h2>La Gran Biblioteca</h2>
</header>
<h3>Torre de Magia</h3>
<p>
	Texto de la torre
</p>
<h3>Escuelas de magia</h3>
<p>
	Texto de la escuelas
</p>
<h3>Magisters</h3>
<p>
	Texto de los magisters
</p>
<h3>Archivo del Cronista</h3>
<p>
	Texto del archivo
</p>