<h2>El Proyecto Herosheet</h2>
<p>
	Surge como una idea amateur, de un grupo de amigos, 
	dispuestos a reunir la información de sus partidas 
	de HeroQuest en una web oficial sin ánimo de lucro.
	El código está en Github, 
	<a href="https://github.com/borja/herobravo">¡colabora!</a>
</p>