<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">
			<div class="6u">
				<section><%= erb :'footer/blurb' %></section>
			</div>
			<div class="6u">
				<section><%= erb :'footer/links' %></section>
			</div>
		</div>
	</footer>
</div>
<%= erb :'footer/copyright' %>