<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">
			<div class="4u">
				<%= erb :'footer/blurb' %>
			</div>
			<div class="8u">
				<%= erb :'footer/links' %>
			</div>
		</div>
	</footer>
</div>
<%= erb :'footer/copyright' %>