<section>
	<h2>Otros links relevantes</h2>
	<div>
		<div class="row">
			<div class="3u">
				<ul class="link-list last-child">
					<li><a href="http://www.heroquest.es" target="_blank">HeroQuest.es</a></li>
					<li><a href="http://www.hq-cooperation.de/index_e.html" target="_blank">HQ-Cooperation</a></li>
					<li><a href="http://www.heroscribe.org/" target="_blank">HeroScribe</a></li>
				</ul>
			</div>
			<div class="3u">
				<ul class="link-list last-child">
					<li><a href="http://elrinconludico.blogspot.com.es/" target="_blank">El Rincón Lúdico</a></li>
					<li><a href="http://ficsleyendas.blogspot.com.es/" target="_blank">El Rincón de las Leyendas</a></li>
					<li><a href="" target="_blank">No-link</a></li>
				</ul>
			</div>
			<div class="3u">
				<ul class="link-list last-child">
					<li><a href="" target="_blank">Neque amet dapibus</a></li>
					<li><a href="" target="_blank">Sed mattis quis rutrum</a></li>
					<li><a href="" target="_blank">Accumsan suspendisse</a></li>
				</ul>
			</div>
			<div class="3u">
				<ul class="link-list last-child">
					<li><a href="" target="_blank">Neque amet dapibus</a></li>
					<li><a href="" target="_blank">Sed mattis quis rutrum</a></li>
					<li><a href="" target="_blank">Accumsan suspendisse</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>