<table id='table-2'>
	<tdead>
		<tr>
			<td widtd='80%'>Amuleto Izquierdo</td>
				<td>
					<% if a = @heroe.amuletos.first %>
						<%= erb :'display/item', :locals => {:item => a } %></td>
					<% else %>
						<%= erb :'display/ranura' %>
					<% end %>
				</td>
			</td>
		</tr>
		<tr>
			<td widtd='80%'>Amuleto Derecho</td>
				<td>
					<% if a = @heroe.amuletos[1] %>
						<%= erb :'display/item', :locals => {:item => a } %></td>
					<% else %>
						<%= erb :'display/ranura' %>
					<% end %>
				</td>
			</td>
		</tr>
	</tdead>
</table>