<% h = hero(params[:param].to_i) %>
<table id='tresp'>
	<thead>
		<tr><th colspan=2>Armas</th></tr>
		<tr><td width='80%'>Mano principal</td>
			<td>
				<% if a = h.armas[0] %>
					<%= erb :'display/item', locals: { item: a }  %>
				<% else %>
					<%= erb :'display/ranura', locals: { casillero: 'arma'} %>
				<% end %>
			</td>
		</tr>
		<tr><td width='80%'>Mano secundaria</td>
			<td>
				<% if a = h.armas[1] %>
					<%= erb :'display/item', locals: { item: a}  %>
				<% else %>
					<%= erb :'display/ranura', locals: { casillero: 'escudo'} %>
				<% end %>
			</td>
		</tr>
	</thead>
</table>