<table id='tresp'>
	<thead>
		<tr><th colspan=2>Armas</th></tr>
		<tr><td width='80%'>Mano principal</td>
			<td><%= erb :'display/arma', :locals => { :a => @heroe.armas.first} %></td>
		</tr>
		<tr><td width='80%'>Mano secundaria</td>
			<td>
				<% if a = @heroe.armas[1] %>
					<%= erb :'display/arma', :locals => { :a => a } %>
				<% else %>
					<%= erb :'display/ranura' %>
				<% end %>
			</td>
		</tr>
	</thead>
</table>