<section>
	<%= erb :'ficha/inventario/armas' %>
	<br>
	<table id='tresp'>
		<thead>
			<tr><th colspan=2>Protecciones</th></tr>
			<tr><td width='80%'>Armadura</td>
				<td><%= erb :'display/armadura', :locals => { :a => @heroe.armadura } %></td>
			</tr>
			<% fields[1].each do |field| %>
				<%= erb :'ficha/inventario/field', :locals => {:fits => field } %>
			<% end %>
		</thead>
	</table>
</section>