<section>
	<%= erb :'ficha/inventario/anillos' %>
	<br>
	<table>
		<thead>
			<tr><th colspan=2>Atuendos</th></tr>
			<tr>
				<% fields[1].each do |field| %>
					<%= erb :'ficha/inventario/field', locals: { fits: field } %>
				<% end %>
			</tr>
		</thead>
	</table>
</section>