<section>
	<%= erb :'ficha/inventario/armas' %>
	<br>
	<table>
		<thead>
			<tr><th colspan=2>Protecciones</th></tr>
			<tr><td width='80%'>Armadura</td>
				<td><%= erb :'display/armadura', locals: { a: hero(params[:param].to_i).armour } %></td>
			</tr>
			<% fields[0].each do |field| %>
				<%= erb :'ficha/inventario/field', locals: { fits: field } %>
			<% end %>
		</thead>
	</table>
</section>