<section>
	<header>
		<center><h2>Abalorios</h2></center>
	</header>
	<table>
		<tbody>
			<tr>
				<% if @heroe.abalorios %>
					<% @heroe.abalorios.each do |a| %>
						<td><%= erb :"display/item", :locals => {:item => a} %></td>
					<% end %>
				<% else %>
					<td>Sin abalorios</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</section>