<section>
	<table>
		<theader>
			<tr><th colspan='<%= @heroe.abalorios.count if @heroe.abalorios %>'>Abalorios</th></tr>
		</theader>
		<tbody>
			<tr>
				<% if @heroe.abalorios %>
					<% @heroe.abalorios.each do |a| %>
						<td><%= erb :"display/item", :locals => {:item => a} %></td>
					<% end %>
				<% else %>
					<td>Sin abalorios</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</section>