<section>
	<table>
		<theader>
			<tr><th colspan='<%= @heroe.materiales.count if @heroe.materiales %>'>Materiales</th></tr>
		</theadr>
		<tbody>
			<tr>
				<% if @heroe.materiales %>
					<% @heroe.componentes.each do |m| %>
						<td><%= erb :"display/item", :locals => {:item => m} %></td>
					<% end %>
				<% else %>
					<td>Sin materiales</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</section>