<section>
	<table>
		<theader>
			<tr><th colspan='<%= @heroe.pergaminos.count if @heroe.pergaminos %>'>Pergaminos</th></tr>
		</theader>
		<tbody>
			<tr>
				<% if @heroe.pergaminos %>
					<% @heroe.pergaminos.each do |perga| %>
						<td><%= erb :"display/item", :locals => {:item => perga} %></td>
					<% end %>
				<% else %>
					<td>Sin pergaminos</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</section>