<section>
	<header>
		<center><h2>Piezas</h2></center>
	</header>
	<table>
		<tbody>
			<tr>
				<% if @heroe.piezas %>
					<% @heroe.cacharros.each do |pieza| %>
						<td><%= erb :"display/item", :locals => {:item => pieza} %></td>
					<% end %>
				<% else %>
					<td>Sin piezas</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</section>