<% h = hero(params[:param].to_i) %>
<section>
	<table>
		<theader>
			<tr><th colspan='<%= h.piezas.count if h.piezas %>'>Piezas</th></tr>
		</theader>
		<tbody>
			<tr>
				<% if h.piezas %>
					<% h.cacharros.each do |pieza| %>
						<td><%= erb :"display/item", locals: { item: pieza } %></td>
					<% end %>
				<% else %>
					<td>Sin piezas</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</section>