<section>
	<table>
		<theader>
			<tr><th colspan='<%= @heroe.piezas.count if @heroe.piezas %>'>Piezas</th></tr>
		</theader>
		<tbody>
			<tr>
				<% if @heroe.piezas %>
					<% @heroe.cacharros.each do |pieza| %>
						<td><%= erb :"display/item", :locals => {:item => pieza} %></td>
					<% end %>
				<% else %>
					<td>Sin piezas</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</section>