<section>
	<header>
		<center><h2>Piezas</h2></center>
	</header>
	<% if @heroe.piezas %>
	<table>
		<tbody>
			<tr>
				<% @heroe.abalorios.each do |a| %>
					<td><%= erb :"display/item", :locals => {:item => a} %></td>
				<% end %>
			</tr>
		</tbody>
	</table>
	<% else %>
		<p>El héroe no tiene piezas.</p>
	<% end %>
</section>