<section>
	<table>
		<theader>
			<tr><th colspan='<%= @heroe.pociones.count if @heroe.pociones %>'>Pociones</th></tr>
		</theader>
		<tbody>
			<tr>
				<% if @heroe.pociones %>
					<% @heroe.brebajes.each do |pot| %>
						<td><%= erb :"display/item", :locals => {:item => pot} %></td>
					<% end %>
				<% else %>
					<td>Sin pociones</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</section>