<header>
	<h2>Los Objetos y sus características</h2>
</header>
<h3>Comprar y vender</h3>
<p>
	Los jugadores podrán comprar todos los objetos siempre que hayan desbloqueado mediante
	misiones al personaje que los venda. El precio de compra es el indicado en la tabla,
	mientras que el precio de venta es la mitad. ¡los mercaderes necesitan hacer negocio!
</p>
<h3>La reputación</h3>
<p>
	La reputación permite a los héroes aumentar el precio de venta y disminuir el precio de compra,
	de los objetos frente a los mercaderes. Aunque no todos los gremios aceptan la fama de un héroe,
	algunos, como los herreros y forjadores, sienten un orgullo especial en ver a los héroes
	reputados portando sus artesanías. ¡Y ese orgullo se traduce en descuentos y comisiones!
</p>
<h3>Inventario: La ley del 3x3</h3>
<p>
	Los héroes pueden llevar un número limitado de objetos en el inventario,
	según su nivel de héroe. El número de objetos máximo es 3 y se incrementa
	en uno cada 3 niveles.
</p>
<h3>El Banco</h3>
<p>
	En la ciudad hay un banco en el que los personajes pueden almacenar objetos.
	Para intercambiar objetos del banco, los personajes deben jugar juntos al menos un reto.
</p>
