<header>
	<h2>Engendrando descendencia</h2>
</header>

<h3>Usar un descendiente</h3>
<p>
	Morir, usar al hijo, herencia, mujeres vs hombre, profesiones, familiares
	y muchos links en este párrafo.
</p>

<h3>Amor entre personajes</h3>
<p>
	Esto explica los corazoncitos y los gemelos
</p>

<h3>Pagar</h3>
<%= erb :'personaje/razas/center/descendencia/pagar' %>

<h3>Tabla de emparejamientos</h3>
	<%= erb :'personaje/razas/center/descendencia/tabla' %>
<p>
	* Los enanos solo pueden ser varones. La única enana conocida es
	<a href='/pnj/Luria'>La reina Luria</a>
</p>