<header>
	<h2>Los Elfos</h2>
</header>
<h3>El pueblo de los Inmortales</h3>
<p>
	Los orígenes de los Altos Elfos se remontan a los del propio mundo,
	cuando surgieron en la isla paradisíaca de Ulthuan.
	Considerados una de las más antiguas y grandes de todas las razas civilizadas,
	los Altos Elfos son gráciles y nobles donde la mayoría de mortales son torpes y primitivos.
</p>
<p>
	Los Altos Elfos fueron antaño la raza más grande y poderosa de todo el mundo
	y sus acciones forjaron la historia. En la actualidad, 
	los Altos Elfos están en el ocaso de sus días;
	las guerras largas y cruentas han devastado su gran imperio 
	y la raza de los Altos Elfos ha empezado a disminuir. 
	Las ciudades hermosas de Ulthuan están más silenciosas con cada año que pasa
	y ya no se escucha el bullicio de lo que fuera su antigua gloria.
	A pesar de este declive, los Altos Elfos afrontan el futuro con resolución y la cabeza erguida.
</p>