<header>
	<h2>Elohim</h2>
</header>
<h3>Instrumentos y guías</h3>
<p>
	Cuando el Creador dispuso su voluntad para el Mundo, no estuvo solo.
	Sus ideas se materializaron, en seres de imaginación y éter.
	Les indujo Su Luz, y les dio el don de la creación.
	Ellos fueron los constructores de las tareas más repetitivas,
	crearon el mundo que conocemos, con la excepción más notable.
</p>
<p>
	La propia vida, los espíritus, la existencia.
</p>
<p>
	Pronto, los elohim, como se llamaban a sí mismos,
	sintieron celos, de los vivos. El Mundo, la creación,
	su esfuerzo, eran un regalo para disfrute de la vida.
	Ellos se quedaron al margen. Sin propósito definido,
	una vez realizada la tarea encomendada por el Creador.
</p>
<p>
	Carentes de propósito, pero válidos aún para sus designios,
	el Creador les concedió un regalo proporcional a su mérito.
</p>
<p>
	SU propia vida, SU espíritu, SU misma existencia.
</p>
<p>
	No obstante, no estaban carentes de responsabilidad en el Mundo.
	Ellos, y ningún otro, deberían guiar al resto de seres,
	hacia un camino propicio para la Existencia y Su Voluntad,
	y como precio por este cometido, no podrían engendrar otros como ellos,
	y olvidarían la creación, la voluntad, parcialmente.
	Este proceso recibió el nombre del Olvido Infuso
</p>
<h3>Insubordinación</h3>
<p>
	Aunque el cometido era conciso, el canal no estaba claro.
	Los Elohim se organizaron en 4 facciones. Cada facción,
	interpretó al Creador de manera distinta. Esto supuso un cisma
	en las escuelas de filosofía entre las distintas tierras del Mundo.
</p>
<p>
	Cada facción, llamada "Firmamento", tenía pues, un propósito.
	Los primeros seres, elfos, enanos, acudieron en busca de sabiduría,
	fueron adoctrinados, educados. Pero la dispersión de la Verdadera Palabra,
	fue tal, que pronto comenzaron los conflictos. Cada facción,
	declaró la suya, como la Verdadera enseñanza del Creador.
</p>
<p>
	En las tierras septentrionales, las Valquirias indujeron a los
	habitantes del inhóspito Norte, los valores de la lucha eterna,
	la Gloria. La propia filosofía de la vida, la supervivencia.
	Aquellos que alcanzaran la Gloria, serían invitados al Valhalla,
	nombre que recibía el Firmamento, y serían eternos en las leyendas.
	Los bárbaros, los enanos, y otras criaturas orgullosas, fueron
	guiados por las Valquirias y mostraron una lealtad a sus principios,
	que muchos aún conservan, en sus propias tradiciones ancestrales.
</p>
<p>
	En las tierras occidentales, los Serafines, mostraron los beneficios del orden.
	Los primeros cultos, antes del profeta Sigmar, se basaban en el honor y el respeto.
	La cordialidad como base de las relaciones. Al contrario que en el norte,
	la muerte no era un destino glorioso. Simplemente un tránsito, una despedida.
	Su Firmamento recibió el sencillo nombre de "Cielo", y bastaba haber sido bueno,
	en vida, para optar a su ingreso.
</p>
<p>
	En las desconocidas tierras orientales, los Elohim buscaron consuelo en los otros seres.
	Desprovistos de la inocencia de quiénes lidian con la Muerte, los habitantes del Este,
	engañaron a los creadores. La mentira, los secretos, la traición. El clímax,
	ocurrió cuando tras un pacto de alianza, el Firmamento oriental, llamdo Kanaan, fue destruido.
	Los exiliados, recibieron el nombre de Daeva. Se dice que aún fluye rencor por su sangre inmortal.
</p>
<p>
	Y por último, los Elohim meridionales. El último misterio. No se conoce si su Firmamento,
	existió alguna vez. Los Elohim más sabios (aquellos que guardan más recuerdos de la primera era),
	afirman que existieron, incluso que colaboraron con los Elohim del Este. Quizás, la clave
	del misterio se encuentre en esta relación. Además, y en esto coinciden las tres facciones,
	el Sur era un vergel, la tierra prometida. Estos hechos se pueden verificar en algunos
	códices Rakshasa. Sin embargo no queda ningún rastro de civilización Elohim, en los desiertos
	meridionales. Y los Rakshasa primitivos, eran demasiado jóvenes como para tener referencias.
	Quizás, algún día el misterio sea desvelado. Hasta entonces, sencillamente, serán los Olvidados.
</p>