<header>
	<h2>Los Enanos</h2>
</header>
<h3>Un legado antiguo, de orgullo</h3>
<p>
	Los Enanos son una de las razas más antiguas del Viejo Mundo.
	Las Montañas del Fin del Mundo, la vasta y adusta cadena montañosa
	que da forma a la frontera Este del Viejo Mundo, 
	ha sido su hogar desde el principio de los tiempos. 
	En el pasado, fue aquí donde los Enanos construyeron sus gigantescas fortalezas subterráneas; 
	entre altas montañas e interminables abismos.
</p>
<p>
	En su momento de apogeo, su reino (llamado Karaz-Ankor) 
	iba desde el punto más al Norte de dicha cadena al punto más al Sur
	y sus minas llegaban muy por debajo de la superficie de la tierra. 
	Hace tiempo que estos días de gloria terminaron 
	y muchas de sus fortalezas están en ruinas u ocupadas por malvadas criaturas, 
	y sus logros del pasado no son más que recuerdos, 
	viejas sagas que se cantan en los salones medio vacíos
	de las pocas fortalezas Enanas que siguen en pie. 
	No obstante aun tienen la suficiente fuerza como para intentar resurgir
	y presentar batalla a sus múltiples enemigos.
</p>
<p>
	En la actualidad, los Enanos han intentado recuperar alguna de sus fortalezas caídas
	y han conseguido grandes victorias para mantener aunque sea,
	una sala de dichos lugares en su poder. 
</p>
<h3>Fisiología</h3>
<p>
	Los Enanos están muy bien adaptados a la vida subterránea, 
	y son seres de pequeña estatura, pelo corto, extremidades densamente musculosas, 
	con gruesos y pesados huesos y poderosos torsos. 
	La resistencia de los Enanos es legendaria y es uno de los factores 
	que contribuyen a la bien merecida reputación que tienen los Enanos como mineros y excavadores. 
	Muchos son los expertos militares del Imperio que consideran que los Enanos 
	son las mejores tropas de infantería en el Viejo Mundo.
</p>
<p>
	Una lujosa y larga barba es la mayor fuente de orgullo para todo Enano (incluso más que la cerveza). 
	Es un hecho bien conocido que la longitud de la barba de un Enano es el mejor indicador de su edad, 
	y por lo tanto, de su sabiduría y experiencia. Los Enanos nunca se cortan o recortan la barba, 
	aunque la mantienen escrupulosamente limpia, y con frecuencia la trenzan 
	o la decoran con joyas para las ocasiones especiales.
</p>
<p>
	El acto de afeitar por la fuerza la barba de un Enano es considerado 
	como uno de los insultos más graves e imperdonables para esta raza. 
	El autor de un acto tan atroz puede estar seguro que los Enanos 
	se vengarán de esta afrenta por todos los medios, aunque tarden años o décadas. 
	Tal vez el ejemplo más famoso supuso la humillación del embajador Enano en la corte del Rey Fénix de Ulthuan, 
	que fue la chispa final que desencadenó la Guerra de la Venganza o Guerra de la Barba, 
	un conflicto de 500 años entre los Altos Elfos y los Enanos.
</p>
<h3>Valores Sociales</h3>
<p>
	Los Enanos son serios y extraordinariamente orgullosos. 
	No son muy prolijos en alabanzas y tienden a desacreditar los logros de otras razas. 
	Los Enanos respetan la edad, la riqueza, la habilidad y la reputación por encima de todo. 
	Aquellos que posean estas cuatro cualidades obtienen el mayor de los respetos. 
	Evidentemente, siempre se toman su tiempo para explicar que su raza es la más vieja de todas, 
	que sus ancestros obtuvieron unas riquezas incalculables y que son los mejores constructores, 
	artesanos y herreros del mundo. No se trata de alardear, sino de decir las cosas como son. 
	El respeto a la tradición también es importante, pero se considera diferente a los demás; 
	más que su presencia sea una virtud, su ausencia se considera como una falta.
</p>
<p>
	La edad es la más evidente de las cuatro virtudes Enanas. 
	A menos que mueran en batalla o les ocurra alguna que otra desgracia, 
	los Enanos tienen una gran esperanza de vida. 
	La longitud y espesura de la barba de un Enano indica lo viejo y sabio que es. 
	De menor consideración es la cantidad de canas en el cabello de un enano, 
	sobre todo porque la canicie de los Enanos no es uniforme. No importa lo que estén haciendo, 
	los Enanos siempre saben cómo han de proceder: miran al Enano con la barba más larga 
	y él les dice qué tienen que hacer. Esta siempre es la solución más sabia.
</p>
<p>
	El orgullo que los Enanos varones tienen por sus barbas es legendario, 
	por lo que nunca se la cortan ni se la arreglan. En ocasiones especiales, 
	muchos Enanos se la peinan, acicalan y hacen trenzas con sus barbas. 
	Solo el mayor de los males puede hacer que un Enano se afeite su propia barba. 
	Una barba afeitada es una señal de la pena más profunda 
	y un Enano que se afeita a sí mismo ha reconocido su completa pérdida de honor. 
	Incluso entre Matadores, el afeitado es extremadamente raro.
</p>