<header>
	<h2>Los Humanos</h2>
</header>
<h3>El Crisol de civilizaciones</h3>
<p>
	La humanidad es la más extendida y diversa de todas las razas del Viejo Mundo.
	Los Humanos son criaturas versátiles y aventureras que poseen
	una considerable capacidad para asimilar entrenamiento marcial y mágico.
	Son buenos magos y guerreros además de comerciantes,
	mercaderes, granjeros y artesanos. Son la especie dominante
</p>
<p>
	Los Humanos varían en altura de individuo a individuo,
	pero también dependiendo de su tipo racial general.
	Pocos humanos exceden los 2 metros o se quedan por debajo del metro y medio. 
	El Viejo Mundo es un lugar duro; los Humanos que habitan en sus reinos
	y entornos salvajes han superado toda clase de peligros y dificultades,
	y son mucho más fuertes y resistentes que el humano típico moderno de nuestro mundo.
</p>