<header>
	<h2>Las razas del Viejo Mundo</h2>
</header>
<h3>Las 4 razas disponibles</h3>
<p>
	Hay muchas razas en el Viejo Mundo. Pero las razas disponibles para los personajes,
	son 4: elfos, enanos, humanos y tieflings. Aunque éstos últimos no están disponibles.
	Cada raza tiene sus particularidades, como las estadísticas que puedes comprobar en la derecha,
	su forma de engendrar descendencia, o incluso su filosofía ante la vida y la muerte.
</p>
<h3>El inevitable fin de un héroe</h3>
<p>
	Cada vez que un personaje alcanza un nivel múltiplo de diez (ejemplo: 20), el personaje
	alcanza su destino. Los personajes mortales, morirán irremediablemente salvo que hayan
	alcanzado la salvación por alguna vía dentro del juego. (ejemplo: salvación divina).
</p>
<p>
	Los personajes inmortales (ejemplo: los elfos), entrarán en una profunda apatía y dejarán
	su especialidad actual, pudiendo adquirir niveles en otra diferente. En ambos casos,
	sus descendientes (en caso de haber) podrán heredar su patrimonio a decisión del jugador.
</p>