<header>
	<h2>Las razas del Viejo Mundo</h2>
</header>
<h3>Las <%= total_razas %> razas disponibles</h3>
<p>
	Hay muchas razas en el Viejo Mundo. Cada raza tiene sus particularidades,
	como las estadísticas que puedes comprobar en la derecha, su lenguaje,
	su forma de engendrar descendencia, o incluso su filosofía ante la vida y la muerte.
</p>
<p>
	Los jugadores que no tengan un personaje previo, deberán escoger un personaje
	entre las razas iniciales. En el caso del humano, solo estarán disponibles
	los humanos sin parangón (bárbaros y magos). Los clérigos y ladrones, solo
	pueden ser utilizados cuando un jugador haya tenido descendientes.
</p>
<h3>Creando un personaje alternativo (reservista)</h3>
<p>
	<a href='/reservistas' target="_blank">Los reservistas</a> son personajes
	que los jugadores pueden crear para aumentar
	su <a href='/jugadores' target="_blank">puntuación de honor</a>, o bien
	para equilibrar el nivel respecto a sus compañeros de grupo.<br/>(Ya que lo recomendable,
	es nunca superar una diferencia de 6 niveles entre el personaje de mayor y menor nivel,
	durante una partida).
</p>
<p>
	Solamente en este caso especial, los jugadores podrán jugar con razas especiales,
	si deciden tirar en la siguiente tabla de generación aleatoria:
	<%= erb :'personaje/razas/center/generadorpjs'%>
</p>
<h3>El inevitable fin de un héroe</h3>
<p>
	Cada vez que un personaje alcanza un nivel múltiplo de diez (ejemplo: 20), el personaje
	alcanza su destino. Los personajes mortales, morirán irremediablemente salvo que hayan
	alcanzado la salvación por alguna vía dentro del juego. (ejemplo: salvación divina).
</p>
<p>
	Los personajes inmortales (ejemplo: los <a href='/raza/elfos' target="_blank">elfos</a>),
	entrarán en una profunda apatía y dejarán su especialidad actual,
	pudiendo adquirir niveles en otra diferente. En ambos casos,
	sus descendientes (en caso de haber) podrán heredar su patrimonio a decisión del jugador.
</p>