<header>
	<h2>Los Tieflings</h2>
</header>
<h3>Bael'Kashvar</h3>
<p>
	Hace cientos de años, los líderes del imperio humano de Bael'Kashvar,
	hicieron pactos con los demonios para consolidar el dominio sobre su enorme territorio.
	Estos humanos se convirtieron en los primeros tiefling, y gobernaron su imperio
	en nombre de sus amos infernales. Con el tiempo, Bael'Kashvar entro en conflicto con Bretonia,
	y décadas de guerras dejaron a ambos imperios en ruinas. La capital de Bael'Kashvar fue reducida a escombros.
</p>
<h3>El pueblo de los semi-demonios</h3>
<p>
	Los tiefling son herederos de los supervivientes de las dinastías nobles que gobernaron ese imperio.
	Su linaje esta corrupto por sus conexiones diabólicas, pasando a sus descendientes
	a través de todas las generaciones. En muchos aspectos son humanos; 
	pueden tener descendencia con humanos, por ejemplo.
</p>