<section>
	<a href="#" class="bordered-feature-image"><img src="images/pic04.jpg" alt="" /></a>
	<h2>Objetos y equipamiento</h2>
	<p>
		La mayoría de héroes comprenden que deben ir bien pertrechados a la batalla.
		Descubre cuáles son los mejores <strong>objetos</strong>.
	</p>
</section>