<a href="/torre" class="bordered-feature-image">
	<img src="images/inicio/features/magia.jpg" alt="Torre de Mago" />
</a>
<h2>La Torre del Mago</h2>
<p>
	En este apartado puedes consultar las <a href='/hechizos'>listas de hechizos</a>,
	las diferentes <a href='/escuelas'>escuelas de la magia</a> 
	o aprender sobre los enigmáticos <a href='/magisters'>Magisters</a>.
</p>