<section>
	<a href="#" class="bordered-feature-image"><img src="images/pic03.jpg" alt="" /></a>
	<h2>License Info</h2>
	<p>
		Halcyonic is licensed under the <a href="http://html5up.net/license">CCA 3.0</a> license,
		so use it for personal or commercial use as much as you like (just keep
		the footer credit intact).
	</p>
</section>