<section>
	<a href="#" class="bordered-feature-image"><img src="images/pic01.jpg" alt="" /></a>
	<h2>La Torre del Mago</h2>
	<p>
		En este apartado puedes consultar las <strong>listas</strong> de hechizos,
		las diferentes escuelas de la magia o aprender sobre los enigmáticos Magisters.
	</p>
</section>