<section>
	<a href="/mapa" class="bordered-feature-image"><img src="images/pic03.jpg" alt="lore" /></a>
	<h2>Descubre la leyenda</h2>
	<p>
		Todo lo que querías saber sobre el lore: <a href="/historias">historias de los personajes</a>,
		<a href="/mapa">mapa del mundo</a>, <a href="/mapa">bestiario de criaturas</a>
		y personajes ilustres.
	</p>
</section>