<section>
	<a href="#" class="bordered-feature-image"><img src="images/pic02.jpg" alt="" /></a>
	<h2>Consulta tus habilidades</h2>
	<p>
		Yes! Halcyonic is built on the <a href="http://getskel.com">Skel</a>
		framework, so it has full responsive support for desktop, tablet,
		and mobile device displays.
	</p>
</section>