<p>
	Los personajes menos afortunados, que no hayan podido desposar
	(ver <a href='/notaria'>lista de matrimonios</a>),
	o que no hayan encontrado su pareja, ni dispongan de métodos propios,
	(como los <a href='raza/enanos'>enanos</a>) y deseen tener descendencia,
	siempre pueden recurrir a la profesión más antigua...
</p>
<p>
	La raza del proveedor	del servicio siempre será 
	<a href='/raza/humanos'>humana</a>. 
	El sexo del proveedor se puede elegir, por supuesto.
	Generalmente el servicio se proporciona en la taberna de 
	<a href='/pnj/Emma'>Emma</a> y la calidad dependerá del presupuesto.
	El personaje gastará 100 piezas de oro por cada punto de calidad
	que quiera recibir. Después del servicio, perderá 1d6 puntos de experiencia,
	menos 1 por cada punto de calidad contratado.
</p>