<header>
	<h2>Sigilo</h2>
</header>
<p>
	Los personajes pueden entrar en estado de sigilo,
	gracias a habilidades específicas, objetos o hechizos.
	Si no es gracias a estas aptitudes, no se podrá entrar en sigilo.
</p>
<p>
	El sigilo se puede perfeccionar en 3 niveles diferentes,
	recogidos en esta tabla de habilidades. El máximo grado de sigilo es 4,
	pero solo es posible mediante aptitudes legendarias. A partir del tercer
	nivel, las miniaturas en sigilo, deberán ser "ocultadas" a los ojos de
	los enemigos (sin visibilidad), que podrán (sin saberlo) ocupar su posición.
	Esta regla es la única excepción que permite esta circunstancia.
	Estas miniaturas no podrán ser objetivo de habilidades/hechizos que requieran visión.
	(Ej.: Fuego de Ira, o Valentía, en el caso de ser el último personaje "visible")
</p>
<p>
<header>
	<h2>Detección</h2>
</header>
<p>
	Cualquier tirada de búsqueda exitosa, afectará a las unidades en sigilo.
	(Por tanto se puede declarar como acción gratuita interaccionar contra las unidades descubiertas,
	como si se tratara de una trampa encontrada, una puerta abierta, o un monstruo errante)
	Los enemigos, "decidirán buscar" a los personajes desaparecidos en función de su inteligencia.
	Generalmente, tendrán prioridad los personajes "visibles" sobre los "invisibles",
	pero enemigos con más Mente que el rango de sigilo alcanzado, podrían decantarse por buscar
	en lugar de efectuar su acción de ataque. (A elección del Malvado Brujo)
</p>
<h3>Inmunidad al sigilo</h3>
<p>
	Esta aptitud está disponible por varios enemigos. (Aunque se puede contrarrestar)
	Generalmente, bestias, criaturas mágicas y no-muertos son inmunes al sigilo.
</p>
<header>
	<h2>Tabla de rangos de Sigilo</h2>
</header>
<%= erb :'reglamento/combate/sigilo/rangos' %>