<table>
	<thead>
		<th colspan='2'>Material</th>
		<th>Disponibles</th>
		<th>Usado en ...</th>
	</thead>
	<tbody>
		<% materiales.each do |m| %>
			<% mat = Material.new(m) %>
			<tr>
				<td><%= erb :'display/display', locals: {
						title:       mat.name, 
						path:        mat.img_path,
						description: mat.description} %>
				</td>
				<td><%= mat.name %></td>
				<td><%= erb :'display/bazar', locals: {
						bazar:   mat.disponibles, 
						item_id: mat.id, 
						engarce: "materiales" } %>
				</td>
				<td>
					<table>
						<tbody>
							<tr>
								<% mat.usado_en.each do |uso| %>
									<td>
										<%= erb :'display/display', locals: {
											title:       uso[:receta]['name'],
											path:        "'../../images/profesiones/#{profes[uso[:prof]]}.png'",
											description: uso[:receta]['efecto'] } %>
									</td>
								<% end %>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>