<section>
	<header>
		<h2>La Ciudad de Jadessvärd</h2>
		<h3>Un lugar de encuentro de aventureros</h3>
	</header>
	<a href="/" class="feature-image"><img src="images/pic05.jpg" alt="Jadessvärd" /></a>
	<p>
		La ciudad fue edificada entre las viejas ruinas de una ciudad mercantil
		edificada por los antiguos pobladores humanos del valle, con el objetivo
		de comerciar con los elfos de Jadesia y los enanos de la montaña Svärd.
	</p>
</section>