<section>
	<header>
		<h2>Manuales de Juego</h2>
		<h3>Para consultar las reglas de forma rápida</h3>
	</header>
	<ul class="check-list">
		<li>Tiradas aleatorias de Tesoro</li>
		<li>Tiradas aleatorias de combate</li>
		<li>Estados de combate y resistencias</li>
		<li>Bestiario de criaturas del juego</li>
		<li>Personajes, habilidades y poderes</li>
	</ul>
</section>