<header>
	<h2>Personajes Ilustres</h2>
	<h3>Principales personajes no-jugador</h3>
</header>
<ul class="quote-list">
	<li>
		<a href='/pnj/magnus'>
			<img src="images/pic06.jpg" alt="Magnus III, El Emperador" />
		</a>
		<p>"Bastará el honor de servir"</p>
		<span>
			<a href='/pnj/magnus'>Magnus III, el Emperador</a>
		</span>
	</li>
	<li>
		<a href='/pnj/mentor'>			
			<img src="images/pic07.jpg" alt="Mentor" />
		</a>	
		<p>"No te olvides de volver con vida"</p>
		<span>
			<a href='/pnj/mentor'>Mentor, tutor de aventureros</a>
		</span>
	</li>
	<li>
		<a href='/pnj/luria'>
			<img src="images/pic08.jpg" alt="Luria BattleAxe" />
		</a>
		<p>"¡Svärd ufd arthruax Luria!"</p>
		<span>
			<a href='/pnj/luria'>Luria BattleAxe, reina de Ébano</a>
		</span>
	</li>
</ul>