Los gatos son adorados por todas las razas. Quizás por el parentesco obvio,
los <a href='/raza/rakshasas'>rakshasas</a> además los consideran totémicos. 
La realidad es que como buenos depredadores de roedores, mantienen a salvo
el grano cultivado. Además los gatos son muy ágiles y silenciosos, y sus dueños obtendrán ventajas al movimiento y el sigilo. Son un buen familiar para los <a href='/personaje/ladrón'>ladrones</a> en general, aunque hay que tener especial cuidado con los lobos, generalmente inmunes al sigilo (ya que son bestias), ya que además odiarán al personaje si no se entrena al familiar. (torpeza)