<header><h2>Bestiario</h2></header>
<a href='/criaturas' class="feature-image">
	<img src='/images/nav/bestiario.png' alt='Bestiario' /, id='box'>
</a>
<center>
	<a href='/criaturas'>Consultar</a>
</center>