<header>
	<h2>Monturas</h2>
</header>
<a href=<%= '/monturas' %> class='feature-image'>
	<img src='../images/monturas/monturas.jpg' alt='monturas'/>
</a>
<p>
	Las monturas permiten a los héroes alcanzar destinos lejanos,
	sin sufrir penalizadores por recorrer largas distancias,
	o terrenos inhóspitos.
</p>