<section>
	<header>
		<h2>Gremio de Artesanos</h2>
	</header>
	<a href=<%= '/artesanos' %> class='city-image'>
		<img src='../images/ciudad/gremio de artesanos.png' alt='Gremio de Artesanos'/>
	</a>
	<ul class="link-list">
		<li><a href='/equipo'>Herrero:</a> 
			<a href='/armas'>armas</a>,
			<a href='/armaduras'>armaduras,</a>						
			<a href='/protecciones'>protecciones</a>
		<li>Orfebre:
				<a href='/joyas'>joyas,</a>						
				<a href='/gemas'>gemas,</a>						
				<a href='/runas'>runas,</a>	
				<a href='/miscelaneas'>bisutería</a>	
		</li>										
		<li><a href='/piezas'>Ingeniero</a></li>
	</ul>
</section>