<section>
	<header>
		<h2>Gremio de Artesanos</h2>
	</header>
	<a href=<%= '/artesanos' %> class='city-image'>
		<img src='../images/ciudad/gremio de artesanos.png' alt='Gremio de Artesanos'/>
	</a>
	<ul class="link-list">
		<li><a href='/items/equipo'>Herrero:</a> 
			<a href='/items/armas'>armas</a>,
			<a href='/items/armaduras'>armaduras,</a>						
			<a href='/items/protecciones'>protecciones</a>
		<li>Orfebre:
				<a href='/items/joyas'>joyas,</a>						
				<a href='/items/gemas'>gemas,</a>						
				<a href='/items/runas'>runas,</a>	
				<a href='/items/miscelaneas'>bisutería</a>	
		</li>										
		<li><a href='/items/piezas'>Ingeniero</a></li>
	</ul>
</section>