<section>
	<header>
		<h2>El Ayuntamiento</h2>
	</header>
	<a href=<%= '/ayuntamiento' %> class='city-image'>
		<img src='../images/ciudad/ayuntamiento.png' alt='Ayuntamiento'/>
	</a>
	<ul class="link-list">
		<li><a href='/notaria'>Consejo de Notables</a></li>
		<li><a href='/palacio'>Palacio Imperial</a></li>
		<li><a href='/templo'>Templo de Sigmar</a></li>
	</ul>
</section>