<section>
	<header>
		<h2>Los cuarteles</h2>
	</header>
	<a href=<%= '/cuarteles' %> class='city-image'>
		<img src='../images/ciudad/cuarteles.png' alt='cuarteles'/>
	</a>
	<ul class="link-list">
		<li><a href='/extranjeros/<%= params[:param] %>'>Héroes de la Ciudad</a></li>
		<li><a href='/maestrodearmas'>Maestro de Armas</a></li>
		<li><a href='/licenciados'>Muro de la Gloria</a></li>
		<li><a href='/monturas'>Los Establos</a></li>
	</ul>
</section>