<section>
	<header>
		<h2>La Gran Biblioteca</h2>
	</header>
	<a href=<%= '/biblioteca' %> class='city-image'>
		<img src='/images/ciudad/torre de magia.png' alt='Torre de Magia'/>
	</a>
	<ul class="link-list">
		<li><a href='/torre'>Torre de Magia</a></li>
		<li><a href='/escuelas'>Escuelas de magia</a></li>
		<li><a href='/magisters'>Magisters</a></li>
		<li><a href='/archivo'>Archivo del Cronista</a></li>
	</uls>
</section>