<section>
	<header>
		<h2>La torre de magia</h2>
	</header>
	<a href=<%= '/torre' %> class='city-image'>
		<img src='/images/ciudad/torre de magia.png' alt='Torre de Magia'/>
	</a>
	<ul class="link-list">
		<li><a href='/escuelas'>Escuelas de magia</a></li>
		<li><a href='/magisters'>Magisters</a></li>
		<li><a href='/biblioteca'>La Gran Biblioteca</a></li>
	</uls>
</section>