<p>
	El argénteo brillo que se colaba a través de los árboles, dibujaba la silueta entramada de ramas y hojarasca.
	Aquella tenue luz era lo único que impedía a la foresta sumirse en una total oscuridad. 
	Y, allá donde la cúpula verde y boscosa daba paso a un claro despejado, desde el que la bóveda nocturna, 
	coronada por aquella luna llena, podía ser contemplada en toda su magnificencia...
</p>
<p>
	Desde niña, a Selene le habían contado, una y otra vez, que así era como brillaba la luna 
	la noche en que ella vino al mundo, alumbrando el Bosque Silvano. Redonda y plena, 
	como un espejo de plata iridiscente, había sido la luna testigo de su nacimiento y, 
	en honor a esta, había sido ella nombrada. Y así, había crecido la elfa, 
	unido siempre su ánimo al de las fases lunares.
</p>
<p><i>
	“Si ella mengua, mi corazón se encoge<br>
	Si ella crece, mi alma elevo<br>
	Cuando se llena, me siento fuerte<br>
	Cuando se vuelve negra, siento sueño”<br>
</i></p>
<p>
	Aquella estrofa, a medias cantada y a medias recitada, escapando de entre los labios de la joven,
	se perdía en la espesura, entremezclándose con el ulular del viento y el aleteo de algún animal nocturno. 
	Hacía mucho tiempo ya que Selene había aprendido a controlar sus emociones y contener su ánimo. 
	Aunque, para ello, había tenido que elegir un camino complicado: el de las armas.
</p>
<p><i>
	“Si siento rabia, mi daga baila<br>
	Si siento pena, mi espada brilla<br>
	Si siento pasión, mi acero se clava<br>
	Siento que siento, mis hojas giran”<br>
</i></p>
<p>
	Así, Selene, cada vez que sentía que sus emociones podían traicionarla y ponerla en entredicho 
	de cara a su gente, se perdía en los bosques, en busca de la compañía de la luna, 
	y dejaba que todo aquello que contenía su corazón, se liberase a través de sus armas. 
	Danzaba, giraba y bailaba en compañía de las estrellas y los árboles, de la noche oscura y plateada. 
	Se sumergía en un espiral de malabares, y los filos que portaba cortaban gráciles pero letales el aliento.
</p>
<p><i>
	“Mas con pena, rabia o pasión<br>
	Este la luna llena, nueva o vacía<br>
	Mi gente, reino y condición<br>
	Hoy de mis armas necesitan”<br>
</i></p>
<p>
	Aquel fue su juramento, cuando comprendió que de Jadesia a Jadessvärd, y mucho más allá, 
	los males asolaban el mundo. Por ello, prometió la derviche que ya no sería la liberación de sus emociones,
	la motivación de su lucha, ni la luna con sus fases lo que regiría su destino. 
	Pondría sus armas al servicio de su gente, y del Imperio. Lucharía por las causas justas y nobles, 
	y desterraría toda vileza de aquellas tierras...
</p>
<p><i>
	“Desde esta noche, hasta que sólo haya alba<br>
	de mis bosques partiré, en favor de esta causa<br>
	que la luna me acompañe, y su luz bendiga mi espada<br>
	pues mientras exista mal que derrotar, no volveré yo a casa”<br>
</i></p>
<p>
	Lo que la intrépida elfa no sabía era que, entre los muchos otros héroes que encontraría en su camino
	a partir de esa noche, encontraría a uno de ellos con el que compartiría algo más que armas y misiones de gloria.
	Pero esa es otra historia, y será contada en otra ocasión... Si el Malvado Brujo y sus dados lo permiten, claro.
</p>