<p>
	“Nací en un bosque, no muy lejos de aquí. 
	Papá era aventurero y herrero, mamá era bardo. 
	Los dos siempre apoyaron que fuéramos como nos diera la gana.
	Yo acabé con el gusto por la música de mi madre y el gusto por la sangre de mi padre, jeje. 
	Aunque nunca he tenido voz para cantar… ni la capacidad de estarme quieta si oigo música. 
	Parece lógico que acabase siendo derviche. Aunque mi hermana fue distinta. 
	Ella siempre se andaba quejando un poco por todo lo que yo andaba haciendo..."-
</p>
	-“Debería darte vergüenza, toda la ropa llena de sangre de goblin, toda una señorita”-
</p>
<p>
	-"Ñañañaña."-<br>
	-"Y cuando comenzó con sus estudios religiosos, empezó a reprochar el triple
	de lo que hacía antes de empezar a formar parte del templo. Ea. 
	Evelyn y yo siempre hemos chocado bastante. La quiero, pero es un coñazo absoluto."-
</p>
<p>
	-"Mi padre se dedicó toda mi juventud a hacerme armas y a ir de caza conmigo. 
	Fue quien me entrenó. Las colinas estaban llenitas de goblins, y salíamos de caza cada domingo...
	Hasta que una vez, yo fallé, y lo pagó él.”- Lïndele se quedó un momento callada, 
	antes de dar otro trago a su cuerno.
</p>
<p>
	-"Fue un fallo estúpido, de principiante. Me confié. Me desarmaron, 
	y mi padre tuvo que venir a ayudarme tan rápido como pudo, o habría acabado muy mal.
	En… resumen”- dijo aligerando, obviamente hablar de aquello no le hacía feliz,
</p>
	-"Le hirieron y perdió la mano derecha. No pudo seguir siendo herrero. 
	La aldea perdió un gran artesano y nosotros… gran parte de nuestro medio de subsistencia.”
 </p>
 <p>
	-“Mamá tuvo que empezar a viajar mucho más. Poco después la enfermedad se llevó a papá. 
	Mientras mamá viaja y yo hacía los trabajitos que podía, Evelyn seguía ascendiendo en el templo,
	y poniéndose más tonta. ¿Te puedes creer que hasta me concertaron una boda? Y yo casi acepté. 
	No sé, me empezó a echar en cara lo que ocurrió con papá, que era culpa mía, 
	que debía hacer algo por compensarlo...
	Saber dar donde duele. Y al fin y al cabo, la unión hubiera traído dinero a casa, 
	y mamá hubiera podido estar más tranquila”-
 </p>
 <p>
	-“Pero mi madre vino a la boda, hablamos un poco… y vi que todo aquello era una estupidez. 
	Así que en su lugar, hice lo que llevaba tiempo queriendo hacer: marcharme, e irme a aprender a ser derviche. 
	Les dejé el mismísmo día de la boda. Me hubiera encantado ver la cara de mi hermana
	y la del tipo ese al que me habían comprometido. Sé que se cabreó conmigo, 
	porque en otra ocasión en el futuro, me encerró en una mazmorra 
	para que “me arrepintiese de mis pecados” varios días. Me escapé cuando me cansé, claro. 
	Si hubiera podido ver su cara cuando bajase y viera que ya no estaba allí metida, jeje”
 </p>
 <p>
	-“Acabé el entrenamiento como derviche, y me vine a Jaadesvärd, 
	que ya sabes que es el sitio donde me quedo entre aventura y aventura. 
	Es un sitio gracioso. Me gusta. Mucha gente, mucha taberna, mucha fiesta. 
	Desde aquí mando siempre parte de lo que gano a casa. Mamá ya está retirada,
	y Evelyn forma parte de las altas esferas religiosas de no sé dónde. 
	Poco después de establecerme aquí vino esa aventura mandada por ese príncipe...
	No recuerdo su nombre, pero vamos, es el padre de Asshai. 
	Que se ha desentendido por completo de ella, pero yo no contaba con otra cosa. 
	No... me apañaba muy bien criando a una niña humana... Todo iba demasiado rápido, 
	y estaba yo sola y..."
 </p>
 <p>
	-"La metí en el gremio ese de pícaros.<br>
	Pero ella está contenta de que hiciera eso. Nos llevamos bien”.
</p>
<p>
	-"Es... Maja."-
</p>
<p>
	-"Ya sé que es un poco borde, no hace falta que lo suavices.<br>
	Empieza a hacer frío..."-
</p>
<p>
	Fuego de ira<br>
	<strong>¡FWOOOSH! Delante de ellos, la leña seca prendió súbitamente.</strong>
</p>
<p>
	-"¡Coño!"- exclamó Lïndele -"Ten cuidado, colega.  Claro, como te sobran..."
</p>
<p>
	Tim el mago se encogió de hombros, haciendo entender que sí, que como le sobraban, 
	usaba los Fuegos de Ira para cosas tan simples como encender una hoguera.
</p>
<p>
	-"¿Y el interrogatorio, por qué?"- le preguntó sonriendo, curiosa.<br>
	-"Nada"- dijo él encogiéndose de hombros -"Me preguntaba de dónde había salido alguien como tú."<br>
	La elfa se rió, se permitió dar a mago un beso en los labios, y se quedaron ambos sentados
	junto a la recién encendida hoguera; los cuernos con bebida en sus manos, las estrellas sobre ellos.
</p>