<p>
	A pesar de haber nacido dentro de la casta de los herreros de su clan, 
	Roek Barbafuego era un enano que no sabía doblegar bien el metal 
	debido a su falta de talento y a su poca paciencia.
</p>
<p><i>"Pero es lo que me ha tocado, es mi herencia de sangre"</i>-se decía. 
	Así continuaba intentando aprender lo que su padre y otros compañeros de casta
	hacían casi por instinto, a pesar de que las burlas que entre ellos
	y entre los miembros de las Castas del sacerdocio y agricultores,
	ganaderos y mineros le hacían hervir la sangre casi hasta el límite de su control.
</p>
<p>
	<i>"No es su culpa, es mía. No soy del agrado de los Dioses"</i><br>
	De aquella manera, apretando los dientes y mirando hacia delante;
	creía que pasarían todos sus largos siglos de vida. Con unas manos demasiado grandes y torpes
	para forjar espadas, mazas y hachas. Pero intentando funcionar en su papel, se debía al honor, y a su clan. 
	Esa fue la razón por la que, a pesar de no ser un miembro de la casta de los guerreros,
	empuñó las ultimas armas creadas por su padre sin dudarlo. 
	Ayudando a rechazar una invasión goblin a la ciudadela de los Barbafuego.						
</p>
<p>
	Allí lo sintió, el fuego de sentirse en su elemento. La rabia y emoción de la batalla.
</p>
<p>
	Pero había roto su esquema, se había salido de su lugar y condena fue clara,
	un bien merecido exilio. Roek sabía muy bien que en parte no tenía la culpa de nada,
	pero ¡Ah! El rígido honor de los enanos… La vergüenza le carcomía
	y por ello oró por última vez en su hogar ancestral, se cortó el pelo dejando solo
	una pequeña y aun ridícula cresta antes de encomendarse a la muerte como expiación.
	Ahora Roek Barbafuego  camina como Matador, sumido en la vergüenza… 
	Pero disfrutando de la guerra y el combate hasta que la muerte le llegue. 
</p>