<p>
	Os contaré la historia de mi madre, merecedora de que todos la tengamos en nuestra memoria...
</p>
<p>
	<strong>Arya Amarïe</strong>, o “La invocadora del Dragón Verde”, según la llamaran.
</p>
<p>
	Fue la primera portadora de la Espada Roja. Su espada, que tantas veces la había llevado a la gloria y al borde de la muerte,
	no perdía la oportunidad de susurrarla constantemente aterciopeladas promesas para llevarla a la locura. 
	Una espada con una personalidad tan vil, que volvió loco al mismo Malekith, rey brujo de los elfos oscuros. 
	Cuando el rey, molesto, tiró la Espada Roja al Mar de la Maldad, años más tarde mi madre viajó al Reino de Nagaroth
	y le arrebató la espada a un infeliz fímir sucumbido por el arma. Liberó al mundo de un terrible mal, 
	llevando ella la carga y el honor de portar el acero negro que personificaba la oscuridad misma. 
	Recuerdo que a diario tenía que demostrar a la caprichosa espada que era digna de portarla, 
	como los antiguos reyes de Ulthuan.
<p>
	El sino de mi madre la llevó a que fuera una de las pocas heroínas que lograra enfrentarse a Necrull, Señor de la Muerte. 
	Tras unos meses de viaje, regresó para contar la historia de cómo le dio muerte junto a sus compañeros 
	a pesar de que volvieron menos de los que fueron.
</p>
<p>
	Mi madre no solo vivía para impartir justicia en sus innumerables aventuras contra orcos,
	goblins, skavens y diversas bestias que acosaban sin cesar a los pueblos libres. 
	No se me olvida lo enamorada que siempre ha estado de mi padre, el Conde Ragnar, 
	y cómo siempre entre risas le recordaba que le había salvado la vida y él prendado, la había pedido su mano. 
<p>
	El dolor de verle morir antes que ella por ser humano, es lo que hizo que mi madre poco tiempo después 
	me legara sus pertenencias y decidiera viajar a nuestras tranquilas tierras élficas, 
	al corazón del bosque Silvano.
</p>
<p>
	Por todas tus grandes proezas y por las noches que me enseñabas nuestra magia y a entender a los espíritus del bosque. 
	Por la paciencia que tuviste al estar a mi lado hasta que el Dragón Verde acudió a mi llamada.
</p>
<p>
	Nos veremos pronto en nuestro hogar, madre. Espera mi llegada.
</p>
<p>
	Tu hijo que te echa de menos,
</p>
<p style='text-align:right'>
	<a href='/hero/47'>Elros Amarïe</a><br>
	Segundo portador y guardián de la Espada Roja.<br>
	Superviviente a los cuatro señores del Apocalipsis.
</p>