<p>
	-"Mírame a los ojos, humana, cuando haces tratos conmigo" -siseó Beliel.<br>
	-"Sí…" -titubeó la joven mientras inclinaba la cabeza, enseñándole el cuello al demonio, en señal de sumisión.
	Con temor, levantó la cabeza, y miró fijamente a lo que eran unos penetrantes ojos azules. 
	Un océano de oscuridad y maldad.
</p>
<p>
	Mentiras.<br>
	Muerte.
</p> 
<p>
	La criatura que tenía delante, ahora con aspecto atractivo humano, ladeó la cabeza mientras la estudiaba con interés. 
	Se relamió los labios con una bífida lengua.
</p>
<p>-"¿Vais a acabar con mi vida?- preguntó la muchacha mientras se agarraba un brazo con cierto nerviosismo. 
	Tiritó. Seguramente era debido a la escasez de ropa que llevaba encima.
</p>
<p>
	-"¿Tienes miedo de que eso ocurra?"- le preguntó el demonio mientras se acercaba a ella con suavidad.
</p>
<p>
	-"No serías la primera... Pero creo que eso ya lo sabes."<br>
	-"Te recuerdo que he venido por mi propio pie"- le contestó con cierto desafío.
</p>
<p>
	El Príncipe dejó de acercarse, se le dilataron por un momento las pupilas y soltó una sonora carcajada
	que retumbó en las paredes de la morada en la que se encontraban. 
</p>
<p>
	-"Bueno... Yo no diría tanto. Yo diría más bien que te han obligado. Pero ya se sabe,
	las almas ruines sólo se dejan conquistar con presentes."- gorjeó mientras continuaba su marcha, 
	la rodeaba, y la olía el pelo cerrando los ojos. Sonrió mientras exhalaba despacio el aroma que tanto parecía agradarle.
</p>
<p>
	La muchacha resopló.<br>
	-"No dejas de amenazar a mi pueblo. Desde que has llegado muere el ganado y desaparece gente. 
	El agua incluso está corrupta. Los niños nacen malditos, deformes. 
	Me he presentado voluntaria para lo que desees."- añadió mientras le miraba a los ojos.
</p>
<p>
	-"Solo te pido que sea rápido."<br>
	Beliel suspiró: -"Oh, por favor, niña. La creencia de una maldad sobrenatural no es necesaria. 
	Los hombres por sí solos ya son capaces de cualquier mal. Antes de que yo apareciera, 
	los humanos ya se mataban entre ellos."
</p>
<p>
	-"Es inevitable que el hombre sienta emociones que en ocasiones le lleven a acabar con los suyos, 
	aunque intenta no dejarse llevar por ese camino. Y sin embargo, ama. 
	También tiene otros sentimientos que tú jamás conocerás."- le contestó la muchacha susurrando esto último. 
	Por un momento creyó que sólo se escuchaba ella misma.
</p>
<p>
	Beliel dejó escapar una leve sonrisa. <br>
	-"Vaya, vaya…es posible que haya encontrado por fin el trato que quiero...
	Bien, Elena. Te explicaré lo siguiente. Tengo muchos nombres, numerosas apariencias y es muy difícil
	que alguien acabe con mi vida. Sin embargo, deseo progenie. Si me das tu virginidad y aceptas ser la madre del que será mi retoño,
	me marcharé de aquí, no volveréis a verme más y tú volverás sana y sana a la vida que tienes. 
	Por cierto..."- añadió el demonio mientras la acariciaba la mejilla suavemente
	-"Antes me has pedido que fuera rápido en mi sentencia. En este caso especial, no te lo recomiendo...
	Pero tú tienes la última decisión, ¿aceptas, pues, el trato?"
</p>
<p>
	Elena se ruborizó ante semejante proposición.<br>
	-"Acepto"-Contestó con un hilo de voz mientras sentía cómo el corazón le latía con fuerza.
</p>
<p>
	-"¡Bien, bien!"- exclamó con alegría la criatura-"Vaya, y yo que pensaba
	que hoy tendría que llevarme otra alma más. 
	Desde luego, cada humano sois una sorpresa. 
	Por muy frágiles que seáis."- ronroneó 
	mientras cogía la mano temblorosa de la muchacha y la atraía hacia sí con firmeza. 
	Sus azules ojos se tornaron entonces negros en su totalidad. 
	Con suavidad, la agarró de la cintura
	y la apartó un mechón castaño de la cara. 
	Besándola despacio desde la base de la clavícula hasta la mandíbula, 
	la susurró cuando llegó a su oído: 
</p>
<p>
	-"Por cierto, ¿cómo llamarás a nuestra hija?"<br>
	Tras un breve silencio en la sala, se escuchó:<br>
	-"Elysa..."- suspiró la virgen mientras sentía que se acaloraba.
</p>
<p>
	-"<a href='/hero/3'>Elysa Demoneye</a>."
</p>