<p>
	Nacido en las frías montañas del norte y criado como dictan las costumbres de los "Sangres Azules",
	Trag'al tuvo que someterse al cumplir los 14 años a la prueba de hombría de su tribu.
	Quizás en otros pueblos bárbaros las pruebas exigían destreza y fuerza pero el pueblo de los 
	titanes de la montaña, como se les conocía en las magestuosas ciudades humanas, exigía, además, sangre.
</p>
<p>
	Ya no era un niño y la montaña era veterana y poco piadosa. De la prueba solo sobrevivirían los verdaderos guerreros.
	Tuvo que pasar dos años separado de su familia y amigos, y su objetivo era claro, tenía que
	conseguir la cabeza de los animales más poderosos de la montaña. Armado tan solo con coraje, 
	Trag'al demostró no solo ser un digno guerrero, sino también un "Rey Oso", 
	título solo concedido al mejor guerrero de la tribu, pues, el día de su regreso, 
	volvió sin bolsa de cabezas a diferencia del resto (que ya de por sí era un milagro que regresara alguno).
	Sin embargo, su regreso vino acompañado del mayor rugido jamás escuchado en la tribu
	pues llegaba montado ni más ni menos que a lomos del mayor oso jamás avistado en la montaña, Ursarus.							
</p>
<p>
	Sin demora alguna, tuvo que contar a la luz de la hoguera sus hazañas y su encuentro
	y armonización con la naturaleza de la bestia. Pocos hombres regresan de la prueba, 
	pero hacía tiempo que un Sangre Azul no se vinculaba de tal manera con las bestias.
</p>
<p>
	Al poco de su proclamación como señor de la tribu vinieron los hombres del sur 
	solicitando ayuda a los bárbaros pues, aunque nunca había sido buena la relación entre ambas partes,
	acechaba un peligro mayor y más poderoso, la oscuridad.
</p>
<p>
	Confinados en sus tierras, los bárbaros se negaron a alistarse en el ejército del Imperio, 
	pero permitieron que aquellos valientes que quisieran descender de la montaña 
	y luchar por tal causa fueran libres de hacerlo. Para sorpresa de todos, 
	Trag'al fue el primero en alzar su espada y unirse a las filas de un grupo de héroes fieles al emperador,
	como muestra de alianza entre ambos pueblos.
</p>
<p>
	Tiempo había pasado y sus hazañas recorrían todo el continente. ¡Un líder bárbaro nombrado héroe del Emperador!
	Sin embargo, su sangre tribal seguía hirviendo en sus venas, y sin considerar las tradiciones propias de los hombres llanos,
	en una noche de borrachera tuvo un romance con una posadera quien, a los nueve meses, concibió una hija poco antes de morir.
</p>
<p>
	Habiendose asegurado un linaje y contando con la simpatía del Emperador le fue devuelta
	la posibilidad de volver a sus tierras con la condición de erigir su propia fortaleza en nombre del Imperio,
	donde, a día de hoy, sigue contando su historia de cómo un hombre pudo dominar a la bestia y convertirse a su vez en Rey del Norte.
</p>