<p>
	El mago Yunnow es conocido en Jadessvärd por ser un prometedor mago,
	hijo de un honorable elfo y el poderoso Gilgamesh...
</p>
<p>
	"¡Eeeeeh espera un momento! ¡¿Qué acabas de decir?!"
</p>
<p>
	"Sí... Has oido bien... ¡Ese no es el caso! Hemos venido a hablar de Yunnow, 
	cuyo verdadero nombre es igual que el de su padre, y su apodo proviene de la palabra Junior.
	Es un mago culto y sabio, instruido en la Escuela de Magia de Jadessvard,
	que siempre está dispuesto para ayudar al Imperio.
</p>
	(Si éste está dispuesto a pagar una recompensa por sus servicios, huehuehue.)
</p>