<p>
	Cada vez que un <strong>guerrero</strong> me pregunta sobre mis escudos,<br> 
	Le cuento la historia de la falange, la lealtad enana y de nuestro Rey.
</p>
<p>
	Cada vez que un <strong>mago</strong> me pregunta sobre las runas,<br>
	le cuento la historia de la piedra, de nuestras fraguas y de nuestros dioses.
</p>
<p>
	Cada vez que un <strong>elfo</strong> me pregunta sobre nuestro arte,<br>
	le cuento la historia de nuestras tallas, nuestras costumbres y nuestras canciones.
</p>
<p>
	Cada vez que un <strong>pícaro</strong> me pregunta sobre nuestras riquezas,<br> 
	le cuento la historia de nuestros salones de oro, nuestras minas de gemas, y nuestras joyas.
</p>
<p>
	Y cada vez que un <strong>héroe</strong> se toma conmigo una cerveza  en la taberna, le cuento la mía:
</p>
<p>
	"Nací como mis hermanos en nuestras ciudades de piedra,  
	jugando a los tesoros escondidos y a los cuentos de guerra. 
	Y no pasó mucho tiempo hasta que mi amigo me gritó por primera vez:"
</p>
<h2><center>¡Coge el Hacha!</center></h2> 
<p>
	Me hice muchacho y aprendí nuestras artes y ciencias, y a luchar; 
	Sobre el oro, las runas y las minas, y a matar. 
	Y no pasó mucho tiempo hasta que mi Rey me ordenó:
</p>
<h2><center>¡Coge la armadura!</center></h2>
<p>
	Me hice hombre y aprendí a formar, a servir y a beber;  
	A ver morir, y a ver nacer; y a todas las cosas que un Enano debe saber hacer. 
	Y no pasó mucho tiempo hasta que tocó llorar y mi padre me abrazase y me dijese:
</p>
<h3><center>Hoy coge flores hijo, vamos al Valle Gris.</center></h3>
<h4><center>Para a los ancestros recordar, y para a los caídos despedir.</center></h4>
<br>
<p>
	"Me hice Héroe, y por todo eso estoy aquí..."-<br>
	"Pero no me has contado, amigo enano;<br>
	¿Por qué eres falangista?, ¿Y por qué bebes hoy aquí?"<br>
	"Soy falangista, por las últimas palabras que mi padre,
	en batalla, me dijese antes de morir."<br>
	"¿Fue tu padre un falangista, y a la falange te pidió servir?"<br>
	"No amigo mío, la senda falangista es un camino que yo escogí."<br>
	"¿Qué fue entonces por tu padre, lo último en decir ?<br>
</p></center>
<h2><center>¡¡¡ Coge mi escudo !!!</center></h2>
<p>
	"Hijo... Mientras me recuerdes, yo viviré en ti."<br>
	"Me preguntas por qué bebo, hoy vengo de verle, en el Valle Gris."
</p>