<section>
	<header>
		<h2>Los Objetos y sus características</h2>
	</header>
	<h3>Comprar y vender</h3>
	<p>
		Los jugadores podrán comprar todos los objetos siempre que hayan desbloqueado mediante
		misiones al personaje que los venda. El precio de compra es el indicado en la tabla,
		mientras que el precio de venta es la mitad. ¡los mercaderes necesitan hacer negocio!
	</p>
	<p>
		Sed faucibus viverra ligula, non varius magna semper vitae. Donec eu justo ut ipsum 
		hendrerit congue nec eu risus. Cum sociis natoque penatibus et magnis dis parturient 
		montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing 
		egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer 
		vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam 
		justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum 
		elit. Suspendisse fermentum adipiscing nisi, a tempor libero malesuada at. Morbi 
		lacinia dui adipiscing risus eleifend tincidunt. Proin eu mauris eu tellus eleifend 
		hendrerit.
	</p>
	<p>
		Mauris sit amet tellus urna. In facilisis, tortor vitae ultricies egestas, odio 
		mi rhoncus arcu, quis euismod felis felis et velit. Mauris varius consectetur erat 
		egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer 
		vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam 
		justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum 
		iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat dui auctor. 							
	</p>
</section>