<header>
	<h2>El camino de un héroe</h2>
</header>
<h3>Descripción</h3>
<p>
	Un <strong>camino</strong> es un aporte adicional a la historia 	de un héroe.
	Permite a los jugadores ahondar en su contexto, sus motivaciones y
	circunstancias. La elección del camino requiere un acuerdo entre jugador y
	Malvado Brujo, ya que está fuertemente ligada al lore de 
	<a href='/mapa'>su ciudad</a>.
</p>

<h3>Cuándo adquirir un camino</h3>
<p>
	Un jugador que desee adquirir un camino, debe comunicárselo al
	Malvado Brujo al finalizar un reto con éxito. Los personajes recién
	creados no deberán nunca poseer un camino. Por otro lado,
	ningún héroe que disponga de un camino, debe adquirir otro adicional.
</p>

<h3>Cuándo se puede progresar en un camino</h3>
<p>
	Ciertos retos, a discrección del Malvado Brujo, podrían ser
	"sensibles a un camino". De ser así, por las circunstancias
	del propio lore del reto,	se podría avanzar en el camino,
	desbloqueando nuevos hitos. El hecho de que un reto sea sensible o no,
	no tiene por qué ser advertido al jugador. Los jugadores siempre deben estar
	dispuestos a seguir el camino de su héroe incondicionalmente, ya que
	como en toda buena historia, los retos, plantean un misterio.
	Y un misterio, solo se puede desvelar jugándolo.
</p>
<p>
	Por otro lado, el inconveniente de un camino, es que al contrario que
	en otros retos, los retos que tengan "sensibilidad a un camino",
	podrían no volver	a repetirse. Bloqueando por lo tanto,
	el camino al héroe que optara por él. Quizás en este caso,
	el héroe se verá forzado a reconsiderar un nuevo camino.
</p>

<h3>Beneficios y penalizaciones</h3>

<p>
	Adicionalmente, los caminos permiten a los personajes acceder
	a ciertos beneficios como pudieran ser recetas de profesión,
	habilidades, objetos y aventuras ad-hoc, como recompensa de su éxito.
</p>
<p>
	La penalización más evidente, es la restricción a lo hora de tomar acciones
	que choquen conceptualmente con el camino que han elegido. Por este motivo,
	si el camino del Santo (por ejemplo) se viera forzado a cometer un acto
	malvado, seguramente el progreso en el camino se perdería.
</p>

<h3>Héroes famosos con caminos conocidos</h3>
<p>
	Puedes consultar la lista <a href='/caminos'>aquí</a>.
</p>