<header>
	<h2>La Ciudad de Revenge</h2>
	<h3>El crisol de los renegados</h3>
</header>
<a href="/campamento/Revenge" class="feature-image">
	<img src="images/revenge/revenge.png" alt="Revenge" />
</a>
<p>
	Edificada en la cueva de Khazdrakan, la fortaleza <a href="/raza/enanos">enana</a>
	tomada por fugitivos de las arcas negras <a href="/raza/drows">drow</a>, 
	para establecerse y luchar por su supervivencia y libertad
	junto con cualquiera que se una a su causa.
</p>