<header>
	<h2>Personajes Ilustres</h2>
	<h3>Principales personajes no-jugador</h3>
</header>
<ul class="quote-list">
	<li>
		<a href='/pnj/Vhezkos'>
			<img src="images/revenge/pnjs/Vhezkos.png" alt="Vhezkos, Yadelokj" />
		</a>
		<p>"Veo honor en tus ojos, fugitivo"</p>
		<span>
			<a href='/pnj/Vhezkos'>Vhezkos Yadelokj, dragón de jade</a>
		</span>
	</li>
	<li>
		<a href='/pnj/Shezz'>			
			<img src="images/revenge/pnjs/Shezz.png" alt="Shezz'al Ursh" />
		</a>	
		<p>"Vivo o muerto"</p>
		<span>
			<a href='/pnj/Shezz'>Shezz'al Ursh, archinigromante</a>
		</span>
	</li>
	<li>
		<a href='/pnj/Harrakt'>
			<img src="images/revenge/pnjs/Harrakt.png" alt="Harrakt" />
		</a>
		<p>Non servium Lloth</p>
		<span>
			<a href='/pnj/Harrakt'>Harrakt, centinela draña</a>
		</span>
	</li>
</ul>