<header>
	<h2>Manuales de Juego</h2>
	<h3>Para consultar las reglas de forma rápida</h3>
</header>
<ul class="check-list">
	<li><a href='/tesoro'>Tiradas aleatorias de Tesoro</a></li>
	<li><a href='/dado/4'>Tiradas aleatorias de combate</a></li>
	<li><a href='/estados'>Estados de combate y resistencias</a></li>
	<li><a href='/criaturas'>Bestiario de criaturas del juego</a></li>
	<li><a href='/renegados'>Personajes</a>, <a href='/dones'>habilidades y poderes</a></li>
</ul>