<table id='tresp'>
	<thead>
		<tr>
			<th>Camino</th>
			<% caminos.keys.each_with_index do |c,i| %>
				<th><%= i %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% caminos.keys.each do |c| %>
			<tr>
				<td><%= c %></td>
				<td><%= c.class %></td>
				<%#= erb :'ficha/caminos' , :locals => {:path => c } %>
				<td>X</td>
			</tr>
		<% end %>
	</tbody>
</table>