<header>
	<h2>Personajes</h2>
</header>
<p>
	Cuando un jugador inicia su primera partida,
	deberá escoger un personaje entre los 4 personajes iniciales:
	<%= erb :'personaje/principal/iniciales' %>
</p>
<h3>Características principales del personaje</h3>
<%= erb :'personaje/principal/elegir' %>
<h3>Especializaciones</h3>
<p>
	Los personajes que alcancen el nivel 2 podrán "especializarse",
	decidiendo entre las 3 especializaciones de su personaje.
	Las especializaciones dependen del personaje elegido.
	No se podrán cambiar una vez escogidas.
</p>
<p>
	Por ejemplo, si Daniel escogió que su enano fuera
	falangista, después no podrá elegir habilidades del
	enano ingeniero, por mucho que le parezcan interesantes...
</p>