<header>
	<h2 align='center'>Datos Curiosos</h2>
</header>
<p>
	El <%= porcentaje_heroes_con_familiar %>% de los héroes tiene familiar, 
	de los cuáles el <%= porcentaje_familiares_torpes %>% es torpe.
</p>