<h3>Profundizar en una profesión</h3>
<p>
	Cuando un personaje completa un reto con éxito, puede invetir su oro
	para avanzar en su profesión. Para poder aprender recetas de aprendiz,
	es necesario desbloquear la primera receta (aprendizaje). Lo mismo ocurre
	para aprender recetas de artesano y posteriormente de maestro.
	Además, es necesario conocer 5 recetas de aprendiz para poder desbloquear
	la artesanía, y 10 recetas de la profesión (independientemente del rango) 
	para aprender la maestría.
</p>

<h3>El trabajo de cada día</h3>
<p>
	El personaje, mientras no está en las aventuras se dedica básicamente a su profesión.
	Por este motivo, obtiene +1 renta por cada grado de profesión que tenga.
</p>

<p>
	<table id='tresp'>
		<thead>
			<tr><% profesions.each do |p| %>
					<th><%= p.name %></th>
				<% end %>
			</tr>	
		</thead>
		<tbody>
			<tr><% profesions.each do |p| %>
					<td><a href=<%="/profesion/#{p.name}"%>>
							<img src=<%= p.img_path %> alt='<%= p.name %>' id='icon2' />
						</a>
					</td>
				<% end %>
			</tr>
		</tbody>
	</table>
</p>