<h3>Profundizar en una profesión</h3>
<p>
	Cuando un personaje completa un reto con éxito, puede invetir su oro
	para avanzar en su profesión. Para poder aprender recetas de aprendiz,
	es necesario desbloquear la primera receta (aprendizaje). Lo mismo ocurre
	para aprender recetas de artesano y posteriormente de maestro.
	Además, es necesario conocer 5 recetas de aprendiz para poder desbloquear
	la artesanía, y 10 recetas de la profesión (independientemente del rango) 
	para aprender la maestría.
</p>

<h3>El trabajo de cada día</h3>
<p>
	El personaje, mientras no está en las aventuras
	se dedica básicamente a su profesión.
	Por este motivo, obtiene +1 renta por cada grado de profesión que tenga.
</p>

<h3>No todo el mundo puede hacer de todo</h3>
<p>
	Cada personaje tiene un impedimento laboral. Consulta la siguiente tabla,
	para saber cuál es la profesión vetada a cada personaje:
</p>
<p><%= erb :'personaje/profesiones/lista' %></p>