<header>
	<h2>El Orfebre</h2>
</header>
<p>
	Puede engarzar los objetos con ranuras, aportando así
	propiedades especiales al objeto. Revisa las tablas de engarces,
	para saber qué propiedad es conferida en cada tipo de objeto.
</p>
<ul class="link-list">
	<li><a href="/miscelaneas">Bisutería</a></li>
	<li><a href="/gemas">Gemas</a></li>
	<li><a href="/runas">Runas</a></li>
	<li><a href="/joyas">Joyas</a></li>
	<li><a href="/tiers">Tiers</a></li>
	<li><a href="/calculador">Calcular coste</a></li>
</ul>