<section>
	<header>
		<h2>El Banco</h2>
	</header>
	<p>
		En la ciudad hay un banco en el que los personajes pueden almacenar objetos.
		Para intercambiar objetos del banco, los personajes deben jugar juntos al menos un reto.						
	</p>
</section>