<section>
	<header>
		<h2>La Forja</h2>
	</header>
	<ul class="link-list">
		<li><a href="/armas">Armas</a></li>
		<li><a href="/armaduras">Armaduras</a></li>
		<li><a href="/protecciones">Protecciones</a></li>
	</ul>
</section>