<section>
	<header>
		<h2>La Forja</h2>
	</header>
	<ul class="link-list">
		<li><a href="items/armas">Armas</a></li>
		<li><a href="items/armaduras">Armaduras</a></li>
		<li><a href="items/protecciones">Protecciones</a></li>
	</ul>
</section>