<header><h2>La Forja</h2></header>
<a href='/objetos' class='feature-image'>
	<img src='images/nav/forja.png' alt='La Forja'/>
</a>
<ul class="link-list">
	<li><a href="/armas">Armas</a></li>
	<li><a href="/armaduras">Armaduras</a></li>
	<li><a href="/protecciones">Protecciones</a></li>
</ul>