<header>
	<h2>Las Joyas</h2>
</header>
<a href='/joyas' class='feature-image'>
	<img src='../images/nav/joyas.png' alt='Joyas'/>
</a>
<p>
	Texto descripción
</p>
<ul class="link-list">
	<li><a href="/joyas">Joyas Básicas</a></li>
	<li><a href="/pnj/cejohierro">El Maestro rúnico</a></li>
	<li><a href="/runasmaestras">Runas Maestras</a></li>
</ul>