<header>
	<h2>Las Joyas</h2>
</header>
<a href='/joyas' class='feature-image'>
	<img src='../images/nav/joyas.png' alt='Joyas'/>
</a>
<p>
	Las joyas son piezas maestras de orfebrería que emiten un pulso arcano
	por sí mismas, canalizando la energía de los vientos de la magia.
</p>
<ul class="link-list">
	<li><a href="/joyas">Joyas Básicas</a></li>
	<li><a href="/joyasespeciales">Joyas Insólitas</a></li>
	<li><a href="/profesion/orfebrería">Profesión: Orfebrería</a></li>		
</ul>