<header>
	<h2>Las Runas</h2>
</header>
<a href='/runas' class='feature-image'>
	<img src='../images/nav/forjandorunas.png' alt='Las Runas'/>
</a>
<p>
	Las runas mágicas son diferentes en forma y detalle a las runas ordinarias,
	pero lo que convierte a una runa en mágica es principalmente cómo y cuándo fue grabada. 
</p>
<ul class="link-list">
	<li><a href="/runas">Runas Básicas</a></li>
	<li><a href="/profesion/inscripción">Profesión: Inscripción</a></li>
	<li><a href="/pnj/cejohierro">El Maestro rúnico</a></li>
	<li><a href="/runasmaestras">Runas Maestras</a></li>
	<li><a href="/forja">Forjar runas</a></li>
	<li><a href="http://es.warhammerfantasy.wikia.com/wiki/Khazalid">Khazalid</a></li>
</ul>