<header>
	<h2>Las Runas</h2>
</header>
<a href='/objetos' class='feature-image'>
	<img src='../images/nav/forjandorunas.png' alt='Las Runas'/>
</a>
<p>
	Las runas mágicas son diferentes en forma y detalle a las runas ordinarias,
	pero lo que convierte a una runa en mágica es principalmente cómo y cuándo fue grabada. 
</p>
<ul class="link-list">
	<li><a href="/runas">Runas Básicas</a></li>
	<li><a href="/pnj/cejohierro">Maestro rúnico</a></li>
	<li><a href="/tiers">Runas Maestras</a></li>
	<li><a href="/tiers">Forjar runas</a></li>
</ul>