<p>
	Cuando el Creador del Universo pobló el Viejo Mundo,
	no dotó a todos los seres de los mismos atributos.
	A las Bestias, les otorgó la libertad y el salvajismo,
	una mente gobernada por institos y una vida feral,
	basada en la supervivencia y la búsqueda de alimento.
</p>