<p>
	No Muerto es un nombre colectivo para una serie de criaturas
	que están físicamente muertas y sin embargo se comportan como si estuvieran vivas.
	Algunos No Muertos carecen de forma física y solo existen etéreamente,
	como Espectros, mientras que otros son corpóreos, tales como Vampiros y Zombis.
</p>
<p>
	El mundo está saturado de energía mágica, que tiene el poder para socavar
	incluso las leyes de la muerte. Los muertos no descansan facilmente en el mundo de Warhammer,
	y aunque no es común, los No Muertos son una realidad aceptada.
	En ciertos lugares malditos simplemente se levantarán de sus tumbas,
	más notoriamente en la Tierra de los Muertos en las Tierras del Sur y en el condado de Sylvania,
	en el Imperio mismo. Los muertos también pueden ser fácilmente levantados y comandados
	por ciertos individuos sin escrúpulos que estudian y utilizan la nigromancia,
	una forma especializada de la magia.
	Las masas de muertos vivientes casi en su totalidad carecen de una voluntad propia,
	y dependen de poderosos hechiceros para ser dirigidos.
</p>
<p>
	Los muertos vivientes han alcanzado la "no muerte", o el estado de No Muertos,
	por diversos medios, especialmente a través del poder de la nigromancia,
	y superando la muerte (ya sea resucitando de un estado de muerte
	por un practicante de la nigromancia o engañar la muerte por otros medios,
	como en el caso de un Vampiro o de una criatura similar). 
	Nigromantes, Vampiros y otras criaturas hechiceras hacer uso
	de un gran número de muertos vivientes como sus servidores exclusivos.
</p>