<p>
	Los Orcos y Goblins son una plaga para todas las tierras
	y una maldición para todas las civilizaciones. 
	Saquean y arrasan sin descanso, llevando la guerra y la barbarie
	a todos los rincones del mundo. Una y otra vez,
	sus ejércitos se alzan sin previo aviso,
	guiados por unas intenciones y una dirección de avance
	absolutamente impredecibles. A fin de llegar
	a comprender mejor a esta destructiva horda verde,
	antes se deben considerar por separado a las diferentes criaturas que la componen.
</p>
<p>
	El término Piel Verde es el término genérico con el que se conoce a estos seres,
	haciendo referencia a las tonalidades verdáceas de su piel.
	Existen multitud de razas y subespecies distintas,
	con sus propias cualidades culturales y fisiológicas,
	que entran dentro de este témino,
	pero generalmente se emplea para referirse principalmente a los Orcos y Goblins.
</p>