<header>
	<h2>Palacio</h2>
</header>
<a href=<%= '/ayuntamiento' %> class='city-image'>
	<img src='../images/ciudad/ayuntamiento.png' alt='Ayuntamiento'/>
</a>
<p>Las cosas de palacio, van despacio.</p>