<header>
	<h2>El clérigo</h2>
</header>

<h3>Mecánica principal</h3>
<p>
	El clérigo basa su estrategia en:
</p>
<p>
	Plegarias sagradas: Cada vez que el clérigo reza,
	su fervor a Sigmar es respondido mediante el lanzamiento de un poder sagrado
	que se determina al azar.
	Estas plegarias se determinan de forma aleatoria con un dado
	en el momento de su lanzamiento, pero se permite declarar su lanzamiento 
	al principio del turno, y después de obtener el resultado,
	decidir si la plegaria se realizará antes o después
	de la acción de movimiento. Estas plegarias son poderes divinos
	destinados sobre todo a curar y proteger, pero también 
	saben golpear a los descreídos con la fuerza de Ghal Maraz.
</p>
<p>
	Defensa: Si bien el clérigo no tiene ni la habilidad del
	<a href='/especial/paladín'>paladín</a> de empuñar armas de filo,
	ni tampoco el manejo del sacerdote con las plegarias sagradas,
	sí que aúna las mejores capacidades de ambos: puede llevar las armaduras,
	escudos y protecciones de los guerreros al tiempo
	que lanza todos los tipos de plegarias.
</p>

<h3>Tipo: apoyo-muro</h3>
<p>
	El clérigo, como los personajes sagrados (a excepción quizá del paladín)
	no tiene mucho potencial a la hora de atacar y barrer a los monstruos.
	No obstante sus plegarias suponen un apoyo para el grupo de personajes
	del que nadie querrá prescindir nunca.
	El clérigo siempre será bienvenido en cualquier grupo, misión o situación.
</p>

<p>Apoyo:</p>
<p>
	El clérigo es sin duda alguna el mejor sanador y
	repartidor de protecciones de entre las clases de personajes.
	Con Imposición de manos, Himno celestial o Lágrimas del mártir,
	irá curando a sus compañeros; con Círculo de protección o Ángel guardián
	puede otorgar más defensa y ataque, e incluso con Espadas en guadañas
	puede dejar fuera de combate a ese monstruo grande que el Malvado Brujo
	acaba de colocar sobre el tablero. Si les sumamos el chakra al no movernos
	o el súmmum de la Última plegaria, los efectos se vuelven devastadores.
</p>
<p>
	Cuando vaya subiendo de nivel el clérigo obtendrá cada vez más plegarias,
	y en cuanto llegue a nivel 4 podrá usar plegarias de nivel 2,
	¡que incluye cosas poderosísismas como Dádiva, Cometa solar y
	hasta Resucitar! Y mejor aún: si ha salido una plegaria de nivel 2
	que no es adecuada... ¡la puedes cambiar por la plegaria de nivel 1
	que TÚ quieras y que sí se adapte a la situación! Otras cosas
	como Aura de entusiasmo ayudarán aún más a tus aliados,
	y con Bendecir arma recibirás ese empujón que necesitas para
	darle un toque ofensivo a tu personaje.
</p>

<p>Muro:</p>
<p>
	Dado que el clérigo puede llevar armaduras y protecciones iguales
	a las de los guerreros, podrá ponerse en primera línea de batalla
	contra los monstruos que el Malvado Brujo lance contra él y sus compañeros.
	Pero lo que realmente convierte esta posibilidad en prácticamente una
	obligación es la habilidad Baluarte. Con ella, todos los aliados a melé
	que se encuentren heridos serán recompensados con la cura de 1PC ó 1PM,
	a elegir, solo porque el clérigo defienda con éxito.
	Curar vida, o especialmente mente a elegir no es algo que se dé siempre,
	con lo que se ha de aprovechar. Además de ello varias plegarias exigen
	que el clérigo esté cerca de sus aliados para poder sanarlos
	o darles bonificaciones.
</p>
<p>
	¿Que te has quedado sin una sola plegaria y tu aliado acaba de recibir
	daños porque estáis acorralados? ¡No temas! Gracias a la habilidad Suplicar,
	como estabas cerca de él, recuperas una plegaria más,
	que además como es la última de nuevo, vuelve a lanzarse con súmmum
	gracias a Última plegaria. Y si esto no sirve para solucionar
	todos tus problemas y un aliado vuelve a sufrir daño,
	¡vuelves a tener otra plegaria con súmmum!
</p>

<h3>Ventajas diferenciadoras</h3>
<p>
	Plegarias sagradas: Las plegarias sagradas ofrecen curaciones
	y protecciones que muchos hechizos no tienen, o es difícil que tengan
	sin tener antes un gran nivel.
	Incluso ofrece la posibilidad de resucitar a un personaje.
	Contra los enemigos caóticos o no-muertos además pasa a hacer muchísimo daño.
	Y una de las mejores características de las plegarias sagradas
	es que al contrario que con los hechizos se resisten utilizando
	la resistencia a la luz, ¡cosa que pocos monstruos tienen!
</p>
<p>
	Personaje adaptable: Da igual qué tipo de partida sea: campo abierto,
	interior de mazmorra, con eventos contrarreloj, o de resistencia
	a oleadas de enemigos. También da igual el grupo de personajes,
	o qué clase tengan. El clérigo con sus curaciones siempre será necesario
	y bienvenido para salvar a los personajes de una muerte
	que siempre acecha en las esquinas de los dados.
</p>

<h3>Defectos y debilidades</h3>
<p>
	La debilidad más evidente del clérigo está a la vista:
	el azar al usar plegarias. Quién dijo que Sigmar no juega a los dados
	con el universo estaba equivocado: cada vez que lanza un poder divino,
	lanza un dado para determinar qué bendición cae sobre el sacerdote que usa
	el este poder sagrado. Esto puede ser muy peligroso cuando se necesita
	un determinado resultado con urgencia pero sale otro que resulta
	poco menos que inútil en una determinada situación.
	Con la habilidad de Zen puede obtenerse otra oportunidad,
	pero no es fácil que salga lo que se desea en esa nueva tirada.
	Además, debido a que es una habilidad única, es difícil elegir
	cuándo lanzarla, así como las propias plegarias.
</p>
<p>
	La otra desventaja a la hora de usar un clérigo es la obligatoriedad
	de usar armas contundentes. El armamento queda muy limitado,
	por lo que salvo en situaciones poco usuales,
	el clérigo está destinado a ser un personaje de apoyo,
	sobre todo porque como todo el mundo sabe,
	los dados de daño contundente están malditos
	y nunca salen las caras del daño, solo las caras blancas.
</p>
<p>
	Si lo tuyo es machacar monstruos a diestro y siniestro
	o prefieres jugar al estilo dps, es mejor que no elijas al clérigo.
	Es un personaje poderoso, pero está para proteger y curar a sus aliados.
	El clérigo es esencial para que el grupo sobreviva,
	pero debes estar cómodo llevando a un personaje de apoyo,
	o de lo contrario no te agradará la falta de sangre en tu arma.
</p>