<header>
	<h2>El druida</h2>
</header>

<h3>Mecánica principal</h3>
<p>
	El druida es un personaje que juega con los siguientes tres conceptos:
</p>
<p>
	Espíritu guardián: Mediante la mente, el druida podrá invocar diferentes
	animales espirituales. Cada uno de ellos, según se avance de nivel, 
	tendrá diferentes habilidades base, ataques y defensa. 
	El druida podrá interactuar de diferentes maneras entre él y su espíritu, 
	con sus compañeros, y con el escenario de juego.
</p>
<p>
	Puntos de Luna (PL) y Puntos de Sol (PS): Aumentan la potencia 
	de los hechizos del druida, mejoran la defensa de los espíritus, 
	permiten ejecutar magias...
</p>
<p>
	Puntos de Vínculo: Con ellos se ejecutan magias a través 
	de los espíritus, se crean PS, se invoca al Dragón Verde...
</p>

<h3>Tipo: muro-barrendero-apoyo</h3>
<p>
	El druida es un tipo de elfo cuya mecánica se adapta
	sin problemas a los tres roles básicos,
	siendo un personaje muy versátil.
	Mientras que el arquero y el derviche están especializados 
	en ser barrenderos, y, por supuesto, otras clases
	son mejores "muros" (véase el falangista), 
	o "apoyos" (como el conjurador o el hechicero), el druida junto 
	a su espíritu guardián puede dar un juego muy variado.
</p>
<p>	
	Muro:
</p>
<p>
	Se pueden utilizar las invocaciones como muro sin exponerse en exceso. 
	Gracias a la habilidad Vigor 	elemental, los espíritus obtendrán más PC 
	y junto a la habilidad Espinas, se podrá retornar en daño lo que 
	se ha conseguido defender. Según avance el nivel,
	el personaje irá adquiriendo 	habilidades, como Bendición de Gaia, 
	con la que además, ganará PV al defender con éxito.
	Evidentemente, elegir al espíritu guardián 
	correcto a invocar, será la complicación del druida. 
	Para este rol en concreto, sería aconsejable la araña, 
	ya que es el esbirro con más defensa, y por tanto, 
	el que más posibilidades tiene de retornar las Espinas y adquirir PV.
</p>
<p>
	Con el paso del tiempo, el druida podrá transformarse en espíritu 
	guardián adquiriendo los dados base de su espíritu y manteniendo 
	la potencia defensiva del propio personaje. De esta manera, 
	se podría conseguir un muro muy difícil de derribar
	ya que el conjunto de habilidades "defensa - retorno daño 
	cuando me defiendo y mato - adquiero PV", 
	colocan al druida como uno de los personajes 
	más idóneos para la defensa junto a los falangistas.
	Si a todo lo anterior se le suma que gracias a la habilidad Torsión
	espiritual, el druida puede cambiar su posición respecto a la de su invocación, 
	esto se traduce en un reparto más equilibrado del daño 
	entre el personaje y sus espíritus.
</p>
<p>	
	Barrendero:
</p>
<p>
	Gracias a su fiel compañero, el druida podrá 
	jugar con mecánicas diferentes de ataque, adaptadas a cualquier tipo
	de mapa. En su conjunto, el personaje puede realizar poderosos ataques a los 
	enemigos de uno en uno, o incluso varios a la vez, ayudándose de sus invocaciones.
</p>
<p>
	¿El Malvado Brujo ha querido crear una partida de caverna? 
	¿Tus compañeros y tú apenas cabéis por las escurridizas y estrechas
	salas? Sin problemas, las arañas que trepan por las paredes y esquivan
	fosos, los murciélagos que vuelan y no ocupan espacios,
	e incluso quizás un peludo oso que pueda ir apartando y eliminando 
	enemigos de dos en dos, puedan ser tu solución.
</p>
<p>
	¿En esta ocasión el Malvado Brujo ha querido crear una
	partida de campo abierto para que haya un combate más caótico y 
	disperso? ¡No te estreses!, podrían entrar 
	en juego el lobo con su carga de ataque, las arañas grandes y sus
	crías para poder dispersaros por todo el mapa y poder eliminar
	a varios enemigos a la vez, etc. Podrías incluso rematar enemigos y 
	acortar distancias con nuestra querida habilidad Torsión espiritual.
</p>
<p>
	¿No quieres comprometer a tu espíritu guardián porque te quedan
	pocos recursos? ¡Sin problemas de nuevo! Puedes invocar a tu compañero
	con una o dos magias y mediante PV que tu esbirro vaya matando por
	ejemplo en la distancia (muy útiles los fuegos de ira, por cierto).  
</p>
<p>
	Apoyo:
</p>
<p>
	Aquí mencionar set de magias, habilidades de druida, y combos con pets.
</p>

<h3>Ventajas diferenciadoras</h3>
<p>
	Espíritu guardián: El hecho de poder invocar un segundo compañero, 
	cambia el juego para este personaje. Ya no son dos manos pegando
	y defendiendo, ¡sino que podrían llegar a diez!
</p>
<p>
	Personaje todoterreno: Es un hecho que el druida no puede ser el 
	mejor en un rol en concreto, 
	pero sí puede ser el segundo en varios roles a la vez. Su increíble
	adaptabilidad, le diferencian del resto de personajes, pudiendo adquirir
	varios papeles a la vez en una misma partida. Siempre se puede
	apoyar a un compañero, defender zonas conflictivas, recuperar un tesoro
	o matar a un enemigo, y luego esfumarse mediante una Torsión...
</p>
<p>
	Muy divertido: Siempre vas a tener algo que hacer en tu turno.
	Ya sea invocar un espíritu (¿quién aparte de tí puede invocar o
	convertirse en un dragón?), ejecutar magias, elegir un rol diferente
	en cada turno, controlar a un aliado que esté loco con tus espíritus
	guardianes para evitar que el Malvado Brujo le controle...
</p>

<h3>Defectos y debilidades</h3>
<p>
	La debilidad del druida va muy unida de la mano respecto 
	a uno de sus puntos fuertes: el espíritu guardián. 
	La acción de invocar siempre acarrea un coste, los PM, 
	que además irá aumentando según el nivel del espíritu aumente. 
	Esto se traduce en que hay que tener mucho cuidado al "leer" la partida
	que estemos jugando, ya que habrá que calcular constantemente
	los recursos de mente de los que disponemos, sobre todo en los primeros niveles.
</p>
<p>
	Al transformarse el druida en espíritu, esto conlleva que el personaje
	adquiera,	para bien y para mal, las estadísticas de su compañero
	respecto al movimiento,	y a los dados base de ataque y defensa. 
	Unas veces, esto será bueno si el personaje tenía menos dados base,
	y otras, le reducirá dichos dados teniendo que adaptarse
	el jugador a la nueva situación de combate.
	Respecto al movimiento, hay que tener en cuenta que
	para los espíritus guardianes de nivel 2,
	el máximo de movimiento será 8, pudiendo quizá reducir a 
	los druidas de nivel alto su movimiento a la mitad. 
</p>
<p>
	Por último, hay que mencionar que al ser un personaje tan complejo, hay que 
	estar leyendo continuamente la partida y las situaciones tuyas
	y de tus compañeros.
	Es necesario pedirle a tu equipo que en las salas en las que no haya
	enemigos (ya sea porque es la de inicio, o porque se acaba de limpiar),
	dejen un turno de preparación. Hay que intentar no invocar al espíritu 
	en mitad del combate ya que "se pierde" el turno porque no puedes hacer 
	nada más. Es necesario decidir si el esbirro invocado tendrá o no 
	magias con los PV, si quieres echarle una "piel de piedra" a un compañero...
</p>