<header>
	<h2>El invocador</h2>
</header>

<h3>Tipo: barrendero - muro</h3>
<p>
	Al utilizar a su elemental como muro,
	junto con la habilidad de persistencia
	(que permite mantenerle vivo a bajo coste)
	el invocador puede aguantar la posición,
	sin exponerse demasiado, usando sus PM
	como colchón de vida.
</p>

<h3>Mecánica principal</h3>
<p>
	El invocador es un mago poco usado, porque
	su mecánica principal es atípica. Mientras
	que el conjurador y el hechicero utilizan
	principalmente hechizos como fuente de daño,
	con habilidades	pasivas y reactivas 
	como principal motor, el invocador consume
	inicialmente sus hechizos en su elemental.
	Esto hace que muchos jugadores desestimen
	al invocador, obviando su potencial. 
</p>
<p>
	Sin embargo, la mecánica del invocador
	se basa en su elemental invocado. Éste,
	le permitirá recuperar magias, que a su
	vez le permiten mejorar al elemental,
	bien invirtiéndolas, bien aplicándole
	aquéllas que sean bendiciones/auras,
	ya que comparte un vínculo arcano con él,
	beneficiándose ambos de los bonificadores.
</p>
<p>
	Al contrario que el resto de magos,
	el invocador podrá "crecer" a lo largo
	del Reto, gracias a la interacción con
	su elemental invocado, que irá granjeando
	los puntos de habilidades necesarios.
</p>

<h3>Ventajas diferenciadoras</h3>
<p>
	El invocador, gracias al vínculo de su
	elemental, y al compartir beneficios con él,
	se convierte en un luchador cuerpo a cuerpo
	notable, capaz de causar grandes daños,
	al combinar su ataque en conjunto con su esbirro.
</p>
<p>
	Por este motivo, los hechizos de tipo bendición,
	tendrán más relevancia que los conjuros,
	así como las sanaciones frente a las maldiciones.
</p>

<h3>Defectos y debilidades</h3>
<p>
	Al igual que el resto de magos, el invocador
	es muy frágil en los primeros niveles y necesita
	ser protegido. A pesar de que se expondrá poco,
	su elemental invocado, es un muro relativamente frágil,
	por lo que no funciona bien como muro único en una
	partida habitual de exploración de mazmorra.
</p>
<p>
	Otra debilidad es que en la mayoría de casos,
	consumirá los hechizos en habilidades, en lugar de
	hechizar, por lo que su repertorio de magia será
	muy limitado si quiere ir construyendo al elemental
	durante el reto.
</p>
<p>
	Por último, la más evidente. Sin su invocación,
	es prácticamente incompetente. Este defecto 
	se debe ir paliando con habilidades como persistencia.
</p>
