<p>
	Las Valquirias son habitantes del inhóspito Norte. Inspiran a los norteños
	los valores de la lucha eterna, la Gloria y la supervivencia de los fuertes. 
	Aquellos que alcanzaran la Gloria, serían invitados al Valhalla, 
	nombre que recibía el Firmamento, y serían eternos en las leyendas. 
	Los bárbaros, los enanos, y otras criaturas orgullosas, 
	fueron guiados por las Valquirias y mostraron una lealtad a sus principios,
	que muchos aún conservan, en sus propias tradiciones ancestrales.
</p>