<header>
	<h2>Monturas</h2>
</header>
<p>
	<h3>Descripción</h3>
	Las monturas permiten a los héroes recorrer distancias en el
	<a href='/mapa'>mapa del Viejo Mundo</a> sin sufrir penalizaciones
	en el reto.
</p>
<p>
	<h3>Limitaciones y costes</h3>
	Un héroe solo puede tener una montura para cada recorrido. A su vez,
	solamente podrá emplear una montura por reto. (ej.: No puedes montar
	un caballo encima de un dragón) Al final del reto, el resto de monturas
	(que permanecerán en los establos de la ciudad) Generan un coste de
	mantenimiento. (Consultar tabla)
</p>
<p>
	<h3>Penalización</h3>
	Dependiendo del recorrido (ej.: Tierra, Mar, Aire, Páramos, Selva...)
	Los héroes que excedan la distancia máxima de su personaje, sufrirán
	un penalizador al inicio del reto (ej.: Pérdida de puntos de cuerpo)
	si no disponen de la montura adecuada para el recorrido.
</p>
<p>
	<h3>Listado de monturas conocidas</h3>
	<%= erb :'ficha/monturas/tabla'%>
</p>