<a href='<%= "/habilidad/#{params[:param]}"%>'
   class="feature-image">
	<img src="/images/clases/<%= params[:param] %>.png" 
	     alt='<%= params[:param] %>'
		 id='box'
	/>
</a>
<%= erb :'personaje/left/fama', :locals => { :pj => params[:param] } %>