<header>
	<h2>Listas de Héroes</h2>
</header>
<a href=<%= '/heroes' %> class='feature-image'>
	<img src='../images/nav/razas.png' alt='héroes'/>
</a>
<ul class="link-list">
	<li><a href="/heroes">Activos</a></li>
	<li><a href="/ausentes">Ermitaños</a></li>
	<li><a href="/reservistas">Reservistas</a></li>
	<li><a href="/mapa">Extranjeros</a></li>
	<li><a href="/licenciados">Licenciados</a></li>
</ul>
<header>
	<h2>Trasfondo</h2>
</header>
<ul class="link-list">
	<li><a href="/jugadores">Lista de Jugadores</a></li>
	<li><a href="/historias">Historias de los héroes</a></li>
	<li><a href="/camino">Los caminos de un héroe</a></li>
	<li><a href="/familiares">Familiares (Mascotas)</a></li>
</ul>