<section>
	<header>
		<h2>Héroes</h2>
	</header>
	<ul class="link-list">
		<li><a href="/heroes">Activos</a></li>
		<li><a href="/ausentes">Ermitaños</a></li>
		<li><a href="/reservistas">Reservistas</a></li>
		<li><a href="/extranjeros">Extranjeros</a></li>
		<li><a href="/licenciados">Licenciados</a></li>
	</ul>
</section>