<section>
	<header>
		<h2><center><%= @heroe.titulo %></center></h2>
	</header>
	<a href=<%= "/hero/#{@heroe.id }" %> class="feature-image">
		<img src=<%= @heroe.big_path %> alt=<%= @heroe.name %>, id='portrait' />
	</a>
</section>