<table>
	<thead>
		<tr>
			<th width='33%'>Cuerpo</th>
			<th width='33%'>Mente</th>
			<th width='33%'>Mov.</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @heroe.cuerpo %></td>
			<td><%= @heroe.mente  %></td>
			<td><%= @heroe.movimiento %></td>
		</tr>
	</tbody>
</table>