<header>
	<h2>Historia de la Magia</h2>
</header>
<h3>El origen de la magia</h3>
<p>
	TBD
</p>
<h3>La prohibición de la magia</h3>
<p>
	El estudio de la magia fue prohibido hace mucho tiempo en las tierras del Viejo Mundo;
	y todos los hombres y mujeres que tenían visiones o realizaban hechos milagrosos
	eran quemados en la estaca (algo bastante sensato). Sin embargo,
	durante la Gran Guerra contra el Caos, Magnus el Piadoso, el unificador del Imperio,
	anuló la antigua prohibición contra la hechicería y fundó los <a href='/escuelas'>Colegios de la Magia</a>.
</p>
<h3>Magisters</h3>
<p>
	Los enigmáticos magos de más de más allá del Desierto Prohibido. 
	Sus conocimientos revolucionaron las escuelas de la magia. 
	<a href='/magisters'>(Haz click para descubrirlos)</a>
</p>