<header>
	<h2>Más allá del Desierto prohibido</h2>
</header>
<h3>Merxanis: La Ciudad Oasis</h3>
<p>
	Durante la Primera Gran Guerra contra el Caos, el desaparecido reino
	de Merxanis, impidió el avance de las huestes de hombres bestias
	a los reinos occidentales del <a href='/mapa'>Viejo Mundo</a>. 
</p>
<p>
	Situado en un enclave estratégico, el Oasis de las Maravillas,
	era la lanzadera militar de las mesnadas merxénidas con que la Exarca 
	contenía a la horda invasora.
</p>
<h3>La Exarca Merxénadas</h3>
<p>
	Proclamada exarca con tan solo 10 años, Merxénadas fue la última de su linaje,
	una dinastía de guerreros-magos, cuya leyenda se ha perdido en el tiempo.
	Sin embargo, los recientes sucesos en el <strong>Templo de las Arenas</strong>
	han permitido resurgir a los cruzados merxánidas, junto con su exarca,
	en misteriorsas circunstancias.
</p>
<h2>Los renacer de los Magisters</h2>
<p>
	Resueltos a rendir pleitesía a <a href='/pnj/magnus'>Su Majestad Imperial</a>,
	los merxénadas, con la venia de Mentor y el beneplácito imperial,
	se han instalado en la <a href='/torre'>Torre de Magia</a> de la ciudad,
	para prestar servicio de sus conocimientos ancestrales,
	a los <a href='/heroes'>héroes</a> dispuestos a pagar sus servicios.
</p>
<p>
	En gratitud por los servicios prestados, y quizás con el fin de evitar
	un posible cisma de los saberes arcanos, Mentor les ha otorgado
	<i>Patria Potestas</i> con honor de Caballeros Imperiales, y éstos,
	se han autoproclamado <strong>Magisters</strong> que en su lengua materna,
	significa <i>Maestros/Guías</i>.
</p>