<section>
	<header>
		<h2>Historia de la Magia</h2>
	</header>
	<h3>Los vientos de la magia</h3>
	<p>
		La magia es una fuerza que debe temerse y respetarse. Toda la magia tiene su origen
		en la misma fuente: los impredecibles vientos de la magia. Este vendaval mágico 
		se extiende por todo el mundo portando consigo el poder de realizar grandes obras o grandes maldades.
	</p>
	<h3>La prohibición de la magia</h3>
	<p>
		El estudio de la magia fue prohibido hace mucho tiempo en las tierras del Viejo Mundo;
		y todos los hombres y mujeres que tenían visiones o realizaban hechos milagrosos
		eran quemados en la estaca (algo bastante sensato). Sin embargo, 
		durante la Gran Guerra contra el Caos, Magnus el Piadoso, el unificador del Imperio,
		anuló la antigua prohibición contra la hechicería y fundó los Colegios de la Magia.		
	</p>
	<h3>Magisters</h3>
	<p>
		Los enigmáticos magos de más de más allá del Desierto Prohibido. 
		Sus conocimientos revolucionaron las escuelas de la magia. 
		<a href='/magisters'>(Haz click para descubrirlos)</a> 							
	</p>
	
	<header>
		<h2>Selección de hechizos</h2>
	</header>
	<p>
		Antes de comenzar el reto, los personajes mágicos escogerán sus grupos de hechizos. 
		Escogerán su primer grupo de magias los personajes con más mente. 
		Puede haber grupos de hechizos únicos para un tipo de personaje.
		Por ejemplo las Plegarias, las cuales sólo podrán ser escogidas por el Clérigo.
		Cada hechizo puede lanzarse solamente una vez en el curso de cada reto 
		(no obstante pueden haber artefactos y habilidades que permitan realizar varias veces el mismo hechizo). 
		Una vez realizado el hechizo, la carta del hechizo debe ser descartada.
	</p>
</section>