<header>
	<h2>Selección de hechizos</h2>
</header>
<h3>Preparación del Reto</h3>
<p>
	Antes de comenzar el reto, los personajes mágicos
	escogerán sus grupos de hechizos.
	Escogerán su primer grupo de magias los personajes con más mente. 
	Cada hechizo puede lanzarse solamente una vez en el curso de cada reto 
	(no obstante pueden haber artefactos y habilidades
	que permitan realizar varias veces el mismo hechizo). 
	Una vez realizado el hechizo, la carta del hechizo debe ser descartada.
</p>
<header>
	<h2>Combate mágico</h2>
</header>
<h3>Hechizar como acción de combate</h3>
<p>
	Hechizar es una acción de combate, que a los efectos
	funciona exactamente igual que un ataque con armas.
	Dependiendo del tipo de magia, podrían considerarse
	posiciones y estados de combate. Los personajes
	que lancen un hechizo contenido en un pergamino,
	consumirán una acción de combate estándar, por lo que
	un personaje podría hechizar, y ejecutar un pergamino,
	en lugar de mover.
</p>
<h3>Resistencia a la magia</h3>
<p>
	El número de dados que un personaje tira en su
	resistencia mágica es igual al nivel del hechizo ejecutado.
	Un hechizo de nivel 3, por ejemplo, requiere 3d6.
	Para superar con éxito la tirada de resistencia,
	se debe obtener un resultado igual o inferior al valor
	de la resistencia
<p>
	Las resistencias de los personajes son al daño,
	no a la magia. Es por eso que un personaje con
	resistencia a la Peste 3, y resistencia a la magia 1,
	resistirá ambos efectos de forma independiente.
	Los personajes solo resistirán la magia cuando sean
	objetivos de los hechizos, y siempre resistirán el daño.
</p>
<p>
	Por ejemplo el hechizo <a href="/hechizo/fuego de ira">"Fuego de Ira"</a>
	se puede resistir primero como resistencia a la "maldición"
	(resistencia mágica) y posteriormente el daño por fuego
	(resistencia al Calor). En ningún caso se sumarán los valores.
</p>