<header>
	<h2>Tipos de Magia</h2>
</header>
<h3>Maldiciones</h3>
<p>
	Provocan un perjuicio en la víctima. 
</p>
<h3>Bendiciones</h3>
<p>
	Suponen un beneficio duradero a un objetivo cualquiera.
</p>	
<h3>Auras</h3>
<p>
	Tipo de bendición que sólo puede ser lanzada sobre uno mismo.
</p>	
<h3>Invocaciones</h3>
<p>
	Convocan a un aliado de naturaleza mágica que ayudará de alguna manera. 
</p>
<h3>Sanaciones</h3>
<p>
	Restablecen alguna puntuación del objetivo.
	Salvo que se exprese lo contrario, no tienen efecto en jugadores muertos.
</p>
<h3>Conjuros</h3>
<p>
	Destinados a provocar daños en el objetivo. 
	Pueden ser de tipo Rayo, Bola, Cono o Área.
</p>
<h3>Muros</h3>
<p>
	Convocan un muro de algún elemento que impedirá el paso  de las miniaturas. 
	Su área de efecto siempre es lineal.
</p>	
<h3>Interrupciones</h3>
<p>
	Evitan las magias de otros lanzadores de hechizos. 
	Tienen efecto inmediato	y se pueden jugar fuera del turno como acción gratuita.
</p>	
<h3>Superchería</h3>
<p>
	Estas magias recogen todos aquéllos efectos no recogidos previamente.
</p>