<header>
	<h2>El Poder mágico</h2>
</header>
<p>
	<h3>La fuente de poder</h3>
	La magia es una fuerza que debe temerse y respetarse.
	Toda la magia tiene su origen en la misma fuente:
	los impredecibles vientos de la magia.
	Este vendaval mágico se extiende por todo el
	<a href='/mapa'>Viejo Mundo</a>
	portando consigo el poder de realizar grandes obras o grandes maldades.
</p>
<p>
	Al igual que los polos de un imán gigantesco, los vientos de la magia
	tienen dos vectores de influencia opuestos. Los septentrionales
	y los meridionales, catalizados desde runas o palabras de poder,
	podrían desatar efectos muy dispares, según el reverso de la magia empleado.
</p>
<p>
	<h3>Los vientos de la magia</h3>
	Por otro lado, la magia, al igual que la luz solar, puede descomponerse
	en "vientos" cromáticos cuyo conjunto conforman la energía total
	que denominamos simplemente magia. Sin embargo, su combinación total
	o parcial, al igual que la música, está sujeta a anomalías y criterios
	armónicos, tan sutiles y complejos que requieren un conocimiento profundo
	del "arte" que suponen.
<p>
	Es por esto, que la magia compuesta debe ser armonizada por especialistas
	con la suficiente sabiduría como para manipularla sin peligro,
	ya que se podría incurrir en la temible y abyecta magia tenebrosa
	conocida como "magia del Caos". Por otro lado, en su uso armonizado,
	puede ser muy poderosa. Esta magia primigenia se conoce como "Alta Magia"
</p>
<header>
	<h2>La Gran prohibición</h2>
	<p>
		Durante la segunda era, tras la aparición de la magia y los estragos
		producidos por la terrible Magia del Caos, las diferentes
		<a href='/razas'>razas del Viejo Mundo</a> optaron por medidas dispares
		para solucionar el problema.
	</p>
</header>
<p>
	<h3>Los dragones: metal, gema y cromáticos</h3>
	Posiblemente las criaturas más influenciadas por la magia, son los
	usuarios más antiguos de su influjo:
	<a href='/criatura/dragones'>los dragones</a>
</p>
<p>
	Los dragones originalmente eran sierpes de piel metalizada,
	que lucían con orgullo sus tonalidades radiantes y esplendorosas.
	La plata, el oro, el bronce... Cada estirpe de dragones tenía un propósito
	con <a href='/razas'>las razas del Viejo Mundo</a>. Algunas de estas
	criaturas, aún conservan intactas sus escamas, su poder mágico
	y los valores y virtudes representativas de su origen.
</p>
<p>
	Sin embargo, otros dragones, durante la segunda era,
	decidieron esconderse en cubiles, para evitar las terribles consecuencias
	de una sobreexposición a los vientos de la magia.
	Quizás por la naturaleza del cubil, o por alguna filtración de un viento
	concreto, algunos dragones quedaron expuestos a alguno de los
	vientos cromáticos de la magia. En el caso de los dragones geóticos,
	quedaron parcialmente expuestos, por lo que su conciencia y su naturaleza
	interior se perturbaron abrazando la neutralidad y la causa intrínseca
	al emplazamiento que les cobijó durante el vendaval mágico.
</p>
<p>
	Son ejemplos de esta estirpe los dragones de jade,
	(erróneamente llamados dragones verdes por el resto de pueblos)
	de los <a href='/raza/elfos'>elfos silvanos</a>, los dragones de marfil,
	en el desierto de los <a href='/raza/elfos'>Rakshasa</a> o los
	siniestros dragones de obsidiana, cuyo objetivo es mantener el equilibrio
	entre las poblaciones de razas más proliferantes, llegando incluso
	al exterminio y control de su población. Muchas veces estos dragones,
	sin ser necesariamente malvados, son confundidos con sus parientes
	cromáticos (tienen gamas de colores similares) y reciben el mismo desprecio
	por parte de los Pueblos Libres.
</p>
<p>
	Finalmente, los dragones cromáticos, las más abyectas criaturas del
	<a href="/mapa">Viejo Mundo</a>, (con la excepción quizás, de los demonios)
	sucumbieron al poder de los vientos cáusticos y pervirtieron su esencia
	hasta un cromatismo total. Su conciencia, manifiestamente distorsionada
	por el Caos, se tornó malévola, convirtiéndoles en las criaturas tenebrosas
	que son hoy en día.
</p>
<p>
	<h3>Los enanos: runas y obsidiana</h3>
	Respecto a <a href="/raza/enanos">los orgullosos enanos</a>,
	sufrieron el azote de la <a href="/sombra/1">magia de las sombras</a>,
	en los clanes de enanos de las profundidades (duergars), que mezclaron
	sus poderes con otros vientos y reversos de la magia subterráneos,
	modificando la naturaleza de la piedra en algo perverso y corrupto.
</p>
<p>
	Algunos hablan de los duergars como originarios del problema
	de la piedra bruja, otros solamente les consideran víctimas,
	pero sea como fuere, los duergar, como civilización (con
	<a href="/pnj/luria">notables excepciones</a>) sufrieron terribles
	maldiciones, que modificaron tanto su extirpe que el resto de razas
	simplemente les denominaron: "Enanos del Caos"
</p>
<p>
	Desde entonces los enanos autodenominados "clanes ancestrales",
	(Obsidiana, Enanos de las Montañas y Barbas-largas) acordaron
	no volver a utilizar la magia, fuera de las runas, como medida de contención
	para evitar el influjo maligno de la magia del Caos
</p>
<p>
	<h3>Los elfos: vínculo dracónico</h3>
	El <a haref='/raza/elfos'>pueblo de los inmortales elfos</a>, originario
	de la isla de Ulthuan estaba inicialmente unido en la Primera Era.
	Sin embargo, durante la Segunda Era, quizás motivados por la influencia
	de los dragones (a los que admiraban como las criaturas más gloriosas),
	los elfos sufrieron una terrible guerra civil.
</p>
<p>
	Tras las guerras élficas, quedaron divididos. Entre ellos, los Altos Elfos,
	que se mantuvieron a salvo en la isla de Ulthuan, los salvajes Elfos Silvanos,
	que se ocultaron en los bosques de Silvania, indiferentes al destino
	de sus parientes isleños, y los elfos oscuros, que se corrompieron
	en los reinos de Naggaroth y la antípoda oscura (conocidos como drows).
</p>
<p>
	Cada nación élfica, tomo una decisión en lo referente al uso de la magia.
	Los Altos Elfos, lograron dominar las sutilezas de la Alta Magia,
	mientras que los elfos oscuros, sucumbieron al poder del Caos, posiblemente
	con la intención inicial de usar su devastador poder con fines egoístas.
	Respecto a los salvajes elfos, su poder sigue siendo una incógnita.
	Es posible, que al igual que los escurridizos dragones de jade,
	el pueblo esmeralda haya resistido el poder cáustico gracias a su devoción
	por la defensa del bosque de Silvania y sus virtudes ancestrales.
</p> 