<header>
	<h2>El Poder mágico</h2>
</header>
<h3>Los vientos de la magia</h3>
<p>
	La magia es una fuerza que debe temerse y respetarse. Toda la magia tiene su origen
	en la misma fuente: los impredecibles vientos de la magia. Este vendaval mágico 
	se extiende por todo el mundo portando consigo el poder de realizar grandes obras o grandes maldades.
</p>