<table>
	<thead>
		<tr>
			<th width='33%'>Melee</th>
			<th width='33%'>Rango</th>
			<th width='33%'>Defensa</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @heroe.ataque %></td>
			<td><%= @heroe.rango %></td>
			<td><%= @heroe.defensa %></td>
		</tr>
	</tbody>
</table>