<section>
	<header>
		<h2><center><%= @heroe.personaje %></center></h2>
	</header>
	<a href=<%= "hero/#{@heroe.id }" %> class="feature-image">
		<img src="../images/clases/<%= @heroe.personaje %>.png" alt=<%= @heroe.personaje %> /, id='box'>
	</a>
</section>